<!-- <p>add-goods-receipt works!</p> -->
<!-- <p>add-goods-receipt works!</p> -->
<div class="container-fluid">
    <form [formGroup]="goodsReceipt" (ngSubmit)="addCode()">
        <h2><mat-icon class="back" routerLink="/purchase/goods-receipt-list">arrow_back</mat-icon>Goods Receipt</h2>
        <div class="row">
            <div class="col-6 py-2">
                <span for="" class="">Reference PO</span>
                <input type="text" class="form-control " placeholder="Enter reference po" formControlName="referencePo">
              </div>
  
            <div class="col-6 py-2">
                <span for="" class="">Posting Date</span>
                <input type="date" class="form-control "  formControlName="postingDate" placeholder="Enter Posting Date">
            </div>
           
        </div>
  
        <div class="row">
          <div class="col-6 py-2">
            <span for="" class="">Document Date</span>
                <input type="date" class="form-control "  formControlName="documentDate" placeholder="Enter Document Date">
          </div>  
        </div>
  
        <h2>Item Data</h2>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button type="button" class="btn btn-primary m-1" (click)="addItem()"
                    style="color: white;background-color: #00acff;">Add Item</button>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th *ngIf="detail.controls.length > 1">Actions</th>
                            <th>Product ID</th>
                            <th>Plant</th>
                            <th>Storage Location</th>
                            <th>PO Qty</th>
                            <th>GR Qty</th>
                            <th>UOM</th>
                            <th>G/L Account</th>
                            <th>Stock Type</th>
                            
                        </tr>
                    </thead>
  
                    <tbody formArrayName="itemList">
                        <tr *ngFor="let pruchaseOrder of detail.controls; let i = index;" [formGroupName]="i">
                            <td *ngIf="detail.controls.length > 1">
                                <mat-icon style="cursor:pointer" (click)="deleterow(i)">delete</mat-icon>
                            </td>
                            <td>
                              <input type="text" class="form-control " placeholder="Enter Product ID"
                                  formControlName="productId">
                                
                            <!-- <div *ngIf="goodsReceipt.controls['productId'].touched && goodsReceipt.controls['productId'].touched && goodsReceipt.controls['productId'].hasError('required') && !isSubmitted">
                              <p class="error-message">Product Id Date is required</p>
                              </div>
                              <div *ngIf="isSubmitted && goodsReceipt.controls['productId'].hasError('required')">
                              <p class="error-message">Product Id Date is required</p>
                            </div> -->

                          </td>
                            <td>
                                <select class="form-select " aria-label="Default select example"
                                    formControlName="plant">
                                    <option [selected]="goodsReceipt.value.plant === ''" value="" hidden>Select
                                        Plant</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                            <td>
                              <select class="form-select " aria-label="Default select example"
                                  formControlName="storageLocation">
                                  <option [selected]="goodsReceipt.value.storageLocation === ''" value="" hidden>Select
                                    storage Location</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                              </select>
                          </td>
                            <td>
                                <input type="number" class="form-control " placeholder="Enter PO Qty"
                                    formControlName="poQty">
                            </td>
                            <td>
                                <input type="number" class="form-control " placeholder="Enter GR Qty"
                                    formControlName="grQty">
                            </td>
                            <td>
                                <select class="form-select " aria-label="Default select example"
                                    formControlName="uom">
                                    <option [selected]="goodsReceipt.value.uom === ''" value="" hidden>Select
                                        uom</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select " aria-label="Default select example"
                                    formControlName="glAccount">
                                    <option [selected]="goodsReceipt.value.glAccount === ''" value="" hidden>Select
                                        G/L Account</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select " aria-label="Default select example"
                                    formControlName="stockType">
                                    <option [selected]="goodsReceipt.value.stockType === ''" value="" hidden>Select
                                        stock Type</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                            
                           
                        </tr>
                    </tbody>
                </table>
            </div>
  
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary" style="background-color: #00acff;">Save</button>
        </div>
    </form>
  </div>
  