<!-- <p>add-inco-term works!</p> -->
<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
  <h2><mat-icon class="back" routerLink="/settings/inco-term-list">arrow_back</mat-icon>Inco Term</h2>

  <form [formGroup]="incoTerm" (ngSubmit)="submitData()">
    <div class="row ">
      <div class="col-6 py-2 ">
        <label for="">Inco Term Id <sup>*</sup></label>
        <input type="number" formControlName="inc_terms_code" class="form-control" placeholder="Enter Inco Term Id" />
        <div
          *ngIf="incoTerm.controls['inc_terms_code'].touched && incoTerm.controls['inc_terms_code'].dirty && incoTerm.controls['inc_terms_code'].hasError('required') && !isSubmitted">
          <p class="error-message">Inco Term is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && incoTerm.controls['inc_terms_code'].hasError('required')">
          <p class="error-message">Inco Term is mandatory</p>
        </div>
      </div>
      <div class="col-6 py-2 ">
        <label for="">Description<sup>*</sup></label>
        <input type="text" formControlName="description" class="form-control" placeholder="Enter Description" />
        <div
          *ngIf="incoTerm.controls['description'].touched && incoTerm.controls['description'].dirty && incoTerm.controls['description'].hasError('required') && !isSubmitted">
          <p class="error-message">Description is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && incoTerm.controls['description'].hasError('required')">
          <p class="error-message">Description is mandatory</p>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end py-2">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>

  </form>



</div>