<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h3 class="mt-2">
        <mat-icon class="back" routerLink="/sales/sales-order-list/">arrow_back</mat-icon> Sales Order
    </h3>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="salesFormGroup" (ngSubmit)="submitData()">

                <div class="row border">
                    <div class="col-6 py-2">
                        <label class="">Order Type</label>
                        <select class="form-select " aria-label="Default select example" formControlName="orderType">
                            <option [selected]="salesFormGroup.value.order === ''" value="" hidden>Select Order Type
                            </option>
                            <option value="Domestics">Domestics</option>
                            <option value="Export">Export</option>
                            <option value="Return">Return</option>
                        </select>
                        <div
                        *ngIf="salesFormGroup.controls['orderType'].touched && salesFormGroup.controls['orderType'].touched && salesFormGroup.controls['orderType'].hasError('required') && !isSubmitted">
                        <p class="error-message">Order Type is mandatory</p>
                    </div>
                    <div *ngIf="isSubmitted && salesFormGroup.controls['orderType'].hasError('required')">
                        <p class="error-message">Order Type is mandatory</p>
                    </div>

                    </div>
                    <div class="col-6 py-2">
                        <label class="">Sales Org</label>
                        <select class="form-select " aria-label="Default select example" formControlName="saleOrgId" (change)="handleSales($event)">
                            <option [selected]="salesFormGroup.value.saleOrgId === ''" value="" hidden>Select Sales Org
                            </option>
                            <option *ngFor="let list of salesData" [value]="list._id">
                                {{list.salesOrg}}</option>
                        </select>
                        <div
                        *ngIf="salesFormGroup.controls['saleOrgId'].touched && salesFormGroup.controls['saleOrgId'].touched && salesFormGroup.controls['saleOrgId'].hasError('required') && !isSubmitted">
                        <p class="error-message">Sales Org is mandatory</p>
                    </div>
                    <div *ngIf="isSubmitted && salesFormGroup.controls['saleOrgId'].hasError('required')">
                        <p class="error-message">Sales Org is mandatory</p>
                    </div>
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Distribution Channel</label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="distributionChannelsId" (change)="handleDistribution($event)">
                            <option [selected]="salesFormGroup.value.distributionChannelsId === ''" value="" hidden>
                                Select
                                Distribution Channel</option>
                            <option *ngFor="let list of distributionDetail" [value]="list._id">
                                {{list.distributionChannel}}
                            </option>
                        </select>
                        <div
                        *ngIf="salesFormGroup.controls['distributionChannelsId'].touched && salesFormGroup.controls['distributionChannelsId'].touched && salesFormGroup.controls['distributionChannelsId'].hasError('required') && !isSubmitted">
                        <p class="error-message">Distribution Channels is mandatory</p>
                    </div>
                    <div *ngIf="isSubmitted && salesFormGroup.controls['distributionChannelsId'].hasError('required')">
                        <p class="error-message">Distribution Channels is mandatory</p>
                    </div>
                    </div>

                    <div class="col-6 py-2">
                        <label class="">Division</label>
                        <select class="form-select " aria-label="Default select example" formControlName="divisionId" (change)="handleDivision($event)">
                            <option [selected]="salesFormGroup.value.divisionId=== ''" value="" hidden>Select Division
                            </option>
                            <option *ngFor="let list of divisionDetail" [value]="list._id">{{list.divion}}</option>
                        </select>
                        <div
                        *ngIf="salesFormGroup.controls['divisionId'].touched && salesFormGroup.controls['divisionId'].touched && salesFormGroup.controls['divisionId'].hasError('required') && !isSubmitted">
                        <p class="error-message">Division is mandatory</p>
                    </div>
                    <div *ngIf="isSubmitted && salesFormGroup.controls['divisionId'].hasError('required')">
                        <p class="error-message">Division is mandatory</p>
                    </div>
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Customer Id</label>
                        <select class="form-select " aria-label="Default select example" formControlName="customerId" (change)="handleCustomer($event)">
                            <option [selected]="salesFormGroup.value.customerId=== ''" value="" hidden>Select Customer
                                Id
                            </option>
                            <option *ngFor="let list of customerMasterDetail" [value]="list.customerId">{{list.customerId}}</option>
                            
                        </select>
                        <div
                        *ngIf="salesFormGroup.controls['customerId'].touched && salesFormGroup.controls['customerId'].touched && salesFormGroup.controls['customerId'].hasError('required') && !isSubmitted">
                        <p class="error-message">Customer Id is mandatory</p>
                    </div>
                    <div *ngIf="isSubmitted && salesFormGroup.controls['customerId'].hasError('required')">
                        <p class="error-message">Customer Id is mandatory</p>
                    </div>
                    </div>

                    <!-- <div class="col-6 py-2">
                        <label class="">Customer Name</label>
                        <input type="text" class="form-control " placeholder="Enter customer Address"
                            formControlName="customerName">
                        <div
                            *ngIf="salesFormGroup.controls['customerName'].touched && salesFormGroup.controls['customerName'].touched && salesFormGroup.controls['customerName'].hasError('required') && !isSubmitted">
                            <p class="error-message">Customer Name is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && salesFormGroup.controls['customerName'].hasError('required')">
                            <p class="error-message">Customer Name is mandatory</p>
                        </div>
                    </div> -->
                    <div class="col-6 py-2">
                        <label class="">Customer Address</label>
                        <input type="text" class="form-control " placeholder="Enter customer Address"
                            formControlName="customerAddress">
                        <div
                            *ngIf="salesFormGroup.controls['customerAddress'].touched && salesFormGroup.controls['customerAddress'].touched && salesFormGroup.controls['customerAddress'].hasError('required') && !isSubmitted">
                            <p class="error-message">Customer Address is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && salesFormGroup.controls['customerAddress'].hasError('required')">
                            <p class="error-message">Customer Address is mandatory</p>
                        </div>
                    </div>

                    <div class="col-6 py-2">
                        <label>Sales Order <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Sales Order"
                            formControlName="salesOrder">
                        <div
                            *ngIf="salesFormGroup.controls['salesOrder'].touched && salesFormGroup.controls['salesOrder'].touched && salesFormGroup.controls['salesOrder'].hasError('required') && !isSubmitted">
                            <p class="error-message">Sale Order is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && salesFormGroup.controls['salesOrder'].hasError('required')">
                            <p class="error-message">Sale Order is mandatory</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Customer PO <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Customer PO"
                            formControlName="customerPo">
                        <div
                            *ngIf="salesFormGroup.controls['customerPo'].touched && salesFormGroup.controls['customerPo'].touched && salesFormGroup.controls['customerPo'].hasError('required') && !isSubmitted">
                            <p class="error-message">Customer PO is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && salesFormGroup.controls['customerPo'].hasError('required')">
                            <p class="error-message">Customer PO is mandatory</p>
                        </div>
                    </div>

                    <div class="col-6 py-2">
                        <label class="">Customer PO Date <sup>*</sup></label>
                        <input type="date" class="form-control " placeholder="Enter PO Date"
                            formControlName="customerPoDate">
                        <div
                            *ngIf="salesFormGroup.controls['customerPoDate'].touched && salesFormGroup.controls['customerPoDate'].touched && salesFormGroup.controls['customerPoDate'].hasError('required') && !isSubmitted">
                            <p class="error-message">Customer PO Date is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && salesFormGroup.controls['customerPoDate'].hasError('required')">
                            <p class="error-message">PO Date is mandatory</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Req Delivery Date <sup>*</sup></label>
                        <input type="date" class="form-control " placeholder="Enter Req Delivery Date"
                            formControlName="requestedDeliveryDate">
                        <div
                            *ngIf="salesFormGroup.controls['requestedDeliveryDate'].touched && salesFormGroup.controls['requestedDeliveryDate'].touched && salesFormGroup.controls['requestedDeliveryDate'].hasError('required') && !isSubmitted">
                            <p class="error-message">Req Delivery Date is mandatory</p>
                        </div>
                        <div
                            *ngIf="isSubmitted && salesFormGroup.controls['requestedDeliveryDate'].hasError('required')">
                            <p class="error-message">Req Delivery Date is mandatory</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Company Code</label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="companyCodeId" (change)="handleCountry($event)">
                            <option [selected]="salesFormGroup.value.companyCodeId === ''" value="" hidden>Select
                                Company Code
                            </option>
                            <option *ngFor="let company of companyCodeDetails" [value]="company._id">
                                {{company.companyCode}}</option>

                        </select>
                    </div>

                    <div class="col-6 py-2">
                        <label class="">Company Currency</label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="companyCurrency"
                            [ngStyle]="{'pointer-events': !salesFormGroup.value.companyCodeId ? 'none' :  'all'}">
                            <option [selected]="salesFormGroup.value.companyCurrency=== ''" value="" hidden>Select
                                Company
                                Currency</option>
                            <option *ngFor="let company of companyCodeDetails" [value]="company.currencyId">
                                {{company.currencyName}}</option>
                        </select>
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Transaction Currency</label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="transactionCurrency"
                            [ngStyle]="{'pointer-events': !salesFormGroup.value.customerId ? 'none' :  'all'}">
                            <option [selected]="salesFormGroup.value.transactionCurrency=== ''" value="" hidden>Select
                                Transaction Currency</option>
                            <option *ngFor="let list of currencyDetails" [value]="list._id">{{list.code}}</option>
                           
                        </select>
                    </div>
                    <div class="col-6 py-2">
                        <label class=""> Text</label>
                        <input type="text" class="form-control " placeholder=" Enter Text" formControlName="text">
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Order Status</label>
                        <select class="form-select " aria-label="Default select example" formControlName="orderStatusId" (change)="handleOrder($event)">
                            <option [selected]="salesFormGroup.value.orderStatusId === ''" value="" hidden>Select Order
                                Status
                            </option>
                            <option *ngFor="let list of orderStatusDetail" [value]="list._id">{{list.orderStatus}}
                            </option>

                        </select>
                        <div
                            *ngIf="salesFormGroup.controls['orderStatusId'].touched && salesFormGroup.controls['orderStatusId'].touched && salesFormGroup.controls['orderStatusId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Order Status is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && salesFormGroup.controls['orderStatusId'].hasError('required')">
                            <p class="error-message">Order Status is mandatory</p>
                        </div>
                    </div>


                    <div class="col-6 py-2">
                        <label class="">Exchange Rate</label>
                        <input type="text" class="form-control " placeholder="Enter Exchange Rate"
                            formControlName="exchangeRate">
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Mode of Transport</label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="modeOfTransport">
                            <option [selected]="salesFormGroup.value.modeOfTransport=== ''" value="" hidden>Select Mode
                                of
                                Transport</option>
                            <option *ngFor="let list of motDetails" [value]="list._id">{{list.modeOfTransport}}</option>

                        </select>
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Total Net Weight</label>
                        <input type="text" class="form-control " placeholder="Calculated Total Net Weight"
                            formControlName="totalNetWeight">
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Total Gross Wt</label>
                        <input type="text" class="form-control " placeholder="Calculated Total Gross Wt"
                            formControlName="totalGrossWeight">
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Total Volume</label>
                        <input type="text" class="form-control " placeholder="Calculated Total Volume"
                            formControlName="totalVolume">
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Payment Term</label>
                        <select class="form-select " aria-label="Default select example" formControlName="paymentTerms">
                            <option [selected]="salesFormGroup.value.paymentTerms === ''" value="" hidden>Select Payment
                                Term
                            </option>
                            <option *ngFor="let list of paymentTermDetail" [value]="list._id">{{list.paymentTerm}}
                            </option>

                        </select>
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Billing Block</label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="billingBlockId" (change)="handleBillingBlock($event)">
                            <option [selected]="salesFormGroup.value.billingBlockId=== ''" value="" hidden>Select
                                Billing Block
                            </option>
                            <option *ngFor="let list of billingBlockDetail" [value]="list._id">{{list.billingBlock}}</option>
                           
                        </select>
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Customer Account</label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="customerAcctAss">
                            <option [selected]="salesFormGroup.value.customerAcctAss === ''" value="" hidden>Select
                                Customer
                                Account</option>
                            <option *ngFor="let list of customerAccountAsstGroup" [value]="list._id">{{list.customerAccountAG}}</option>
                           
                        </select>
                        <div
                            *ngIf="salesFormGroup.controls['customerAcctAss'].touched && salesFormGroup.controls['customerAcctAss'].touched && salesFormGroup.controls['customerAcctAss'].hasError('required') && !isSubmitted">
                            <p class="error-message">Customer Account is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && salesFormGroup.controls['customerAcctAss'].hasError('required')">
                            <p class="error-message">Customer Account is mandatory</p>
                        </div>
                    </div>


                    <div class="col-6 py-2">
                        <label class="">Net Price <sup>*</sup></label>
                        <input type="number" class="form-control " placeholder="Enter Net Price"
                            formControlName="netPrice">
                        <div
                            *ngIf="salesFormGroup.controls['netPrice'].touched && salesFormGroup.controls['netPrice'].touched && salesFormGroup.controls['netPrice'].hasError('required') && !isSubmitted">
                            <p class="error-message">Net Price is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && salesFormGroup.controls['netPrice'].hasError('required')">
                            <p class="error-message">Net Price is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2">
                        <label class="">Net Tax <sup>*</sup></label>
                        <input type="number" class="form-control " placeholder="Enter Net Tax" formControlName="netTax">
                        <div
                            *ngIf="salesFormGroup.controls['netTax'].touched && salesFormGroup.controls['netTax'].touched && salesFormGroup.controls['netTax'].hasError('required') && !isSubmitted">
                            <p class="error-message">Net Tax is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && salesFormGroup.controls['netTax'].hasError('required')">
                            <p class="error-message">Net Tax is mandatory</p>
                        </div>
                    </div>

                    <div class="col-6 py-2">
                        <label class="">Net Discount <sup>*</sup></label>
                        <input type="number" class="form-control " placeholder="Enter Net Discount"
                            formControlName="netDiscount">
                        <div
                            *ngIf="salesFormGroup.controls['netDiscount'].touched && salesFormGroup.controls['netDiscount'].touched && salesFormGroup.controls['netDiscount'].hasError('required') && !isSubmitted">
                            <p class="error-message">Net Discount is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && salesFormGroup.controls['netDiscount'].hasError('required')">
                            <p class="error-message">Net Discount is mandatory</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label class="">Net Freight <sup>*</sup></label>
                        <input type="number" class="form-control " placeholder="enter Net Freight"
                            formControlName="netFreight">
                        <div
                            *ngIf="salesFormGroup.controls['netFreight'].touched && salesFormGroup.controls['netFreight'].touched && salesFormGroup.controls['netFreight'].hasError('required') && !isSubmitted">
                            <p class="error-message">Net Freight is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && salesFormGroup.controls['netFreight'].hasError('required')">
                            <p class="error-message">Net Freight is mandatory</p>
                        </div>
                    </div>

                    <div class="col-6 py-2">
                        <label class="">Other Charges <sup>*</sup></label>
                        <input type="number" class="form-control " placeholder="Other Charges"
                            formControlName="otherCharges">
                        <div
                            *ngIf="salesFormGroup.controls['otherCharges'].touched && salesFormGroup.controls['otherCharges'].touched && salesFormGroup.controls['otherCharges'].hasError('required') && !isSubmitted">
                            <p class="error-message">Other Charges is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && salesFormGroup.controls['otherCharges'].hasError('required')">
                            <p class="error-message">Other Charges is mandatory</p>
                        </div>
                    </div>

                </div>

                <div class="row border mt-2">
                    <div class="col-12 ">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <h3 class="py-2">
                                    Item Data
                                </h3>
                            </div>
                            <div
                                class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-end align-items-center">
                                <button class="btn btn-primary" type="button" (click)="addSalesItem()">Add</button>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th *ngIf="salesOrderArray.controls.length > 1">Actions</th>
                                        <th>Product Id</th>
                                        <th>Product Description</th>
                                        <th>Order Qty</th>
                                        <th>UOM</th>
                                        <th>Plant</th>
                                        <th>Storage Location</th>
                                        <th>Batch/Serial #</th>
                                        <th>Price Amount</th>
                                        <th>Per Unit Price</th>
                                        <th>Pricing Unit</th>
                                        <th>Pricing UOM</th>
                                        <th>Tax</th>
                                        <th>Per Unit Tax</th>
                                        <th>Discount</th>
                                        <th>Per Unit Discount</th>
                                        <th>Freight</th>
                                        <th>Per Unit Freight</th>
                                        <th>Other Charges</th>
                                        <th>Company Currency</th>
                                        <th>Transaction Currency</th>
                                        <th>Exchange Rate</th>
                                        <th>Pricing Date</th>
                                        <th>Net Weight</th>
                                        <th>Gross Weight</th>
                                        <th>Volume</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="itemList">
                                    <tr *ngFor="let sales of salesOrderArray.controls; let i = index;"
                                        [formGroupName]="i">
                                        <td *ngIf="salesOrderArray.controls.length > 1">
                                            <mat-icon style="cursor:pointer"
                                                (click)="deleteSalesItem(i)">delete</mat-icon>
                                        </td>
                                        <td>
                                            <select class="form-select " aria-label="Default select example"
                                                formControlName="materialId" (change)="handleMaterial($event,i)">
                                                <option [selected]="salesFormGroup.value.materialId === ''" value=""
                                                    hidden>
                                                    Select
                                                    Product Id</option>
                                                    <option *ngFor="let list of productDeatail" [value]="list.materialId">{{list.materialId}}</option>

                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control "
                                                placeholder="Autofetched Product Description"
                                                formControlName="materialDescription" />
                                        </td>
                                      <td>
                                            <input type="number" class="form-control " placeholder="Oredr Qty"
                                                formControlName="ordQty">


                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder="Enter UOM"
                                                formControlName="uom">

                                        </td>
                                        <td>
                                            
                                            <select class="form-select " aria-label="Default select example"
                                                formControlName="plant" >
                                                <option [selected]="salesFormGroup.value.plant === ''" value=""
                                                    hidden>
                                                    Select
                                                    Plant </option>
                                                    <!-- <option *ngFor="let list of productDeatail" [value]="list.materialId">{{list.materialId}}</option> -->
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>


                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder="Auto Storage Location"
                                                formControlName="storageLocation">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder="Enter Batch"
                                                formControlName="batchSerial">

                                        </td>
                                        <td>
                                            <input type="number" class="form-control " placeholder="Enter Price Amount"
                                                formControlName="priceAmount">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control"
                                                placeholder="Enter Per Unit Price" formControlName="priceUnitPrice">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control " placeholder="Pricing Unit"
                                                formControlName="priceUnit">
                                        </td>
                                        <td>
                                            <select class="form-select " aria-label="Default select example"
                                                formControlName="priceUOM">
                                                <option [selected]="salesFormGroup.value.priceUOM === ''" value=""
                                                    hidden>
                                                    Select
                                                    Pricing UOM</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder=" Enter Tax"
                                                formControlName="tax">

                                        </td>
                                        <td>
                                            <input type="number" class="form-control " placeholder="Per Unit Tax"
                                                formControlName="perUnitTax">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control " placeholder="Discount"
                                                formControlName="discount">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control " placeholder="Per Unit Discount"
                                                formControlName="perUnitDiscount">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control " placeholder="Freight"
                                                formControlName="freight">

                                        </td>
                                        <td>
                                            <input type="number" class="form-control " placeholder="Per Unit Freight"
                                                formControlName="perUnitFreight">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control " placeholder="Other Charges"
                                                formControlName="otherCharges">
                                        </td>
                                        <td>
                                           
                                                <select class="form-select " aria-label="Default select example"
                                                formControlName="companyCurrency" 
                                                >
                                                <option [selected]="salesFormGroup.value.companyCurrency=== ''" value="" hidden>Select
                                                    Company
                                                    Currency</option>
                                                <option *ngFor="let company of companyCodeDetails" [value]="company.currencyId" >
                                                    {{company.currencyName}}</option>
                                            </select>
                                        </td>
                                        <td>
                                           
                                                <select class="form-select " aria-label="Default select example"
                                                formControlName="transactionCurrency"
                                                >
                                                <option [selected]="salesFormGroup.value.transactionCurrency=== ''" value="" hidden>Select
                                                    Transaction Currency</option>
                                                <option *ngFor="let list of customerCurrency" [value]="list.currencyId">{{list.currencyName}}</option>
                                                <!-- <option *ngFor="let list of customerMasterDetail" [value]="list.customerId">{{list.transactionCurrency}}</option> -->
                    
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder="Exchange Rate"
                                                formControlName="exchangeRate">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder="price Date"
                                                formControlName="priceDate">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control " placeholder="Net Weight"
                                                formControlName="netWeight">

                                        </td>
                                        <td>
                                            <input type="number" class="form-control " placeholder="Gross Weight"
                                                formControlName="grossWeight">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control " placeholder="Volume"
                                                formControlName="volumn">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>