<!-- <p>add-inco-term works!</p> -->
<div class="container-fluid">
    <h2><mat-icon class="back" routerLink="/settings/inco-term-list">arrow_back</mat-icon>Inco Term</h2>

    <form [formGroup]="incoTerm" (ngSubmit)="submitData()">
        <div class="row ">
            <div class="col-6 py-1">
                <label for="">Inco Term Id <sup>*</sup></label>
                <input type="number" formControlName="inc_terms_code" class="form-control"
                    placeholder="Enter Inco Term Id" />

            </div>
            <div class="col-6 py-1">
                <label for="">Description<sup>*</sup></label>
                <input type="text" formControlName="description" class="form-control" placeholder="Enter Description" />

            </div>
        </div>
        <div class="col-6 py-2">
            <button type="submit" class="btn btn-primary"> Submit </button>
        </div>

    </form>



</div>