<div class="container-fluid ">
  <div class="row mt-3">
    <div class="form-group">
      <label>Filter</label>
      <input type="text" class="form-control" placeholder="Enter PO Type / Description" (input)="handleFilter($event)">
    </div>
    <div class="col-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
        <button (click)="nextPage('/settings/add-po-type')" class="btn btn-primary " type="button"
          >Add PO</button>

        <button class="btn btn-danger" type="button" >
          <mat-icon style="width: 15px; height: 15px;">delete</mat-icon>
          Delete Selected PO</button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Import PO</span>
          </button>
          <button mat-menu-item>
            <span>Export PO</span>
          </button>
          <button mat-menu-item>
            <span>Sample PO Sheet</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="row mt-4 ms-2">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">SL</th>
              <th scope="col">PO Type</th>
              <th scope="col">Description </th>
              <th scope="col">Item Number</th>
              <th scope="col">Internal Number</th>
              <th scope="col">External Number</th>
              <th scope="col">Action</th>
              <th scope="col"><input type="checkbox" > Select All</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of potypeDetail; let i=index">
              <td>{{i+1}}</td>
              <td>{{list.poType}}</td>
              <td>{{list.poTypeDescription}}</td>
              <td>{{list.itemNumberInterval}}</td>
              <td>{{list.internalNumberRangeAssignment}}</td>
              <td>{{list.externalNumberRangeAssignment}}</td>
              <td>
                <div class="d-flex">
                  <div>
                    <mat-icon [routerLink]="'/settings/update-po-type/'+list._id">edit</mat-icon>
                  </div>
                  <div>
                    <mat-icon (click)="deleteRecords(list)">delete</mat-icon>
                  </div>
                </div>
              </td>
              <td><input type="checkbox" ></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>