<div class="container-fluid ">
  <div class="row mt-3">
    <div class="col-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
        <button (click)="nextPage('/settings/add-plant-data')" class="btn btn-primary " type="button"
        >Add Plant Data</button>
        <button class="btn btn-danger" type="button" >
          <mat-icon style="line-height: 34px;">delete</mat-icon>
          Delete Selected Plant Data</button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Import Plant Data</span>
          </button>
          <button mat-menu-item>
            <span>Export Plant Data</span>
          </button>
          <button mat-menu-item>
            <span>Sample Plant Data Sheet</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="row mt-4 ms-2">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">S.No. </th>
              <th scope="col">Plant Code</th>
              <th scope="col">Name </th>
              <th scope="col">Contact Number</th>
              <th scope="col">Country</th>
              <th scope="col">Address</th>
              <th scope="col">Action</th>
              <th scope="col"><input type="checkbox" [checked]="selectAll" (change)="selectdata($event)"> Select All</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of plantDataDetails; let i = index;">
              <td scope="row">{{i+1}}</td>
              <td>{{list.plantCode}}</td>
              <td>{{list.name1}}</td>
              <td>{{list.contactNumber}}</td>
              <td>{{list.countryName}}</td>
              <td>{{list.address}}</td>
              <td>
                <div class="d-flex">
                  <div>
                    <mat-icon [routerLink]="'/settings/edit-plant-data/'+list._id">edit</mat-icon>
                  </div>
                  <div>
                    <mat-icon>delete</mat-icon>
                  </div>
                </div>
              </td>
              <td><input type="checkbox" [checked]="list.check" (change)="particularcheck($event,i)"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>