<!-- <div class="sidebar close">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">Insurance CRM</span>
    </div>
    <ul class="nav-links">
        <li>
            <a>
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name">Dashboard</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a>
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Master</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">Master</a></li>
                <li><a (click)="nextPage('/master/agent-list',{main:'Master',name:'POSP'})">POSP</a></li>
                <li><a (click)="nextPage('/master/policy-plan-list',{main:'Master',name:'Policy Plan'})">Policy</a></li>
                <li><a (click)="nextPage('/master/customer-list',{main:'Master',name:'Customer'})">Customer</a></li>
                <li><a (click)="nextPage('/master/financial-period-list',{main:'Master',name:'Financial Period'})">Financial
                        Period</a></li>

            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a>

                    <mat-icon fontSet="material-symbols-outlined">policy</mat-icon>
                    <span class="link_name">Buy Policy</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">Buy Policy</a></li>
                <li><a (click)="nextPage('/applyPolicy/apply-policy-list',{main:'Buy Policy',name:'Buy Policy'})">Buy
                        Policy</a></li>

            </ul>

        </li>

        <li>
            <div class="iocn-link">
                <a>
                    <i class='bx bx-cog'></i>
                    <span class="link_name">Setting</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu setting-li">
                <li><a class="link_name">Setting</a></li>
                <li><a (click)="nextPage('/setting/company-code-list',{main:'Setting',name:'Company Code'})">Company
                        Code</a></li>
                <li><a (click)="nextPage('/setting/rto-state-list',{main:'Setting',name:'RTO State'})">RTO State
                        Code</a></li>
                <li><a (click)="nextPage('/setting/vehicle-category-list',{main:'Setting',name:'Vehicle Category'})">Vehicle
                        Category</a></li>
                <li><a (click)="nextPage('/setting/insurance-type-list',{main:'Setting',name:'Insurance Type'})">Insurance
                        Type</a></li>
                <li><a (click)="nextPage('/master/vendor-list',{main:'Setting',name:'Insurer'})">Insurer</a></li>
                <li><a (click)="nextPage('/setting/make-list',{main:'Setting',name:'Make'})">Make</a></li>
                <li><a (click)="nextPage('/setting/model-list',{main:'Setting',name:'Model'})">Model</a></li>
                <li><a (click)="nextPage('/setting/category-list',{main:'Setting',name:'Category'})">Category</a></li>
                <li><a (click)="nextPage('/setting/policy-type-list',{main:'Setting',name:'Policy Type'})">Policy
                        Type</a></li>
                <li><a
                        (click)="nextPage('/setting/year-of-manufacture-list',{main:'Setting',name:'Year Of Manufacture'})">Year
                        Of Manufacture</a></li>

            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a>
                    <mat-icon fontSet="material-symbols-outlined">report</mat-icon>
                    <span class="link_name">POSP</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">POSP</a></li>
                <li><a (click)="nextPage('/posp/agent-report-list',{main:'POSP',name:'Agent Report'})">Agent Report</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a>
                    <mat-icon fontSet="material-symbols-outlined">report</mat-icon>
                    <span class="link_name">Reports</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">Reports</a></li>
                <li><a>Reports </a></li>

            </ul>
        </li>

        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <img src="assets/logs/profile.png" alt="profileImg">
                </div>
                <div class="name-job">
                    <div class="profile_name">Developers</div>
                    <div class="job">Web Desginer</div>
                </div>
                <i class='bx bx-log-out'></i>
            </div>
        </li>
    </ul>
</div>

<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu' (click)="closeNav()"></i>
        <span class="text"><b>{{subFolderName | uppercase}}</b> / <span class="screenName">{{SelectedName |
                uppercase}}</span></span>
        <div class="logout">
            <span style="position: relative; right: 20px;">{{userName}}</span>
            <img src="assets/logs/profile.png" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()"
                style="width: 40px;position: relative; right: 10px;" alt="profileImg">
            <mat-menu #menu="matMenu">
                <ng-container *ngIf="isShowMenu">
                    <button mat-menu-item
                        (click)="$event.stopPropagation();isShowMenu = false; isShowProfile = !isShowProfile">My
                        Profile</button>
                    <button mat-menu-item
                        (click)="$event.stopPropagation();isShowMenu = false; isShowForgot = !isShowForgot">Reset
                        Password</button>
                    <button mat-menu-item
                        (click)="$event.stopPropagation();isShowMenu = false; isShowClear=!isShowClear">Clear
                        User</button>
                    <button mat-menu-item (click)="logout()">Logout</button>
                </ng-container>
                <ng-container *ngIf="isShowForgot">
                    <app-reset-password
                        (closeMatMenu)="isShowMenu = true;isShowForgot=!isShowForgot"></app-reset-password>
                </ng-container>
                <ng-container *ngIf="isShowClear">
                    <app-clear-user (closeMatMenu)="isShowMenu = true;isShowClear=!isShowClear"></app-clear-user>
                </ng-container>
                <ng-container *ngIf="isShowProfile">
                    <app-my-profile (closeMatMenu)="isShowMenu = true;isShowProfile=!isShowProfile"></app-my-profile>
                </ng-container>
            </mat-menu>


        </div>
    </div>

</section> -->

<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">Insurance CRM</span>
    </div>
    <ul class="nav-links">

        <li *ngFor="let list of screenLevelDetails; let i = index"
            [ngClass]="{'showMenu': isFullScreen && sampleOpen === list.menu}">
            <!-- *ngIf="list.visible" -->
            <div class="iocn-link" *ngIf="list.visible">
                <a>
                    <i *ngIf="list.menu === 'setting'" [class]='list.icon'></i>
                    <mat-icon fontSet="material-symbols-outlined" class="sideHeading"
                        *ngIf="list.menu ===  'Dashboard' ||list.menu ===  'Master' ||   list.menu === 'Setting' || list.menu === 'POSP' ">{{list.icon}}</mat-icon>

                    <span class="link_name" style="text-transform: capitalize;">{{list.menu}}</span>
                </a>
                <i class='bx bxs-chevron-down arrow' (click)="sampleOpen = sampleOpen !== list.menu ? list.menu : ''"
                    *ngIf="list.subMenu.length !==0"></i>
            </div>
            <ul class="sub-menu"
                [ngClass]="{'setting-li':list.menu === 'setting', 'container':(list.menu  === 'setting' && !isMenu)}">
                <li>
                    <a [ngClass]="{'col-12':(list.menu  === 'setting' && !isMenu)}" class="link_name"
                        style="text-transform: capitalize;">{{list.menu}}</a>
                </li>
                <div>
                    <li *ngFor="let subListMenu of list.subMenu; let i = index">
                        <!-- *ngIf="subListMenu.visible" -->
                        <a class="sub-menu-item" *ngIf="subListMenu.visible"
                            (click)="nextPage(('/'+subListMenu.routerLink),{main:list.menu, name:subListMenu.subMenuName})">{{subListMenu.subMenuName}}</a>
                    </li>
                </div>

            </ul>
        </li>
    </ul>

</div>
<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu' (click)="closeNav()"></i>
        <span class="text"><b>{{subFolderName | uppercase}}</b> / <span class="screenName">{{SelectedName |
                uppercase}}</span></span>
        <div class="logout">
            <span style="position: relative; right: 20px;">{{userName}}</span>
            <img src="assets/logs/profile.png" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()"
                style="width: 40px;position: relative; right: 10px;" alt="profileImg">
            <mat-menu #menu="matMenu">
                <ng-container *ngIf="isShowMenu">
                    <button mat-menu-item
                        (click)="$event.stopPropagation();isShowMenu = false; isShowProfile = !isShowProfile">My
                        Profile</button>
                    <button mat-menu-item
                        (click)="$event.stopPropagation();isShowMenu = false; isShowForgot = !isShowForgot">Reset
                        Password</button>
                    <button mat-menu-item
                        (click)="$event.stopPropagation();isShowMenu = false; isShowClear=!isShowClear">Clear
                        User</button>
                    <button mat-menu-item (click)="logout()">Logout</button>
                </ng-container>
                <ng-container *ngIf="isShowForgot">
                    <app-reset-password
                        (closeMatMenu)="isShowMenu = true;isShowForgot=!isShowForgot"></app-reset-password>
                </ng-container>
                <ng-container *ngIf="isShowClear">
                    <app-clear-user (closeMatMenu)="isShowMenu = true;isShowClear=!isShowClear"></app-clear-user>
                </ng-container>
                <ng-container *ngIf="isShowProfile">
                    <app-my-profile (closeMatMenu)="isShowMenu = true;isShowProfile=!isShowProfile"></app-my-profile>
                </ng-container>
            </mat-menu>


        </div>
    </div>

</section>