
<div class="container-fluid ">
    <div class="row mt-3 ">
      <div class="col-12 ms-0">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mx-2 ">
    
          <!-- <input type="search" name="" id="" placeholder="Search.." class=" mx-2 form-control w-50"> -->
  
        </div>
      </div>
  
  
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
          <button (click)="nextPage('/settings/add-modeOf-transport')" class="btn btn-primary" type="button">Add  MOT</button>
  
          <button class="btn btn-danger" type="button">
            <mat-icon style="line-height: 34px;">delete</mat-icon>
            Delete Selected MOT</button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Import MOT</span>
            </button>
            <button mat-menu-item>
              <span>Export MOT</span>
            </button>
            <button mat-menu-item>
              <span>Sample MOT Sheet</span>
            </button>
          </mat-menu>
  
        </div>
      </div>
    </div>
    <div class="row mt-4 ms-2">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">SLNo</th>
               <th scope="col"> Mode Of Transport</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
                <th scope="col"><input type="checkbox" > Select All</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of modeOfDetails; let i=index">
                <td>{{i+1}}</td>
                <td>{{list.modeOfTransport}}</td>
                <td>{{list.motDescription}}</td>
                <td>
                  <div class="d-flex">
                    <div>
                      <mat-icon [routerLink]="'/settings/edit-mode-of-transport/'+list._id">edit</mat-icon>
                    </div>
                    <div>
                      <mat-icon>delete</mat-icon>
                    </div>
                  </div>
                </td>
                <td><input type="checkbox" ></td>
              </tr>
             
            </tbody>
  
          </table>
        </div>
      </div>
    </div>
  </div>