<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2 class="mt-2">
        <mat-icon class="back" routerLink="/master/product">arrow_back</mat-icon> Product Maintainence
    </h2>
    <div class="row">
        <div class="col-12 ">
            <form [formGroup]="general" (ngSubmit)="addAll()">
                <div class="row border">
                    <div class="col-6 py-2">
                        <label for="" class="">Material Description <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Material Description"
                            formControlName="materialDescription">
                        <div
                            *ngIf="general.controls['materialDescription'].touched && general.controls['materialDescription'].dirty && general.controls['materialDescription'].hasError('required') && !isSubmitted">
                            <p class="error-message">Material Description is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['materialDescription'].hasError('required')">
                            <p class="error-message">Material Description is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label for="example">Material Group <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="materialGroupId" (change)="handleMaterialGrp($event)">
                            <option [selected]="general.value.materialGroupId === ''" value="" hidden>Select Material
                                Group
                            </option>
                            <option *ngFor="let list of materialGrpDetail" [value]="list._id">{{list.description}}
                            </option>

                        </select>
                        <div
                            *ngIf="general.controls['materialGroupId'].touched && general.controls['materialGroupId'].dirty && general.controls['materialGroupId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Material Group is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['materialGroupId'].hasError('required')">
                            <p class="error-message">Material Group is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2" >
                        <label for="" class="">Material Type <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="materialTypeId" (change)="handleMaterialType($event)" >
                            <option [selected]="general.value.materialTypeId === ''" value="" hidden>Select Material
                                Type
                            </option>
                            <option *ngFor="let list of materialTypeDetail" [value]="list._id">{{list.description}}</option>

                        </select>
                        <div
                            *ngIf="general.controls['materialTypeId'].touched && general.controls['materialTypeId'].dirty && general.controls['materialTypeId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Material Type is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['materialTypeId'].hasError('required')">
                            <p class="error-message">Material Type is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2" *ngIf="materialIdisShow">
                        <label for="">Material Id </label>
                        <input type="text" class="form-control " formControlName="materialId"
                            placeholder="Material Id" >
                    </div>
                    <div class="col-6 py-2">
                        <label for="">Industry Sector <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="industrySectorId" (change)="handleIndustry($event)">
                            <option [selected]="general.value.industrySectorId === ''" value="" hidden>Select industry
                                Sector
                            </option>

                            <option *ngFor="let list of industryDetail" [value]="list._id">{{list.description}}</option>
                        </select>
                        <div
                            *ngIf="general.controls['industrySectorId'].touched && general.controls['industrySectorId'].dirty && general.controls['industrySectorId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Industry Sector is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['industrySectorId'].hasError('required')">
                            <p class="error-message">Industry Sector is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">

                        <label for="">Net Weight <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Net Weight"
                            formControlName="netWeight">
                        <div
                            *ngIf="general.controls['netWeight'].touched && general.controls['netWeight'].dirty && general.controls['netWeight'].hasError('required') && !isSubmitted">
                            <p class="error-message">Net Weight is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['netWeight'].hasError('required')">
                            <p class="error-message">Net Weight is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">

                        <label for="">Volume <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Volume" formControlName="volumn">
                        <div
                            *ngIf="general.controls['volumn'].touched && general.controls['volumn'].dirty && general.controls['volumn'].hasError('required') && !isSubmitted">
                            <p class="error-message">Volume is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['volumn'].hasError('required')">
                            <p class="error-message">Volume is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">

                        <label for=""> Storage Condition <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="storageConditionId" (change)="handleStorage($event)">
                            <option [selected]="general.value.storageConditionId === ''" value="" hidden>Select Storage
                                Condition</option>
                            <option *ngFor="let list of storageConditionDetail" [value]="list._id">{{list.description}}
                            </option>
                        </select>
                        <div *ngIf="general.controls['storageConditionId'].touched &&
                            general.controls['storageConditionId'].dirty &&
                            general.controls['storageConditionId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Storage Condition is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['storageConditionId'].hasError('required')">
                            <p class="error-message">Storage Condition is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label for="">Temp. Condition <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="tempConditionId" (change)="handleTemp($event)">
                            <option [selected]="general.value.tempConditionId === ''" value="" hidden>Select Temp.
                                Condition
                            <option *ngFor="let list of tempDetails" [value]="list._id">{{list.description}}</option>
                        </select>
                        <div
                            *ngIf="general.controls['tempConditionId'].touched && general.controls['tempConditionId'].dirty && general.controls['tempConditionId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Temp. Condition is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['tempConditionId'].hasError('required')">
                            <p class="error-message">Temp. Condition is required</p>
                        </div>

                    </div>
                    <div class="col-6 py-2">
                        <label for="">Trans Group <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="transporationGroupId" (change)="handleTransGrp($event)">
                            <option [selected]="general.value.transporationGroupId === ''" value="" hidden>Select Trans
                                Group</option>
                            <option *ngFor="let list of transDetails" [value]="list._id">{{list.description}}</option>

                        </select>
                        <div
                            *ngIf="general.controls['transporationGroupId'].touched && general.controls['transporationGroupId'].dirty && general.controls['transporationGroupId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Trans Group is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['transporationGroupId'].hasError('required')">
                            <p class="error-message">Trans Group is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label for="">Allowed pkg Weight <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Allowed pkg Weight"
                            formControlName="allowedPKGWeight">
                        <div
                            *ngIf="general.controls['allowedPKGWeight'].touched && general.controls['allowedPKGWeight'].dirty && general.controls['allowedPKGWeight'].hasError('required') && !isSubmitted">
                            <p class="error-message">Allowed pkg Weight is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['allowedPKGWeight'].hasError('required')">
                            <p class="error-message">Allowed pkg Weight is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label for="">Unit of Dimension <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="unitOfDeminsion">
                            <option [selected]="general.value.unitOfDeminsion === ''" value="" hidden>Select Unit
                                Dimension
                            </option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <div
                            *ngIf="general.controls['unitOfDeminsion'].touched && general.controls['unitOfDeminsion'].dirty && general.controls['unitOfDeminsion'].hasError('required') && !isSubmitted">
                            <p class="error-message">Unit Dimension is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['unitOfDeminsion'].hasError('required')">
                            <p class="error-message">Unit Dimension is required</p>
                        </div>
                    </div>
                    <!-- <div class="col-6 py-2">
                        <label for="">Unit of Weight <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example" formControlName="unitWeight">
                            <option [selected]="general.value.unitWeight === ''" value="" hidden>Select Unit of Weight
                            </option>
                            <option value="KG">KG</option>
                            <option value="Gram">Gram</option>
                            <option value="MG">MG</option>
                        </select>
                        <div
                            *ngIf="general.controls['unitWeight'].touched && general.controls['unitWeight'].dirty && general.controls['unitWeight'].hasError('required') && !isSubmitted">
                            <p class="error-message">Unit Weight is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['unitWeight'].hasError('required')">
                            <p class="error-message">Unit Weight is required</p>
                        </div>
                    </div> -->
                    <div class="col-6 py-2">
                        <label for="">Allowed pkg Volume <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Allowed phg Weight"
                            formControlName="allowedPKGVolume">
                        <div
                            *ngIf="general.controls['allowedPKGVolume'].touched && general.controls['allowedPKGVolume'].dirty && general.controls['allowedPKGVolume'].hasError('required') && !isSubmitted">
                            <p class="error-message">Allowed pkg Volume is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['allowedPKGVolume'].hasError('required')">
                            <p class="error-message">Allowed pkg Volume is required</p>
                        </div>
                    </div>
                    <!-- <div class="col-6 py-2">
                        <label for="">Volume Unit <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example" formControlName="volumeUnit">
                            <option [selected]="general.value.volumeUnit === ''" value="" hidden>Select Volume Unit
                            </option>
                            <option value="LTR">LTR</option>
                            <option value="MLL">MLL</option>
                        </select>
                        <div
                            *ngIf="general.controls['volumeUnit'].touched && general.controls['volumeUnit'].dirty && general.controls['volumeUnit'].hasError('required') && !isSubmitted">
                            <p class="error-message">Volume Unit is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['volumeUnit'].hasError('required')">
                            <p class="error-message">Volume Unit is required</p>
                        </div>
                    </div> -->
                    <div class="col-6 py-2">
                        <label for="">Excess wt tolerance <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Excess Weight Tolerance"
                            formControlName="excessWTTolerance">
                        <div
                            *ngIf="general.controls['excessWTTolerance'].touched && general.controls['excessWTTolerance'].dirty && general.controls['excessWTTolerance'].hasError('required') && !isSubmitted">
                            <p class="error-message">Excess Weight is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['excessWTTolerance'].hasError('required')">
                            <p class="error-message">Excess Weight is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label for="" class="">Old Material Number <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Number"
                            formControlName="oldMaterialNumber">
                        <div
                            *ngIf="general.controls['oldMaterialNumber'].touched && general.controls['oldMaterialNumber'].dirty && general.controls['oldMaterialNumber'].hasError('required') && !isSubmitted">
                            <p class="error-message">OLd Material No. is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['oldMaterialNumber'].hasError('required')">
                            <p class="error-message">OLd Material No. is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label for=""> Base Unit of Measure <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="baseUnitMeasure">
                            <option [selected]="general.value.baseUnitMeasure === ''" value="" hidden>Select Base Unit
                                Of Measure
                            </option>
                            <option value="1">GRM</option>
                            <option value="2">MTR</option>
                        </select>
                        <div
                            *ngIf="general.controls['baseUnitMeasure'].touched && general.controls['baseUnitMeasure'].dirty && general.controls['baseUnitMeasure'].hasError('required') && !isSubmitted">
                            <p class="error-message">Base Unit is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['baseUnitMeasure'].hasError('required')">
                            <p class="error-message">Base Unit is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label for=""> Gross Weight <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Gross Weight"
                            formControlName="grossWeight">
                        <div
                            *ngIf="general.controls['grossWeight'].touched && general.controls['grossWeight'].dirty && general.controls['grossWeight'].hasError('required') && !isSubmitted">
                            <p class="error-message">Gross Weight is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['grossWeight'].hasError('required')">
                            <p class="error-message">Gross Weight is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label for=""> Weight Unit <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example" formControlName="weightUnit">
                            <option [selected]="general.value.weightUnit === ''" value="" hidden>Select Weight Unit
                            </option>
                            <option *ngFor="let list of weigthUnitDetail" [value]="list._id">{{list.code}}</option>

                        </select>
                        <div
                            *ngIf="general.controls['weightUnit'].touched && general.controls['weightUnit'].dirty && general.controls['weightUnit'].hasError('required') && !isSubmitted">
                            <p class="error-message">Weight Unit is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['weightUnit'].hasError('required')">
                            <p class="error-message">Weight Unit is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label for="">Volume Unit <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example" formControlName="volumnUnit">
                            <option [selected]="general.value.volumnUnit === ''" value="" hidden>Select Volume Unit
                            </option>
                            <option value="LTR">LTR</option>
                            <option value="MLL">MLL</option>
                        </select>
                        <div
                            *ngIf="general.controls['volumnUnit'].touched && general.controls['volumnUnit'].dirty && general.controls['volumnUnit'].hasError('required') && !isSubmitted">
                            <p class="error-message">Volume Unit is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['volumnUnit'].hasError('required')">
                            <p class="error-message">Volume Unit is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">
                        <label for="">Length <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Length" formControlName="length">
                        <div
                            *ngIf="general.controls['length'].touched && general.controls['length'].touched && general.controls['length'].hasError('required') && !isSubmitted">
                            <p class="error-message">Length is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['length'].hasError('required')">
                            <p class="error-message">Length is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">

                        <label for="">Width <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Width" formControlName="width">
                        <div
                            *ngIf="general.controls['width'].touched && general.controls['width'].dirty && general.controls['width'].hasError('required') && !isSubmitted">
                            <p class="error-message">Width is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['width'].hasError('required')">
                            <p class="error-message">Width is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">

                        <label for="">Height <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Height" formControlName="height">
                        <div
                            *ngIf="general.controls['height'].touched && general.controls['height'].dirty && general.controls['height'].hasError('required') && !isSubmitted">
                            <p class="error-message">Height is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['height'].hasError('required')">
                            <p class="error-message">Height is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">

                        <label for="">Batch Mgmt <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="batchManagment">
                            <option [selected]="general.value.batchManagment === ''" value="" hidden>Select batch Mgmt
                            </option>
                            <option value="YES">YES</option>
                            <option value="NO">NO</option>
                            <option value="BLANK">BLANK</option>

                        </select>
                        <div
                            *ngIf="general.controls['batchManagment'].touched && general.controls['batchManagment'].dirty && general.controls['batchManagment'].hasError('required') && !isSubmitted">
                            <p class="error-message">Batch MAanagement is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['batchManagment'].hasError('required')">
                            <p class="error-message">Batch MAanagement is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">

                        <label for="">Tax classification <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="taxClassificationId" (change)="handleTax($event)">
                            <option [selected]="general.value.taxClassificationId === ''" value="" hidden>Select Tax
                                Classification
                            </option>
                            <option *ngFor="let list of taxDetails" [value]="list._id">{{list.description}}</option>

                        </select>
                        <div
                            *ngIf="general.controls['taxClassificationId'].touched && general.controls['taxClassificationId'].dirty && general.controls['taxClassificationId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Tax Classification is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['taxClassificationId'].hasError('required')">
                            <p class="error-message">Tax Classification is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">

                        <label for="">Manufacturer Part No. <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Manufacturer Part No."
                            formControlName="manfacturePartNo">
                        <div
                            *ngIf="general.controls['manfacturePartNo'].touched && general.controls['manfacturePartNo'].dirty && general.controls['manfacturePartNo'].hasError('required') && !isSubmitted">
                            <p class="error-message">Manufacture Part is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['manfacturePartNo'].hasError('required')">
                            <p class="error-message">Manufacture Part is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">

                        <label for="">Expiration Date relavance <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example"
                            formControlName="expirationDataRelavance">
                            <option [selected]="general.value.expirationDataRelavance === ''" value="" hidden>Select
                                Expiration Date
                            </option>
                            <option value="YES">YES</option>
                            <option value="NO">NO</option>
                            <option value="BLANK">BLANK</option>
                        </select>
                        <div
                            *ngIf="general.controls['expirationDataRelavance'].touched && general.controls['expirationDataRelavance'].dirty && general.controls['expirationDataRelavance'].hasError('required') && !isSubmitted">
                            <p class="error-message">Expiration Date is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['expirationDataRelavance'].hasError('required')">
                            <p class="error-message">Expiration Date is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">

                        <label for="">Excess Volume tol. <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Excess Vol tol"
                            formControlName="excessVolumnTol">
                        <div
                            *ngIf="general.controls['excessVolumnTol'].touched && general.controls['excessVolumnTol'].dirty && general.controls['excessVolumnTol'].hasError('required') && !isSubmitted">
                            <p class="error-message">Excess Volume is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['excessVolumnTol'].hasError('required')">
                            <p class="error-message">Excess Volume is required</p>
                        </div>
                    </div>
                    <div class="col-6 py-2">

                        <label for="">Material Cost <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Material Cost"
                            formControlName="materialCost">
                        <div
                            *ngIf="general.controls['materialCost'].touched && general.controls['materialCost'].dirty && general.controls['materialCost'].hasError('required') && !isSubmitted">
                            <p class="error-message">Material Cost is required</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['materialCost'].hasError('required')">
                            <p class="error-message">Material Cost is required</p>
                        </div>
                    </div>
                </div>



                <div class="row border mt-2">
                    <div class="col-12 ">

                        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                            <div class="row">
                                <div class="col-12">
                                    <mat-tab label="Plant Data">
                                        <div class="col-12 d-flex justify-content-end py-2">
                                            <button type="button" class="btn btn-primary" (click)="addPlant()"
                                                style="color: white;background-color: #00acff;">Add Plant</button>
                                        </div>


                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th *ngIf="detail.controls.length > 1">Actions</th>
                                                        <th>Storage Plant</th>
                                                        <th>Storage Location</th>
                                                        <th>Procurement Type</th>
                                                        <th>Safety Stock</th>
                                                        <th>Total repl lead time</th>
                                                        <th>Availibilty Check</th>
                                                        <th>Profit Center</th>
                                                        <th>BOM Relevance</th>
                                                    </tr>
                                                </thead>

                                                <tbody formArrayName="plantData">
                                                    <tr *ngFor="let financial of general.get('plantData')['controls']; let i = index;"
                                                        [formGroupName]="i">
                                                        <td *ngIf="detail.controls.length > 1">
                                                            <mat-icon style="cursor:pointer"
                                                                (click)="deleterow(i)">delete</mat-icon>
                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="storagePlant">
                                                                <option [selected]="general.value.storagePlant === ''"
                                                                    value="" hidden>Select Storage Plant</option>
                                                                <option *ngFor="let list of storgaeLocationDetails"
                                                                    [value]="list._id">{{list.plantCode}}
                                                                </option>
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="storageLocation">
                                                                <option
                                                                    [selected]="general.value.storageLocation === ''"
                                                                    value="" hidden>Select Storage Location</option>
                                                                <option *ngFor="let list of storgaeLocationDetails"
                                                                    [value]="list._id">{{list.name1}}
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="procurementType">
                                                                <option
                                                                    [selected]="general.value.procurementType === ''"
                                                                    value="" hidden>Select procurement Type</option>
                                                                <option *ngFor="let list of procurementDetails"
                                                                    [value]="list._id">{{list.code}}</option>

                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control "
                                                                formControlName="safetyStock"
                                                                placeholder="Safety Stock">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control "
                                                                formControlName="totalReplLeadTime"
                                                                placeholder="Total repl lead time">
                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="availabilityCheck">
                                                                <option
                                                                    [selected]="general.value.availabilityCheck === ''"
                                                                    value="" hidden>Select Availibilty Check</option>
                                                                <option value="YES">YES</option>
                                                                <option value="NO">NO</option>
                                                                <option value="BLANK">BLANK</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="profitCenter">
                                                                <option [selected]="general.value.profitCenter === ''"
                                                                    value="" hidden>Select profit</option>
                                                                <option *ngFor="let list of profitCenterDetail"
                                                                    [value]="list._id">{{list.code}}</option>

                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="bomRelevance">
                                                                <option [selected]="general.value.bomRelevance === ''"
                                                                    value="" hidden>
                                                                    Select bom</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </mat-tab>

                                    <mat-tab label="Sales Data">
                                        <div class="col-12 d-flex justify-content-end py-2">
                                            <button type="button" class="btn btn-primary" (click)="addSec()"
                                                style="color: white;background-color: #00acff;">Add Sales</button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th *ngIf="salesDetail.controls.length > 1">Actions</th>
                                                        <th>Sales Organization</th>
                                                        <th>Distribution Channel</th>
                                                        <th>Delievery Unit</th>
                                                        <th>Delievering Plant</th>
                                                        <th>Maximum Delievery qty</th>
                                                        <th>Material Group</th>
                                                        <th>Acct assign. grp</th>
                                                        <th>Minimum Order qty</th>
                                                        <th>Minimum Delievery qty</th>
                                                    </tr>
                                                </thead>

                                                <tbody formArrayName="salesData">
                                                    <tr *ngFor="let financial of salesDetail.controls; let j = index;"
                                                        [formGroupName]="j">
                                                        <td *ngIf="salesDetail.controls.length > 1">
                                                            <mat-icon style="cursor:pointer"
                                                                (click)="deleteSalesrow(j)">delete</mat-icon>
                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="salesOrganization">
                                                                <option
                                                                    [selected]="general.value.salesOrganization === ''"
                                                                    value="" hidden>Select Sales Organization</option>
                                                                <option *ngFor="let list of salesData"
                                                                    [value]="list._id">
                                                                    {{list.salesOrg}}</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="distributionChannel">
                                                                <option
                                                                    [selected]="general.value.distributionChannel === ''"
                                                                    value="" hidden>Select distribution Channel</option>
                                                                <option *ngFor="let list of distributionDetail"
                                                                    [value]="list._id">{{list.distributionChannel}}
                                                                </option>
                                                            </select>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="deliveryUnit">
                                                                <option [selected]="general.value.deliveryUnit === ''"
                                                                    value="" hidden>Select Delivery Unit</option>
                                                                <option *ngFor="let list of uomDetail"
                                                                    [value]="list._id">{{list.description}}</option>

                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control "
                                                                placeholder="Safety Stock"
                                                                formControlName="deliveringPlant">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control "
                                                                placeholder="Minimum Delievery qty"
                                                                formControlName="maxDeliveryQTY">

                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="materialGroup">
                                                                <option [selected]="general.value.materialGroup === ''"
                                                                    value="" hidden>Select Material Group</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                                <!-- <option *ngFor="let list of materialGrpDetail" [value]="list._id">{{list.description}}
                                                                </option> -->
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="acctAssignmentGrp">
                                                                <option
                                                                    [selected]="general.value.acctAssignmentGrp === ''"
                                                                    value="" hidden>Select Acct. Ass Grp</option>
                                                                <option *ngFor="let list of acctAssignDetail"
                                                                    [value]="list._id">{{list.description}}</option>

                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control "
                                                                placeholder="Minimum Order Qty"
                                                                formControlName="minimumOrderQTY">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control "
                                                                placeholder="Minimum Delievery qty"
                                                                formControlName="minimumDeliveryQTY">
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </mat-tab>
                                </div>
                            </div>
                        </mat-tab-group>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-end py-2">
                        <button type="submit" class="btn btn-primary"
                            style="background-color: #00acff;color: white;">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>