<div class="container-fluid">
    <h2><mat-icon class="back" routerLink="/settings/purchase-org-list">arrow_back</mat-icon>Purchase Org</h2>

    <form [formGroup]="purchOrg" (ngSubmit)="submitData()">
        <div class="row ">
            <div class="col-6">
                <label>Purchase Org</label>
                <input type="text" class="form-control" formControlName="purchase_org" placeholder="Enter Purchase Org">
                <div
                    *ngIf="purchOrg.controls['purchase_org'].touched && purchOrg.controls['purchase_org'].dirty && purchOrg.controls['purchase_org'].hasError('required') && !isSubmitted">
                    <p class="error-message">Purchase Org. is required</p>
                </div>
                <div *ngIf="isSubmitted && purchOrg.controls['purchase_org'].hasError('required')">
                    <p class="error-message">Purchase Org. is required</p>
                </div>
            </div>

            <div class="col-6 ">
                <label>Purchase Org Description</label>
                <input type="text" class="form-control" formControlName="purchase_org_Description"
                    placeholder="Purchase Org Description">
                <div
                    *ngIf="purchOrg.controls['purchase_org_Description'].touched && purchOrg.controls['purchase_org_Description'].dirty && purchOrg.controls['purchase_org_Description'].hasError('required') && !isSubmitted">
                    <p class="error-message">Purchase Org Description is required</p>
                </div>
                <div *ngIf="isSubmitted && purchOrg.controls['purchase_org_Description'].hasError('required')">
                    <p class="error-message">Purchase Org Description is required</p>
                </div>
            </div>

            <div class="col-6">
                <label for="">Company Code</label>
                <select class="form-select" formControlName="companycode" aria-label="Default select example">
                    <option [selected]="purchOrg.value.companyCode === ''" value="" hidden>Select Company</option>

                    <option *ngFor="let list of companyDetails;" [value]="list.companyCode">{{list.companyCode}}
                    </option>
                </select>
                <div
                    *ngIf="purchOrg.controls['companycode'].touched && purchOrg.controls['companycode'].dirty && purchOrg.controls['companycode'].hasError('required') && !isSubmitted">
                    <p class="error-message">Company Code is required</p>
                </div>
                <div *ngIf="isSubmitted && purchOrg.controls['companycode'].hasError('required')">
                    <p class="error-message">Company Code is required</p>
                </div>
            </div>
        </div>
        <div class="col-2 py-2">
            <button type="submit" class="btn btn-primary "> Submit </button>
        </div>

    </form>
</div>