<app-side-nav (isShowNav)="handleSideBar($event)" [logoutAction]="idleState"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/settings/purchase-org-list">arrow_back</mat-icon>Purchase Org</h2>

    <form [formGroup]="purchOrg" (ngSubmit)="submitData()">
        <div class="row ">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                <label>Purchase Org</label>
                <input type="text" class="form-control" formControlName="purchase_org" placeholder="Enter Purchase Org" appDirective>
                <div
                    *ngIf="purchOrg.controls['purchase_org'].touched && purchOrg.controls['purchase_org'].dirty && purchOrg.controls['purchase_org'].hasError('required') && !isSubmitted">
                    <p class="error-message">Purchase Org. is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && purchOrg.controls['purchase_org'].hasError('required')">
                    <p class="error-message">Purchase Org. is mandatory</p>
                </div>
                <div *ngIf="purchOrg.controls['purchase_org'].hasError('minlength')">
                    <p class="error-message">Minimum length exceeded (min Limit : 6).</p>
                </div>
                <div *ngIf="purchOrg.controls['purchase_org'].hasError('maxlength')">
                    <p class="error-message">Maximum length exceeded (Max Limit : 6).</p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
                <label>Purchase Org Description</label>
                <input type="text" class="form-control" formControlName="purchase_org_Description"
                    placeholder="Purchase Org Description">
                <div
                    *ngIf="purchOrg.controls['purchase_org_Description'].touched && purchOrg.controls['purchase_org_Description'].dirty && purchOrg.controls['purchase_org_Description'].hasError('required') && !isSubmitted">
                    <p class="error-message">Purchase Org Description is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && purchOrg.controls['purchase_org_Description'].hasError('required')">
                    <p class="error-message">Purchase Org Description is mandatory</p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                <label for="">Company Code</label>
                <select class="form-select" formControlName="companyId" aria-label="Default select example"
                    (change)="handleCompany($event)">
                    <option [selected]="purchOrg.value.companyId === ''" value="" hidden>Select Company</option>

                    <option *ngFor="let list of companyDetails;" [value]="list._id">{{list.companyCode}}
                    </option>
                </select>
                <div
                    *ngIf="purchOrg.controls['companyId'].touched && purchOrg.controls['companyId'].dirty && purchOrg.controls['companyId'].hasError('required') && !isSubmitted">
                    <p class="error-message">Company Code is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && purchOrg.controls['companyId'].hasError('required')">
                    <p class="error-message">Company Code is mandatory</p>
                </div>
            </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
            <label for="address1">Address</label>
            <textarea class="form-control" id="address2" placeholder="Address" formControlName="address"
                rows="3"></textarea>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
            <label for="" class="">Country Name <sup>*</sup></label>
            <select class="form-select " aria-label="Default select example" formControlName="countryId"
                (change)="selectCountryName($event)">
                <option [selected]="purchOrg.value.countryId === ''" value="" hidden>Select Country</option>
                <option *ngFor="let list of countryDetials | filterPipes:'countryName'" [value]="list._id">
                    {{list.countryName}}</option>
            </select>
            <div
                *ngIf="purchOrg.controls['countryId'].touched && purchOrg.controls['countryId'].dirty && purchOrg.controls['countryId'].hasError('required') && !isSubmitted">
                <p class="error-message">Country Name is mandatory</p>
            </div>
            <div *ngIf="isSubmitted && purchOrg.controls['countryId'].hasError('required')">
                <p class="error-message">Country Name is mandatory</p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
            <label for="" class="">City <sup>*</sup></label>
            <select class="form-select " aria-label="Default select example" formControlName="city"
                [ngStyle]="{'pointer-events': !purchOrg.value.countryId ? 'none' :  'all'}">
                <option [selected]="purchOrg.value.city===''" value="" hidden>Select City</option>
                <option *ngFor="let list of (citiesDetails?.cities?.cities).sort()" [value]="list">{{list}}</option>
            </select>
            <div
                *ngIf="purchOrg.controls['city'].touched && purchOrg.controls['city'].dirty && purchOrg.controls['city'].hasError('required') && !isSubmitted">
                <p class="error-message"> City is mandatory</p>
            </div>
            <div *ngIf="isSubmitted && purchOrg.controls['city'].hasError('required')">
                <p class="error-message"> City is mandatory</p>
            </div>
        </div>

        
        <div class="col-12 d-flex justify-content-end py-2">
            <button type="submit" class="btn btn-primary "> Save </button>
        </div>
    </div>

    </form>
</div>