<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="mt-2">
                <mat-icon class="back" routerLink="/sales/billing-list">arrow_back</mat-icon> Billing Maintenance
            </h3>
            <form [formGroup]="productFromGroup" (ngSubmit)="addAllBilling()">

                <div class="row border">

                    <div class="col-6 mt-2">
                        <label for="">Billing Type <sup>*</sup> </label>
                        <select class="form-select" formControlName="billingType">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="productFromGroup.controls['billingType'].touched && productFromGroup.controls['billingType'].touched && productFromGroup.controls['billingType'].hasError('required') && !isSubmitted">
                            <p class="error-message">Billing Type is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['billingType'].hasError('required')">
                            <p class="error-message">Billing Type is required</p>
                        </div>

                    </div>
                    <div class="col-6 mt-2">
                        <label for="BillingDate">Billing Date <sup>*</sup></label>
                        <input type="date" class="form-control" formControlName="billingDate">
                    
                        <div *ngIf="productFromGroup.controls['billingDate'].touched && productFromGroup.controls['billingDate'].touched && productFromGroup.controls['billingDate'].hasError('required') && !isSubmitted">
                            <p class="error-message">Billing Date is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['billingDate'].hasError('required')">
                            <p class="error-message">Billing Date is required</p>
                        </div>

                    </div>
                    <div class="col-6 ">
                        <label for="ReferenceDoc">Reference Doc <sup>*</sup></label>
                        <input type="text" class="form-control" formControlName="referenceDocument"
                            placeholder="Reference Document">

                            <div *ngIf="productFromGroup.controls['referenceDocument'].touched && productFromGroup.controls['referenceDocument'].touched && productFromGroup.controls['referenceDocument'].hasError('required') && !isSubmitted">
                                <p class="error-message">Reference Document is required</p>
                            </div>
                            <div *ngIf="isSubmitted && productFromGroup.controls['referenceDocument'].hasError('required')">
                                <p class="error-message">Reference Document is required</p>
                            </div>

                    </div>

                    <div class="col-6 ">
                        <label for="CustomerId">Customer Id <sup>*</sup></label>
                        <input type="text" class="form-control" formControlName="customerId"
                            placeholder="Reference Document">

                            <div *ngIf="productFromGroup.controls['customerId'].touched && productFromGroup.controls['customerId'].touched && productFromGroup.controls['customerId'].hasError('required') && !isSubmitted">
                                <p class="error-message">Customer Id is required</p>
                            </div>
                            <div *ngIf="isSubmitted && productFromGroup.controls['customerId'].hasError('required')">
                                <p class="error-message">Customer Id is required</p>
                            </div>

                    </div>
                    <div class="col-6 ">
                        <label for="NetValue">Net Value <sup>*</sup></label>
                        <input type="number" class="form-control" formControlName="netValue" placeholder="Net Value">

                        <div *ngIf="productFromGroup.controls['netValue'].touched && productFromGroup.controls['netValue'].touched && productFromGroup.controls['netValue'].hasError('required') && !isSubmitted">
                            <p class="error-message">Net Value is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['netValue'].hasError('required')">
                            <p class="error-message">Net Value is required</p>
                        </div>

                    </div>

                    <div class="col-6  mb-2">
                        <label for="TaxAmount">Tax Amount <sup>*</sup></label>
                        <input type="number" class="form-control" formControlName="taxAmount" placeholder="Tax Amount">

                        <div *ngIf="productFromGroup.controls['taxAmount'].touched && productFromGroup.controls['taxAmount'].touched && productFromGroup.controls['taxAmount'].hasError('required') && !isSubmitted">
                            <p class="error-message">Tax Amount is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['taxAmount'].hasError('required')">
                            <p class="error-message">Tax Amount is required</p>
                        </div>

                    </div>
                    <div class="col-6  mb-2">
                        <label for="">Currency <sup>*</sup></label>
                        <select class="form-select" formControlName="currency">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="productFromGroup.controls['currency'].touched && productFromGroup.controls['currency'].touched && productFromGroup.controls['currency'].hasError('required') && !isSubmitted">
                            <p class="error-message">Currency is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['currency'].hasError('required')">
                            <p class="error-message">Currency is required</p>
                        </div>

                    </div>
                    <div class="col-6 ">
                        <label for="ExchaneRate">Exchange Rate <sup>*</sup></label>
                        <input type="number" class="form-control" formControlName="exchangeRate"
                            placeholder="Exchange Rate">

                            <div *ngIf="productFromGroup.controls['exchangeRate'].touched && productFromGroup.controls['exchangeRate'].touched && productFromGroup.controls['exchangeRate'].hasError('required') && !isSubmitted">
                                <p class="error-message">Exchange Rate is required</p>
                            </div>
                            <div *ngIf="isSubmitted && productFromGroup.controls['exchangeRate'].hasError('required')">
                                <p class="error-message">Exchange Rate is required</p>
                            </div>

                    </div>
                    <div class="col-6  mb-2">
                        <label for="Company">Company Code <sup>*</sup></label>
                        <select class="form-select" formControlName="companyCode">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="productFromGroup.controls['companyCode'].touched && productFromGroup.controls['companyCode'].touched && productFromGroup.controls['companyCode'].hasError('required') && !isSubmitted">
                            <p class="error-message">Company Code is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['companyCode'].hasError('required')">
                            <p class="error-message">Company Code is required</p>
                        </div>


                    </div>
                    <div class="col-6  mb-2">
                        <label for="">Customer Account AG <sup>*</sup></label>
                        <select class="form-select" formControlName="customerAccount">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="productFromGroup.controls['customerAccount'].touched && productFromGroup.controls['customerAccount'].touched && productFromGroup.controls['customerAccount'].hasError('required') && !isSubmitted">
                            <p class="error-message">Customer Account is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['customerAccount'].hasError('required')">
                            <p class="error-message">Customer Account is required</p>
                        </div>

                    </div>
                    <div class="col-6  mb-2">
                        <label for="">Posting Status <sup>*</sup></label>
                        <select class="form-select" formControlName="postingStatus">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="productFromGroup.controls['postingStatus'].touched && productFromGroup.controls['postingStatus'].touched && productFromGroup.controls['postingStatus'].hasError('required') && !isSubmitted">
                            <p class="error-message">Posting Status is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['postingStatus'].hasError('required')">
                            <p class="error-message">Posting Status is required</p>
                        </div>

                    </div>
                    <div class="col-6  mb-2">
                        <label for="">Payment Terms <sup>*</sup></label>
                        <select class="form-select" formControlName="paymentTerm">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="productFromGroup.controls['paymentTerm'].touched && productFromGroup.controls['paymentTerm'].touched && productFromGroup.controls['paymentTerm'].hasError('required') && !isSubmitted">
                            <p class="error-message">Payment Term is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['paymentTerm'].hasError('required')">
                            <p class="error-message">Payment Term is required</p>
                        </div>

                    </div>
                    <div class="col-6  mb-2">
                        <label for="">Inco Terms <sup>*</sup></label>
                        <select class="form-select" formControlName="incrementTearm">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="productFromGroup.controls['incrementTearm'].touched && productFromGroup.controls['incrementTearm'].touched && productFromGroup.controls['incrementTearm'].hasError('required') && !isSubmitted">
                            <p class="error-message">Inco Term is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['incrementTearm'].hasError('required')">
                            <p class="error-message">Inco Term is required</p>
                        </div>

                    </div>
                    <div class="col-6  mb-2">
                        <label for="">Sales Org <sup>*</sup></label>
                        <select class="form-select" formControlName="salesOrg">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="productFromGroup.controls['salesOrg'].touched && productFromGroup.controls['salesOrg'].touched && productFromGroup.controls['salesOrg'].hasError('required') && !isSubmitted">
                            <p class="error-message">Sales Org is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['salesOrg'].hasError('required')">
                            <p class="error-message">Sales Org is required</p>
                        </div>

                    </div>
                    <div class="col-6  mb-2">
                        <label for="">Distribution Channel <sup>*</sup></label>
                        <select class="form-select" formControlName="distributionChannel">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="productFromGroup.controls['distributionChannel'].touched && productFromGroup.controls['distributionChannel'].touched && productFromGroup.controls['distributionChannel'].hasError('required') && !isSubmitted">
                            <p class="error-message">Distribution Channel is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['distributionChannel'].hasError('required')">
                            <p class="error-message">Distribution Channel is required</p>
                        </div>
                        
                    </div>
                    <div class="col-6  mb-2">
                        <label for="">Division <sup>*</sup></label>
                        <select class="form-select" formControlName="division">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="productFromGroup.controls['division'].touched && productFromGroup.controls['division'].touched && productFromGroup.controls['division'].hasError('required') && !isSubmitted">
                            <p class="error-message">Division is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['division'].hasError('required')">
                            <p class="error-message">Division is required</p>
                        </div>

                    </div>
                    <div class="col-6  mb-2">
                        <label for="">Mode Of Transport <sup>*</sup></label>
                        <select class="form-select" formControlName="modeOfTransport">
                            <option selected></option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="productFromGroup.controls['modeOfTransport'].touched && productFromGroup.controls['modeOfTransport'].touched && productFromGroup.controls['modeOfTransport'].hasError('required') && !isSubmitted">
                            <p class="error-message">Mode Of Transport is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['modeOfTransport'].hasError('required')">
                            <p class="error-message">Mode Of Transport is required</p>
                        </div>

                    </div>
                    <div class="col-6  mb-2">
                        <label for="NetTax">Net Tax <sup>*</sup></label>
                        <input type="number" class="form-control" formControlName="netTax" placeholder="Net Tax">

                        <div *ngIf="productFromGroup.controls['netTax'].touched && productFromGroup.controls['netTax'].touched && productFromGroup.controls['netTax'].hasError('required') && !isSubmitted">
                            <p class="error-message">Net Tax is required</p>
                        </div>
                        <div *ngIf="isSubmitted && productFromGroup.controls['netTax'].hasError('required')">
                            <p class="error-message">Net Tax is required</p>
                        </div>

                    </div>
                    <div class="col-6  mb-2">
                        <label for="NetDiscount">Net Discount <sup>*</sup></label>
                        <input type="number" class="form-control" formControlName="netDiscount"
                            placeholder="Net Discount">

                            <div *ngIf="productFromGroup.controls['netDiscount'].touched && productFromGroup.controls['netDiscount'].touched && productFromGroup.controls['netDiscount'].hasError('required') && !isSubmitted">
                                <p class="error-message">Net Discount is required</p>
                            </div>
                            <div *ngIf="isSubmitted && productFromGroup.controls['netDiscount'].hasError('required')">
                                <p class="error-message">Net Discount is required</p>
                            </div>

                    </div>
                    <div class="col-6  mb-2">
                        <label for="netFreight">Net Freight <sup>*</sup></label>
                        <input type="number" class="form-control" formControlName="netFreight"
                            placeholder="Net Freight">

                            <div *ngIf="productFromGroup.controls['netFreight'].touched && productFromGroup.controls['netFreight'].touched && productFromGroup.controls['netFreight'].hasError('required') && !isSubmitted">
                                <p class="error-message">Net Freight is required</p>
                            </div>
                            <div *ngIf="isSubmitted && productFromGroup.controls['netFreight'].hasError('required')">
                                <p class="error-message">Net Freight is required</p>
                            </div>

                    </div>
                    <div class="col-6  mb-2">
                        <label for="OtherCharge">Other Charges <sup>*</sup></label>
                        <input type="number" class="form-control" formControlName="otherCharge"
                            placeholder="Other Charge">

                            <div *ngIf="productFromGroup.controls['otherCharge'].touched && productFromGroup.controls['otherCharge'].touched && productFromGroup.controls['otherCharge'].hasError('required') && !isSubmitted">
                                <p class="error-message">Other Charge is required</p>
                            </div>
                            <div *ngIf="isSubmitted && productFromGroup.controls['otherCharge'].hasError('required')">
                                <p class="error-message">Other Charge is required</p>
                            </div>

                    </div>


                </div>



                <div class="row py-2">
                    <div class="col-12 border">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <h3 class="mt-2 ">
                                    Item Data
                                </h3>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-end">
                                <button class="m-2 border-0 rounded btnBg2" (click)="addFinancial()">Add</button>

                            </div>
                        </div>



                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th *ngIf="financialListArray.controls.length > 1">Actions</th>
                                        <th>Builde Qty</th>
                                        <th>UOM</th>
                                        <th>Net Weight</th>
                                        <th>Gross Weight</th>
                                        <th> Volume</th>
                                        <th>Sales Order</th>
                                        <th>Sales Order Item</th>
                                        <th>Reference Doc</th>
                                        <th>Pricing Date</th>
                                        <th>Service rendered date</th>
                                        <th>Price Amount</th>
                                        <th>Per unit Price</th>
                                        <th>Pricing unit</th>
                                        <th>Pricing UoM</th>
                                        <th>Tax</th>
                                        <th>Per Unit Tax</th>
                                        <th>Discount</th>
                                        <th>Per Unit Discount</th>
                                        <th>Freight</th>
                                        <th>Per Unit Freight</th>
                                        <th>Company Currency</th>
                                        <th>Transaction Currency</th>
                                        <th>Exchange Rate</th>
                                        <th>HSN</th>
                                        <th>Country Of Origin</th>
                                        <th>Destination Country</th>
                                        <th>PO Number</th>
                                        <th>PO Date</th>
                                    </tr>
                                </thead>

                                <tbody formArrayName="financialList">
                                    <tr *ngFor="let financial of financialListArray.controls; let i = index;"
                                        [formGroupName]="i">
                                        <td *ngIf="financialListArray.controls.length > 1">
                                            <mat-icon style="cursor:pointer"
                                                (click)="deleteFinancial(i)">delete</mat-icon>
                                        </td>
                                        <td>
                                            <input type="number" formControlName="buildQty" class="form-control"
                                                placeholder="enter Build Qty">
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="uom">
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" formControlName="netWeight"
                                                placeholder="enter net weight">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="grossweight" class="form-control"
                                                placeholder="enter gross weight.">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="volume" class="form-control"
                                                placeholder="enter volume.">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="salesorder" class="form-control"
                                                placeholder="enter sales order.">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="salesorderitem" class="form-control"
                                                placeholder="enter sales item">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="referenceDoc" class="form-control"
                                                placeholder="enter reference document">
                                        </td>
                                        <td>
                                            <input type="date" formControlName="pricingDate" class="form-control">
                                        </td>
                                        <td>
                                            <input type="date" formControlName="servicerender" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="priceAmount" class="form-control"
                                                placeholder="enter price Amount">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="perunitPrice" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="pricingUnit" class="form-control">
                                        </td>
                                        <td>
                                            <select class="form-select">
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" formControlName="tax" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="perUnitTax" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="discount" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="perDiscount" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="freight" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="perFreight" class="form-control">
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="companyCurrency" >
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td> <td>
                                            <select class="form-select" formControlName="transactionCurrency">
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" formControlName="exchangeRate" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="hsn" class="form-control">
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="countryOrigin" >
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td> <td>
                                            <select class="form-select" formControlName="destination">
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" formControlName="poNumber" class="form-control">
                                        </td>
                                        <td>
                                            <input type="date" formControlName="poDate" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary">submit</button>
                    </div>
                </div>

            </form>

            <!-- </mat-tab>
                 
              </mat-tab-group> -->
        </div>
    </div>
</div>