<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="mt-2">
                <mat-icon class="back" routerLink="/sales/billing-list">arrow_back</mat-icon> Billing Maintenance
            </h3>
            <form [formGroup]="productFromGroup" (ngSubmit)="addAllBilling()">

                <div class="row border">

                    <div class="col-6 mt-2">
                        <label for="">Billing Type</label>
                        <select class="form-select" formControlName="billingType">
                            <option [selected]="productFromGroup.value.billingType=== ''" value="" hidden>Select Billing Type</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6 mt-2">
                        <label for="BillingDate">Billing Date</label>
                        <input type="date" class="form-control" formControlName="billingDate" >
                    </div>
                    <div class="col-6 mt-4">
                        <label for="ReferenceDoc">Reference Doc</label>
                        <input type="text" class="form-control" formControlName="referenceDoc"
                            placeholder="Enter Reference Document">
                    </div>

                    <div class="col-6 mt-4">
                        <label for="CustomerId">Customer Id</label>
                        <input type="text" class="form-control" formControlName="customerId"
                            placeholder="Enter Customer Id">

                    </div>
                    <div class="col-6 mt-4">
                        <label for="NetValue">Net Value</label>
                        <input type="number" class="form-control" formControlName="netValue" placeholder="Enter Net Value">

                    </div>

                    <div class="col-6 mt-4 mb-2">
                        <label for="TaxAmount">Tax Amount</label>
                        <input type="number" class="form-control" formControlName="taxAmount" placeholder="Enter Tax Amount">

                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="">Currency</label>
                        <select class="form-select" formControlName="currency">
                            <option [selected]="productFromGroup.value.currency=== ''" value="" hidden>Select Currency</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6 mt-4">
                        <label for="ExchaneRate">Exchange Rate</label>
                        <input type="number" class="form-control" formControlName="exchaneRate"
                            placeholder="Exchange Rate">
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="Company">Company Code</label>
                        <select class="form-select" formControlName="companyCode">
                            <option [selected]="productFromGroup.value.companyCode=== ''" value="" hidden>Select Company Code</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="">Customer Account AG</label>
                        <select class="form-select" formControlName="customerAccount">
                            <option [selected]="productFromGroup.value.customerAccount=== ''" value="" hidden>Enter Customer Account AG</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="">Posting Status</label>
                        <select class="form-select" formControlName="postingStatus">
                            <option [selected]="productFromGroup.value.postingStatus=== ''" value="" hidden>Enter Posting Status</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="">Payment Terms</label>
                        <select class="form-select" formControlName="paymentTerm">
                            <option [selected]="productFromGroup.value.paymentTerm=== ''" value="" hidden>Select Payment Term</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="">Inco Terms</label>
                        <select class="form-select" formControlName="incrementTearm">
                            <option [selected]="productFromGroup.value.incrementTearm== ''" value="" hidden>Select Inco Term</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="">Sales Org</label>
                        <select class="form-select" formControlName="salesOrg">
                            <option [selected]="productFromGroup.value.salesOrg=== ''" value="" hidden>Select Sales Org</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="">Distribution Channel</label>
                        <select class="form-select" formControlName="distributionChannel">
                            <option [selected]="productFromGroup.value.distributionChannel== ''" value="" hidden>Select Distribution Channel </option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="">Division</label>
                        <select class="form-select" formControlName="division">
                            <option [selected]="productFromGroup.value.division=== ''" value="" hidden>Select Division</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="">Mode Of Transport</label>
                        <select class="form-select" formControlName="modeOfTransport">
                            <option [selected]="productFromGroup.value.modeOfTransport=== ''" value="" hidden>Select Mode Of Transport</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="NetTax">Net Tax</label>
                        <input type="number" class="form-control" formControlName="netTax" placeholder="Net Tax">
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="NetDiscount">Net Discount</label>
                        <input type="number" class="form-control" formControlName="netDiscount"
                            placeholder="Net Discount">
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="netFreight">Net Freight</label>
                        <input type="number" class="form-control" formControlName="NetFreight"
                            placeholder="Net Freight">
                    </div>
                    <div class="col-6 mt-4 mb-2">
                        <label for="OtherCharge">Other Charges</label>
                        <input type="number" class="form-control" formControlName="otherCharge"
                            placeholder="Other Charge">
                    </div>


                </div>



                <div class="row py-2">
                    <div class="col-12 border">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <h3 class="mt-2 ">
                                    Item Data
                                </h3>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-end">
                                <button class="m-2 border-0 rounded btnBg2" (click)="addFinancial()">Add</button>

                            </div>
                        </div>



                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th *ngIf="financialListArray.controls.length > 1">Actions</th>
                                        <th>Builde Qty</th>
                                        <th>UOM</th>
                                        <th>Net Weight</th>
                                        <th>Gross Weight</th>
                                        <th> Volume</th>
                                        <th>Sales Order</th>
                                        <th>Sales Order Item</th>
                                        <th>Reference Doc</th>
                                        <th>Pricing Date</th>
                                        <th>Service rendered date</th>
                                        <th>Price Amount</th>
                                        <th>Per unit Price</th>
                                        <th>Pricing unit</th>
                                        <th>Pricing UoM</th>
                                        <th>Tax</th>
                                        <th>Per Unit Tax</th>
                                        <th>Discount</th>
                                        <th>Per Unit Discount</th>
                                        <th>Freight</th>
                                        <th>Per Unit Freight</th>
                                        <th>Company Currency</th>
                                        <th>Transaction Currency</th>
                                        <th>Exchange Rate</th>
                                        <th>HSN</th>
                                        <th>Country Of Origin</th>
                                        <th>Destination Country</th>
                                        <th>PO Number</th>
                                        <th>PO Date</th>
                                    </tr>
                                </thead>

                                <tbody formArrayName="financialList">
                                    <tr *ngFor="let financial of financialListArray.controls; let i = index;"
                                        [formGroupName]="i">
                                        <td *ngIf="financialListArray.controls.length > 1">
                                            <mat-icon style="cursor:pointer"
                                                (click)="deleteFinancial(i)">delete</mat-icon>
                                        </td>
                                        <td>
                                            <input type="number" formControlName="buildQty" class="form-control"
                                                placeholder="enter Build Qty">
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="uom">
                                                <option [selected]="productFromGroup.value.uom === ''" value="" hidden>Select UoM</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" formControlName="netWeight"
                                                placeholder="enter net weight">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="grossweight" class="form-control"
                                                placeholder="enter gross weight.">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="volume" class="form-control"
                                                placeholder="enter volume.">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="salesorder" class="form-control"
                                                placeholder="enter sales order.">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="salesorderitem" class="form-control"
                                                placeholder="enter sales item">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="referenceDoc" class="form-control"
                                                placeholder="enter reference document">
                                        </td>
                                        <td>
                                            <input type="date" formControlName="pricingDate" class="form-control">
                                        </td>
                                        <td>
                                            <input type="date" formControlName="servicerender" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="priceAmount" class="form-control"
                                                placeholder="enter price Amount">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="perunitPrice" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="pricingUnit" class="form-control">
                                        </td>
                                        <td>
                                            <select class="form-select">
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" formControlName="tax" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="perUnitTax" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="discount" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="perDiscount" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="freight" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="perFreight" class="form-control">
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="companyCurrency" >
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td> <td>
                                            <select class="form-select" formControlName="transactionCurrency">
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" formControlName="exchangeRate" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="hsn" class="form-control">
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="countryOrigin" >
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td> <td>
                                            <select class="form-select" formControlName="destination">
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" formControlName="poNumber" class="form-control">
                                        </td>
                                        <td>
                                            <input type="date" formControlName="poDate" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary">submit</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>