<app-side-nav (isShowNav)="handleSideBar($event)" [logoutAction]="idleState"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <div class="row">
        <div class="col-12">
            <h3 class="mt-2">
                <mat-icon class="back" routerLink="/sales/billing-list">arrow_back</mat-icon> Billing Maintenance
            </h3>
            <form [formGroup]="billingFormGroup" (ngSubmit)="addAllBilling()">

                <div class="row border">

                    <div class="col-6 py-2">
                        <label for="">Billing Number <sup>*</sup> </label>
                        <input type="text" class="form-control" placeholder="Billing Number"
                            formControlName="billingNumber" readonly>

                    </div>

                    <div class="col-6 py-2">
                        <label for="">Billing Type <sup>*</sup> </label>
                        <select class="form-select" formControlName="billingTypeId"
                            (change)="handleBillingType($event)">
                            <option [selected]="billingFormGroup.value.billingTypeId=== ''" value="" hidden>Select
                                Billing
                                Type</option>
                            <option *ngFor="let list of billingTypeList | filterPipes : 'description'"
                                [value]="list._id">
                                {{list.description}}</option>
                        </select>

                        <div
                            *ngIf="billingFormGroup.controls['billingTypeId'].touched && billingFormGroup.controls['billingTypeId'].touched && billingFormGroup.controls['billingTypeId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Billing Type is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['billingTypeId'].hasError('required')">
                            <p class="error-message">Billing Type is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2">
                        <label for="BillingDate">Billing Date</label>
                        <input type="date" class="form-control" formControlName="billingDate">
                        <div
                            *ngIf="billingFormGroup.controls['billingDate'].touched && billingFormGroup.controls['billingDate'].touched && billingFormGroup.controls['billingDate'].hasError('required') && !isSubmitted">
                            <p class="error-message">Billing Date is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['billingDate'].hasError('required')">
                            <p class="error-message">Billing Date is mandatory</p>
                        </div>
                    </div>

                    <div class="col-6 py-2 ">
                        <label for="ReferenceType">Reference Type</label>
                        <div class="d-flex mt-2 d-grid gap-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="referenceDocumentType"
                                    id="flexRadioDefault1" value="Sales">
                                <label class="form-check-label"
                                    style="font-weight: 500; font-size: 13px; position: relative; bottom: 3px;"
                                    for="flexRadioDefault1" >
                                    Sales Order 
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="referenceDocumentType"
                                    id="flexRadioDefault2" value="Delivery">
                                <label class="form-check-label"
                                    style="font-weight: 500; font-size: 13px; position: relative; bottom: 3px;"
                                    for="flexRadioDefault2">
                                    Delivery Order
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="referenceDocumentType"
                                    id="flexRadioDefault3" value="Invoice">
                                <label class="form-check-label"
                                    style="font-weight: 500; font-size: 13px; position: relative; bottom: 3px;"
                                    for="flexRadioDefault3">
                                    Invoice
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="col-6 py-2 ">
                        <label for="ReferenceDoc">Reference Doc</label>
                        <input *ngIf="billingFormGroup.value.referenceDocumentType === 'Sales'" formControlName="referenceDocument" placeholder="Enter Reference Document" (typeaheadOnSelect)="typeaheadOnSalesSelect($event)" [typeahead]="salesOrderDetails" typeaheadOptionField="salesOrderId"
                        class="form-control">
                        <input *ngIf="billingFormGroup.value.referenceDocumentType === 'Delivery'" formControlName="referenceDocument" placeholder="Enter Reference Document" (typeaheadOnSelect)="typeaheadOnDeliverySelect($event)" [typeahead]="deliveryDetails" typeaheadOptionField="deliveryId"
                        class="form-control">
                        <input *ngIf="billingFormGroup.value.referenceDocumentType === 'Invoice'" formControlName="referenceDocument" placeholder="Enter Reference Document" (typeaheadOnSelect)="typeaheadOnInvoivceSelect($event)" [typeahead]="billingDetails" typeaheadOptionField="billingNumber"
                        class="form-control">
                        <!-- <input type="text" class="form-control" formControlName="referenceDocument"
                            placeholder="Enter Reference Document"> -->
                        <div
                            *ngIf="billingFormGroup.controls['referenceDocument'].touched && billingFormGroup.controls['referenceDocument'].touched && billingFormGroup.controls['referenceDocument'].hasError('required') && !isSubmitted">
                            <p class="error-message">Reference Document is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['referenceDocument'].hasError('required')">
                            <p class="error-message">Reference Document is mandatory</p>
                        </div>
                    </div>

                    <div class="col-6 py-2 ">
                        <label for="CustomerId">Customer Id <sup>*</sup></label>
                        <input type="text" class="form-control" formControlName="customerId"
                            placeholder="Enter Customer Id">

                        <div
                            *ngIf="billingFormGroup.controls['customerId'].touched && billingFormGroup.controls['customerId'].touched && billingFormGroup.controls['customerId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Customer Id is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['customerId'].hasError('required')">
                            <p class="error-message">Customer Id is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2 ">
                        <label for="NetValue">Net Value</label>
                        <input type="number" class="form-control" formControlName="netValue"
                            placeholder="Enter Net Value">

                        <div
                            *ngIf="billingFormGroup.controls['netValue'].touched && billingFormGroup.controls['netValue'].touched && billingFormGroup.controls['netValue'].hasError('required') && !isSubmitted">
                            <p class="error-message">Net Value is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['netValue'].hasError('required')">
                            <p class="error-message">Net Value is mandatory</p>
                        </div>

                    </div>

                    <div class="col-6 py-2  mb-2">
                        <label for="TaxAmount">Tax Amount</label>
                        <input type="number" class="form-control" formControlName="taxAmount"
                            placeholder="Enter Tax Amount">

                        <div
                            *ngIf="billingFormGroup.controls['taxAmount'].touched && billingFormGroup.controls['taxAmount'].touched && billingFormGroup.controls['taxAmount'].hasError('required') && !isSubmitted">
                            <p class="error-message">Tax Amount is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['taxAmount'].hasError('required')">
                            <p class="error-message">Tax Amount is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="">Currency <sup>*</sup></label>
                        <select class="form-select" formControlName="currencyId" (change)="handleCurrency($event)">
                            <option [selected]="billingFormGroup.value.currencyId=== ''" value="" hidden>Select Currency
                            </option>
                            <option *ngFor="let list of currencyDetails | filterPipes : 'code'" [value]="list._id">
                                {{list.code}}</option>

                        </select>

                        <div
                            *ngIf="billingFormGroup.controls['currencyId'].touched && billingFormGroup.controls['currencyId'].touched && billingFormGroup.controls['currencyId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Currency is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['currencyId'].hasError('required')">
                            <p class="error-message">Currency is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2 ">
                        <label for="ExchaneRate">Exchange Rate <sup>*</sup></label>
                        <input type="number" class="form-control" formControlName="exchangeRate"
                            placeholder="Exchange Rate">

                        <div
                            *ngIf="billingFormGroup.controls['exchangeRate'].touched && billingFormGroup.controls['exchangeRate'].touched && billingFormGroup.controls['exchangeRate'].hasError('required') && !isSubmitted">
                            <p class="error-message">Exchange Rate is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['exchangeRate'].hasError('required')">
                            <p class="error-message">Exchange Rate is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="Company">Company Code <sup>*</sup></label>
                        <select class="form-select" formControlName="companyCodeId"
                            (change)="handleCompanyCode($event)">
                            <option [selected]="billingFormGroup.value.companyCodeId=== ''" value="" hidden>Select
                                Company
                                Code</option>
                            <option *ngFor="let company of companyCodeDetails |filterPipes:'companyCode'; let i=index"
                                [value]="company._id">
                                {{company.companyCode}}</option>
                        </select>

                        <div
                            *ngIf="billingFormGroup.controls['companyCodeId'].touched && billingFormGroup.controls['companyCodeId'].touched && billingFormGroup.controls['companyCodeId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Company Code is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['companyCodeId'].hasError('required')">
                            <p class="error-message">Company Code is mandatory</p>
                        </div>


                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="">Customer Account Assign Group <sup>*</sup></label>
                        <select class="form-select" formControlName="customerAsstAccountId"
                            (change)="handleCustomerAcctAssign($event)">
                            <option [selected]="billingFormGroup.value.customerAsstAccountId=== ''" value="" hidden>
                                Enter
                                Customer Account AG</option>
                            <option *ngFor="let list of customerAccountAsstGroup |filterPipes:'customerAccountAG'"
                                [value]="list._id">
                                {{list.customerAccountAG}}</option>
                        </select>

                        <div
                            *ngIf="billingFormGroup.controls['customerAsstAccountId'].touched && billingFormGroup.controls['customerAsstAccountId'].touched && billingFormGroup.controls['customerAsstAccountId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Customer Account is mandatory</p>
                        </div>
                        <div
                            *ngIf="isSubmitted && billingFormGroup.controls['customerAsstAccountId'].hasError('required')">
                            <p class="error-message">Customer Account is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="">Posting Status <sup>*</sup></label>
                        <select class="form-select" formControlName="postingStatusId" (change)="handlePostingStatus($event)">
                            <option [selected]="billingFormGroup.value.postingStatusId=== ''" value="" hidden>Enter
                                Posting Status</option>
                                <option *ngFor="let list of postingDetails |filterPipes:'description'"
                                [value]="list._id">
                                {{list.description}}</option>
                        </select>

                        <div
                            *ngIf="billingFormGroup.controls['postingStatusId'].touched && billingFormGroup.controls['postingStatusId'].touched && billingFormGroup.controls['postingStatusId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Posting Status is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['postingStatusId'].hasError('required')">
                            <p class="error-message">Posting Status is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="">Payment Terms <sup>*</sup></label>
                        <select class="form-select" formControlName="paymentTermsId"
                            (change)="handlePaymentTerms($event)">
                            <option [selected]="billingFormGroup.value.paymentTermsId=== ''" value="" hidden>Select
                                Payment
                                Term</option>
                            <option *ngFor="let list of paymentTermDetail |filterPipes:'paymentTerm'"
                                [value]="list._id">{{list.paymentTerm}}
                            </option>
                        </select>

                        <div
                            *ngIf="billingFormGroup.controls['paymentTermsId'].touched && billingFormGroup.controls['paymentTermsId'].touched && billingFormGroup.controls['paymentTermsId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Payment Term is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['paymentTermsId'].hasError('required')">
                            <p class="error-message">Payment Term is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="">Inco Terms <sup>*</sup></label>
                        <select class="form-select" formControlName="incoTermsId"
                            (change)="handleIncrementTerms($event)">
                            <option [selected]="billingFormGroup.value.incoTermsId== ''" value="" hidden>Select Inco
                                Term</option>
                            <option *ngFor="let list of incrementTermsDetails |filterPipes:'description'"
                                [value]="list.inc_terms_code">{{list.description}}
                            </option>
                        </select>

                        <div
                            *ngIf="billingFormGroup.controls['incoTermsId'].touched && billingFormGroup.controls['incoTermsId'].touched && billingFormGroup.controls['incoTermsId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Inco Term is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['incoTermsId'].hasError('required')">
                            <p class="error-message">Inco Term is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="">Sales Org <sup>*</sup></label>
                        <select class="form-select" formControlName="salesOrgId" (change)="handleSales($event)">
                            <option [selected]="billingFormGroup.value.salesOrgId=== ''" value="" hidden>Select Sales
                                Org
                            </option>
                            <option *ngFor="let list of salesData |filterPipes:'salesOrg'" [value]="list._id">
                                {{list.salesOrg}}</option>
                        </select>

                        <div
                            *ngIf="billingFormGroup.controls['salesOrgId'].touched && billingFormGroup.controls['salesOrgId'].touched && billingFormGroup.controls['salesOrgId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Sales Org is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['salesOrgId'].hasError('required')">
                            <p class="error-message">Sales Org is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="">Distribution Channel <sup>*</sup></label>
                        <select class="form-select" formControlName="distributionChannelId"
                            (change)="handleDistribution($event)">
                            <option [selected]="billingFormGroup.value.distributionChannelId== ''" value="" hidden>
                                Select
                                Distribution Channel </option>
                            <option *ngFor="let list of distributionDetail |filterPipes:'distributionChannel'"
                                [value]="list._id">
                                {{list.distributionChannel}}
                            </option>
                        </select>

                        <div
                            *ngIf="billingFormGroup.controls['distributionChannelId'].touched && billingFormGroup.controls['distributionChannelId'].touched && billingFormGroup.controls['distributionChannelId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Distribution Channel is mandatory</p>
                        </div>
                        <div
                            *ngIf="isSubmitted && billingFormGroup.controls['distributionChannelId'].hasError('required')">
                            <p class="error-message">Distribution Channel is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="">Division <sup>*</sup></label>
                        <select class="form-select" formControlName="divisionId" (change)="handleDivision($event)">
                            <option [selected]="billingFormGroup.value.divisionId=== ''" value="" hidden>Select Division
                            </option>
                            <option *ngFor="let list of divisionDetail |filterPipes:'divion'" [value]="list._id">
                                {{list.divion}}</option>
                        </select>

                        <div
                            *ngIf="billingFormGroup.controls['divisionId'].touched && billingFormGroup.controls['divisionId'].touched && billingFormGroup.controls['divisionId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Division is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['divisionId'].hasError('required')">
                            <p class="error-message">Division is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="">Mode Of Transport <sup>*</sup></label>
                        <select class="form-select" formControlName="modeOfTarnsportId"
                            (change)="handlemodeofTransport($event)">
                            <option [selected]="billingFormGroup.value.modeOfTarnsportId=== ''" value="" hidden>Select
                                Mode Of Transport</option>
                            <option *ngFor="let list of motDetails |filterPipes:'modeOfTransport'" [value]="list._id">
                                {{list.modeOfTransport}}</option>
                        </select>

                        <div
                            *ngIf="billingFormGroup.controls['modeOfTarnsportId'].touched && billingFormGroup.controls['modeOfTarnsportId'].touched && billingFormGroup.controls['modeOfTarnsportId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Mode Of Transport is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['modeOfTarnsportId'].hasError('required')">
                            <p class="error-message">Mode Of Transport is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="NetTax">Net Tax <sup>*</sup></label>
                        <input type="number" class="form-control" formControlName="netTax" placeholder="Net Tax">

                        <div
                            *ngIf="billingFormGroup.controls['netTax'].touched && billingFormGroup.controls['netTax'].touched && billingFormGroup.controls['netTax'].hasError('required') && !isSubmitted">
                            <p class="error-message">Net Tax is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['netTax'].hasError('required')">
                            <p class="error-message">Net Tax is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="NetDiscount">Net Discount <sup>*</sup></label>
                        <input type="number" class="form-control" formControlName="netDiscount"
                            placeholder="Net Discount">

                        <div
                            *ngIf="billingFormGroup.controls['netDiscount'].touched && billingFormGroup.controls['netDiscount'].touched && billingFormGroup.controls['netDiscount'].hasError('required') && !isSubmitted">
                            <p class="error-message">Net Discount is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['netDiscount'].hasError('required')">
                            <p class="error-message">Net Discount is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="netFreight">Net Freight <sup>*</sup></label>
                        <input type="number" class="form-control" formControlName="netFreight"
                            placeholder="Net Freight">

                        <div
                            *ngIf="billingFormGroup.controls['netFreight'].touched && billingFormGroup.controls['netFreight'].touched && billingFormGroup.controls['netFreight'].hasError('required') && !isSubmitted">
                            <p class="error-message">Net Freight is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['netFreight'].hasError('required')">
                            <p class="error-message">Net Freight is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2  mb-2">
                        <label for="OtherCharge">Other Charges <sup>*</sup></label>
                        <input type="number" class="form-control" formControlName="otherCharges"
                            placeholder="Other Charge">

                        <div
                            *ngIf="billingFormGroup.controls['otherCharges'].touched && billingFormGroup.controls['otherCharges'].touched && billingFormGroup.controls['otherCharges'].hasError('required') && !isSubmitted">
                            <p class="error-message">Other Charge is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && billingFormGroup.controls['otherCharges'].hasError('required')">
                            <p class="error-message">Other Charge is mandatory</p>
                        </div>

                    </div>


                </div>



                <div class="row py-2">
                    <div class="col-12 border">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <h3 class="mt-2 ">
                                    Item Data
                                </h3>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-end align-items-center">
                                <button class="btn btn-primary" (click)="addFinancial()">Add</button>

                            </div>
                        </div>



                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th *ngIf="financialListArray.controls.length > 1">Actions</th>
                                        <th>Billed Qty</th>
                                        <th>UOM</th>
                                        <th>Net Weight</th>
                                        <th>Gross Weight</th>
                                        <th>Gross UOM</th>
                                        <th>Sales Order</th>
                                        <th>Sales Order Item</th>
                                        <th>Reference Doc</th>
                                        <th>Reference Doc Item</th>
                                        <th>Pricing Date</th>
                                        <th>Service rendered date</th>
                                        <th>Price Amount</th>
                                        <th>Per unit Price</th>
                                        <th>Pricing unit</th>
                                        <th>Pricing UoM</th>
                                        <th>Tax</th>
                                        <th>Per Unit Tax</th>
                                        <th>Discount</th>
                                        <th>Per Unit Discount</th>
                                        <th>Freight</th>
                                        <th>Per Unit Freight</th>
                                        <th>Other Charges</th>
                                        <th>Company Currency</th>
                                        <th>Transaction Currency</th>
                                        <th>Exchange Rate</th>
                                        <th>HSN Code</th>
                                        <th>Country Of Origin</th>
                                        <th>Destination Country</th>
                                        <th>PO Number</th>
                                        <th>PO Date</th>
                                    </tr>
                                </thead>

                                <tbody formArrayName="itemList">
                                    <tr *ngFor="let financial of financialListArray.controls; let i = index;"
                                        [formGroupName]="i">
                                        <td *ngIf="financialListArray.controls.length > 1">
                                            <mat-icon style="cursor:pointer"
                                                (click)="deleteFinancial(i)">delete</mat-icon>
                                        </td>
                                        <td>
                                            <input type="number" formControlName="billedQTY" class="form-control"
                                                placeholder="enter Build Qty">
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="uom">
                                                <option [selected]="billingFormGroup.value.uom === ''" value="" hidden>
                                                    Select UoM</option>
                                                <option *ngFor="let list of uomDetail | filterPipes: 'code'"
                                                    [value]="list._id">{{list.code}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" formControlName="netWeight"
                                                placeholder="enter net weight">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="grossWeight" class="form-control"
                                                placeholder="enter gross weight.">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="grossUOM" class="form-control"
                                                placeholder="enter gross UOM.">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="salesOrder" class="form-control"
                                                placeholder="enter sales order.">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="salesOrderItem" class="form-control"
                                                placeholder="enter sales item">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="referenceDocument" class="form-control"
                                                placeholder="enter reference document">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="referenceDocumentItem"
                                                class="form-control" placeholder="enter reference document Item">
                                        </td>
                                        <td>
                                            <input type="date" formControlName="priceDate" class="form-control">
                                        </td>
                                        <td>
                                            <input type="date" formControlName="serviceRenderedDate"
                                                class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="priceAmount" class="form-control"
                                                placeholder="enter price Amount">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="perUnitPrice" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="pricingUnit" class="form-control">
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="pricingUOM">
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" formControlName="tax" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="perUnitTax" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="discount" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="perUnitDiscount" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="freight" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="perUnitFreight" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" formControlName="otherCharges" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder="Auto Company Currency"
                                                formControlName="companyCurrency" readonly>
                                        </td>
                                        <td>
                                            <select class="form-select " aria-label="Default select example"
                                                formControlName="transactionCurrency">
                                                <option selected value="" hidden>Select
                                                    Transaction Currency</option>
                                                <option *ngFor="let list of currencyDetails |filterPipes:'code'"
                                                    [value]="list.code">
                                                    {{list.code}}</option>
                                                <!-- <option *ngFor="let list of customerMasterDetail" [value]="list.customerId">{{list.transactionCurrency}}</option> -->

                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" formControlName="exchangeRate" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="hsnCode" class="form-control">
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="countryOrigin">
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="destinationCountry">
                                                <option selected></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" formControlName="poNumber" class="form-control">
                                        </td>
                                        <td>
                                            <input type="date" formControlName="poDate" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>