<div class="container-fluid">
    <form [formGroup]="divionData" (ngSubmit)="submitData()">
        <h2><mat-icon class="back" routerLink="/settings/divion-list">arrow_back</mat-icon>division
        </h2>
        <div class="row">
            <div class="col-6 "> 
                <label for="" class="">Division<sup>*</sup></label>
                <input type="text" class="form-control mb-3" placeholder="Enter division" formControlName="divion">
                <div
                    *ngIf="divionData.controls['divion'].touched && divionData.controls['divion'].dirty && divionData.controls['divion'].hasError('required') && !isSubmitted">
                    <p class="error-message">Division is required</p>
                </div>
                <div *ngIf="isSubmitted && divionData.controls['divion'].hasError('required')">
                    <p class="error-message">Division is required</p>
                </div> 
                
            </div>
            <div class="col-6 ">
                <label for="" class="">Description<sup>*</sup></label>
                <input type="text" class="form-control mb-3" placeholder="Description " formControlName="divionDescription">
                <div
                    *ngIf="divionData.controls['divionDescription'].touched && divionData.controls['divionDescription'].dirty && divionData.controls['divionDescription'].hasError('required') && !isSubmitted">
                    <p class="error-message">Description is required</p>
                </div>
                <div *ngIf="isSubmitted && divionData.controls['divionDescription'].hasError('required')">
                    <p class="error-message">Description is required</p>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </div>
    </form>
</div>