<div class="container-fluid ">
  <div class="row mt-3 ">
    <div class="col-10 ms-0">
      <div class="d-grid gap-2 d-md-flex justify-content-md-start ">

        <select class="form-select w-25" aria-label="Default select example">
          <option selected>Select PO</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <select class="form-select w-25" aria-label="Default select example">
          <option selected>Store</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <input type="search" name="" id="" placeholder="Search.." class="form-control w-25">

        <select class="form-select w-25" aria-label="Default select example">
          <option selected>Distributor Name</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>


  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
      <button (click)="nextPage('/purchase/add-purchase-order')" class="btn btn-primary " type="button"
        style="color: white;background: #00acff;">Add PO</button>

      <button class="btn btn-danger" type="button" style="color: white;">
        <mat-icon style="line-height: 34px;">delete</mat-icon>
        Delete Selected PO</button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <!-- <mat-icon>dialpad</mat-icon> -->
          <span>Import PO</span>
        </button>
        <button mat-menu-item>
          <!-- <mat-icon>voicemail</mat-icon> -->
          <span>Export PO</span>
        </button>
        <button mat-menu-item>
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <span>Sample PO Sheet</span>
        </button>
      </mat-menu>


    </div>
  </div>
</div>
<div class="row mt-4 ms-2">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">PO Type</th>
            <th scope="col">PO Number </th>
            <th scope="col">Net Tax</th>
            <th scope="col">PO Date</th>
            <th scope="col">Company COde</th>
            <th scope="col">Action</th>
            <th scope="col"><input type="checkbox" (change)="selectAll($event)"> Select All</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>Mark</td>
            <td>
              <div class="d-flex">
                <div>
                  <mat-icon>edit</mat-icon>
                </div>
                <div>
                  <mat-icon>delete</mat-icon>
                </div>
              </div>
            </td>
            <td><input type="checkbox" [checked]="checks"></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>Mark</td>
            <td>
              <div class="d-flex">
                <div>
                  <mat-icon>edit</mat-icon>
                </div>
                <div>
                  <mat-icon>delete</mat-icon>
                </div>
              </div>
            </td>
            <td><input type="checkbox" [checked]="checks"></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
            <td>Mark</td>
            <td>
              <div class="d-flex">
                <div>
                  <mat-icon>edit</mat-icon>
                </div>
                <div>
                  <mat-icon>delete</mat-icon>
                </div>
              </div>
            </td>
            <td><input type="checkbox" [checked]="checks"></td>

          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>