<app-side-nav (isShowNav)="handleSideBar($event)" [logoutAction]="idleState"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <form [formGroup]="transport" (ngSubmit)="addMode()">
        <h2><mat-icon class="back" routerLink="/settings/modeOf-transport-list">arrow_back</mat-icon>Mode Of Transport
        </h2>
        <div class="row">
            <div class="col-6 py-2">
                <label for="" class="">Mode Of Transport<sup>*</sup></label>
                <input type="text" class="form-control " placeholder="Enter Mode Of Transport"
                    formControlName="modeOfTransport" appDirective>
                <div
                    *ngIf="transport.controls['modeOfTransport'].touched && transport.controls['modeOfTransport'].dirty && transport.controls['modeOfTransport'].hasError('required') && !isSubmitted">
                    <p class="error-message">Mode Of Transport is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && transport.controls['modeOfTransport'].hasError('required')">
                    <p class="error-message">Mode Of Transport is mandatory</p>
                </div>
                <div *ngIf="transport.controls['modeOfTransport'].hasError('minlength')">
                    <p class="error-message">Minimum length exceeded (min Limit : 6).</p>
                  </div>
                <div *ngIf="transport.controls['modeOfTransport'].hasError('maxlength')">
                    <p class="error-message">Maximum length exceeded (Max Limit : 6).</p>
                </div>
            </div>
            <div class="col-6 py-2">
                <label for="" class="">Description<sup>*</sup></label>

                <input type="text" class="form-control " placeholder="Description " formControlName="motDescription">
                <div
                    *ngIf="transport.controls['motDescription'].touched && transport.controls['motDescription'].dirty && transport.controls['motDescription'].hasError('required') && !isSubmitted">
                    <p class="error-message">Description is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && transport.controls['motDescription'].hasError('required')">
                    <p class="error-message">Description is mandatory</p>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end py-2">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>