<div class="container-fluid">
    <form [formGroup]="transport" (ngSubmit)="addMode()">
        <h2><mat-icon class="back" routerLink="/settings/modeOf-transport-list">arrow_back</mat-icon>Mode Of Transport
        </h2>
        <div class="row">
            <div class="col-6">
                <label for="" class="">Mode Of Transport<sup>*</sup></label>
                <input type="text" class="form-control " placeholder="Enter Mode Of Transport"
                    formControlName="modeOfTransport">
                <div
                    *ngIf="transport.controls['modeOfTransport'].touched && transport.controls['modeOfTransport'].dirty && transport.controls['modeOfTransport'].hasError('required') && !isSubmitted">
                    <p class="error-message">Mode Of Transport is required</p>
                </div>
                <div *ngIf="isSubmitted && transport.controls['modeOfTransport'].hasError('required')">
                    <p class="error-message">Mode Of Transport is required</p>
                </div>
            </div>
            <div class="col-6">
                <label for="" class="">Description<sup>*</sup></label>

                <input type="text" class="form-control " placeholder="Description " formControlName="motDescription">
                <div
                    *ngIf="transport.controls['motDescription'].touched && transport.controls['motDescription'].dirty && transport.controls['motDescription'].hasError('required') && !isSubmitted">
                    <p class="error-message">Description is required</p>
                </div>
                <div *ngIf="isSubmitted && transport.controls['motDescription'].hasError('required')">
                    <p class="error-message">Description is required</p>
                </div>
            </div>
            <div class="col-2 py-2">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>