<div class="container">
    <form [formGroup]="sales" (ngSubmit)="add()">
        <h2>Sales Order</h2>
        <div class="row">
            <div class="col-6">
                <span  class="mt-4">Order Type</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="order">
                    <option selected>Order Type</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span  class="mt-4">Sales Org</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="saleOrg">
                    <option selected>Sales Org</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span  class="mt-4">Distribution Channel</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="dist">
                    <option selected>Distribution Channel</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span  class="mt-4">Division</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="division">
                    <option selected>Division</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span  class="mt-4">Customer Id</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="custId">
                    <option selected>Customer Id</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span  class="mt-4">Customer Add</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="custAdd">
                    <option selected>Customer Add</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span  class="mt-4">Sales Order</span>
                <input type="text" class="form-control mb-3" placeholder="Enter Sales Order"
                    formControlName="saleOrder">
                <span  class="mt-4">Customer PO</span>
                <input type="text" class="form-control mb-3" placeholder="Enter Customer PO" formControlName="custPO">
                <span  class="mt-4">Customer PO Date</span>
                <input type="date" class="form-control mb-3" placeholder="Enter PO Date" formControlName="poDate">
                <span  class="mt-4">Req Delivery Date</span>
                <input type="date" class="form-control mb-3" placeholder="Enter Req Delivery Date"
                    formControlName="delDate">

                <span  class="mt-4">Company Currency</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="comCur">
                    <option selected>Company Currency</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span  class="mt-4">Transaction Curr</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="traCurr">
                    <option selected>Transaction Curr</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span  class="mt-4"> Text</span>
                <input type="text" class="form-control mb-3" placeholder=" Enter Text" formControlName="txt">


                <span  class="mt-4">Order Status</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="orderStatus">
                    <option selected>Order Status</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>
            <div class="col-6">
                <span  class="mt-4">Exchange Rate</span>
                <input type="text" class="form-control mb-3" placeholder="Enter Exchange Rate" formControlName="exRate">
                <span  class="mt-4">Mode of Transport</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="modeTra">
                    <option selected>Mode of Transport</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span  class="mt-4">Total Net Weight</span>
                <input type="text" class="form-control mb-3" placeholder="Calculated Total Net Weight"
                    formControlName="netWt">
                <span  class="mt-4">Total Gross Wt</span>
                <input type="text" class="form-control mb-3" placeholder="Calculated Total Gross Wt"
                    formControlName="grossWt">
                <span  class="mt-4">Total Volume</span>
                <input type="text" class="form-control mb-3" placeholder="Calculated Total Volume"
                    formControlName="totVol">
                <span  class="mt-4">Payment Term</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="payTerm">
                    <option selected>Payment Term</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span  class="mt-4">Billing Block</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="billBlock">
                    <option selected>Billing Block</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span  class="mt-4">Company Code</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="comCode">
                    <option selected>Company Code</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span  class="mt-4">Customer Account</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="custAcc">
                    <option selected>Customer Account</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

                <span  class="mt-4">Net Price</span>
                <input type="number" class="form-control mb-3" placeholder="Enter Net Price" formControlName="netPrice">
                <span  class="mt-4">Net Tax</span>
                <input type="number" class="form-control mb-3" placeholder="Enter Net Tax" formControlName="netTax">
                <span  class="mt-4">Net Discount</span>
                <input type="number" class="form-control mb-3" placeholder="Enter Net Discount"
                    formControlName="netDis">
                <span  class="mt-4">Net Freight</span>
                <input type="number" class="form-control mb-3" placeholder="enter Net Freight" formControlName="netFre">
                <span  class="mt-4">Other Charges</span>
                <input type="number" class="form-control mb-3" placeholder="Other Charges" formControlName="otherCh">
            </div>
        </div>
        <h2>Item Data</h2>
        <div class="row">
            <div>
                <button type="button" class="btn btn-primary m-1" (click)="addSales()"
                    style="color: white;background-color: #00acff;">Add Sales Item</button>
            </div>
            <div class="row" formArrayName="salesList">
                <div class="row" *ngFor="let item of sales.get('salesList').controls; let i=index" [formGroupName]="i">
                    <div class="col-6">
                        <span  class="mt-4">Product Id</span>
                        <select class="form-select mb-3" aria-label="Default select example" formControlName="proId">
                            <option selected>Product Id</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <span  class="mt-4">Product Description</span>
                        <input type="number" class="form-control mb-3" placeholder="Autofetched Product Description"
                            formControlName="proDes">
                        <span  class="mt-4">Order Qty</span>
                        <input type="number" class="form-control mb-3" placeholder="Oredr Qty" formControlName="ordQty">
                        <span  class="mt-4">UOM</span>
                        <input type="text" class="form-control mb-3" placeholder="Enter UOM" formControlName="uom">
                        <span  class="mt-4">Plant</span>
                        <input type="text" class="form-control mb-3" placeholder="Enter Plant" formControlName="plant">
                        <span  class="mt-4">Storage Location</span>
                        <input type="text" class="form-control mb-3" placeholder="Auto Storage Location"
                            formControlName="stLoc">
                        <span  class="mt-4">Batch</span>
                        <input type="text" class="form-control mb-3" placeholder="Enter Batch" formControlName="batch">
                        <span  class="mt-4">Price Amount</span>
                        <input type="number" class="form-control mb-3" placeholder="Enter Price Amount"
                            formControlName="price">
                        <span  class="mt-4">Per Unit Price</span>
                        <input type="number" class="form-control mb-3" placeholder="Enter Per Unit Price"
                            formControlName="perUnit">
                        <span  class="mt-4">Pricing Unit</span>
                        <input type="number" class="form-control mb-3" placeholder="Pricing Unit"
                            formControlName="pricingUnit">
                        <span  class="mt-4">pricing Date</span>
                        <input type="date" class="form-control mb-3" placeholder="pricing Date"
                            formControlName="priDate">
                        <span  class="mt-4">Volume</span>
                        <input type="number" class="form-control mb-3" placeholder="Volume" formControlName="vol">
                        <span  class="mt-4">Pricing UOM</span>
                        <select class="form-select mb-3" aria-label="Default select example" formControlName="priuom">
                            <option selected>Pricing UOM</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <span  class="mt-4">Tax</span>
                        <input type="number" class="form-control mb-3" placeholder=" Enter Tax" formControlName="tax">
                        <span  class="mt-4">Per Unit Tax</span>
                        <input type="number" class="form-control mb-3" placeholder="Per Unit Tax"
                            formControlName="perUnitTax">
                        <span  class="mt-4">Discount</span>
                        <input type="number" class="form-control mb-3" placeholder="Discount"
                            formControlName="discount">
                        <span  class="mt-4">Per Unit Discount</span>
                        <input type="number" class="form-control mb-3" placeholder="Per Unit Discount"
                            formControlName="perDis">
                        <span  class="mt-4">Freight</span>
                        <input type="number" class="form-control mb-3" placeholder="Freight" formControlName="fre">
                        <span  class="mt-4">Per Unit Freight</span>
                        <input type="number" class="form-control mb-3" placeholder="Per Unit Freight"
                            formControlName="perFre">
                        <span  class="mt-4">Other Charges</span>
                        <input type="number" class="form-control mb-3" placeholder="Other Charges"
                            formControlName="othCharge">
                        <span  class="mt-4">Company Currency</span>
                        <input type="text" class="form-control mb-3" placeholder="Auto Company Currency"
                            formControlName="compCurr">
                        <span  class="mt-4">Transation Currency</span>
                        <input type="text" class="form-control mb-3" placeholder="Auto Transation Currency"
                            formControlName="tranCurrency">
                        <span  class="mt-4">Exchange Rate</span>
                        <input type="text" class="form-control mb-3" placeholder="Exchange Rate"
                            formControlName="exchangeRate">
                        <span  class="mt-4">Net Weight</span>
                        <input type="number" class="form-control mb-3" placeholder="Net Weight"
                            formControlName="netWeight">
                        <span  class="mt-4">Gross Weight</span>
                        <input type="number" class="form-control mb-3" placeholder="Gross Weight"
                            formControlName="groWeight">

                    </div>
                    <div *ngIf="sales.get('salesList').controls.length > 1">
                        <button (click)="deleterow(i)" type="button" class="btn btn-danger mb-3"
                            style="width: 100px;">Delete</button>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>