<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h3 class="mt-2">
        <mat-icon class="back" routerLink="/master/customer-list">arrow_back</mat-icon> Customer Maintainence
    </h3>
    <div class="row">
        <div class="col-12 ">
            <form [formGroup]="general" (ngSubmit)="addAll()">
                <div class="row border">
                    <div class="col-6 py-2 py-1">
                        <label for="" class="">Customer Name <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Customer Name"
                            formControlName="customerName">
                        <div
                            *ngIf="general.controls['customerName'].touched && general.controls['customerName'].dirty && general.controls['customerName'].hasError('required') && !isSubmitted">
                            <p class="error-message">Customer Name is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['customerName'].hasError('required')">
                            <p class="error-message">Customer Name is mandatory</p>
                        </div>
                    </div>
                    <div class="col-6 py-2 py-1">
                        <label for="example">Country <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example" formControlName="countryId"
                            (change)="selectCountryName($event)">
                            <option [selected]="general.value.countryId === ''" value="" hidden>Select Country</option>
                            <option *ngFor="let list of countryDetials" [value]="list._id">
                                {{list.countryName}}</option>
                        </select>
                        <div
                            *ngIf="general.controls['countryId'].touched && general.controls['countryId'].dirty && general.controls['countryId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Country is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['countryId'].hasError('required')">
                            <p class="error-message">Country is mandatory</p>
                        </div>
                    </div>
                    <div class="col-6 py-2 py-1">
                        <label for="" class="">Address <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Address" formControlName="address">
                        <div
                            *ngIf="general.controls['address'].touched && general.controls['address'].dirty && general.controls['address'].hasError('required') && !isSubmitted">
                            <p class="error-message">Address is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['address'].hasError('required')">
                            <p class="error-message">Address is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2 py-1">

                        <label for="" class="">Postal Code <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Postal Code"
                            formControlName="postalCode">
                        <div
                            *ngIf="general.controls['postalCode'].touched && general.controls['postalCode'].dirty && general.controls['postalCode'].hasError('required') && !isSubmitted">
                            <p class="error-message">Postal Code is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['postalCode'].hasError('required')">
                            <p class="error-message">Postal Code is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2 py-1">

                        <label for="">City <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter City" formControlName="city">
                        <div
                            *ngIf="general.controls['city'].touched && general.controls['city'].dirty && general.controls['city'].hasError('required') && !isSubmitted">
                            <p class="error-message">City is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['city'].hasError('required')">
                            <p class="error-message">City is mandatory</p>
                        </div>
                    </div>
                    <div class="col-6 py-2 py-1">

                        <label for="">Region <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Region" formControlName="region">
                        <div
                            *ngIf="general.controls['region'].touched && general.controls['region'].dirty && general.controls['region'].hasError('required') && !isSubmitted">
                            <p class="error-message">Region is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['region'].hasError('required')">
                            <p class="error-message">Region is mandatory</p>
                        </div>
                    </div>
                    <div class="col-6 py-2 py-1">

                        <label for="">Telephone <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Telephone"
                            formControlName="telephone">
                        <div
                            *ngIf="general.controls['telephone'].touched && general.controls['telephone'].dirty && general.controls['telephone'].hasError('required') && !isSubmitted">
                            <p class="error-message">Telephone is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['telephone'].hasError('required')">
                            <p class="error-message">Telephone is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2 py-1">
                        <label for="">Tax No 1 <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Tax Number 1"
                            formControlName="taxNumber1">
                        <div
                            *ngIf="general.controls['taxNumber1'].touched && general.controls['taxNumber1'].dirty && general.controls['taxNumber1'].hasError('required') && !isSubmitted">
                            <p class="error-message">Tax No 1 is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['taxNumber1'].hasError('required')">
                            <p class="error-message">Tax No 1 is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 py-2 py-1">

                        <label for="">Tax NO 2 <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter Tax Number 2"
                            formControlName="taxNumber2">
                        <div
                            *ngIf="general.controls['taxNumber2'].touched && general.controls['taxNumber2'].dirty && general.controls['taxNumber2'].hasError('required') && !isSubmitted">
                            <p class="error-message">Tax No 2 is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['taxNumber2'].hasError('required')">
                            <p class="error-message">Tax No 2 is mandatory</p>
                        </div>
                    </div>
                    <div class="col-6 py-2 py-1">

                        <label for="">VAT Registration Number <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter VAT Registration Number"
                            formControlName="vatRegNO">
                        <div
                            *ngIf="general.controls['vatRegNO'].touched && general.controls['vatRegNO'].dirty && general.controls['vatRegNO'].hasError('required') && !isSubmitted">
                            <p class="error-message">VAT Registration Number is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && general.controls['vatRegNO'].hasError('required')">
                            <p class="error-message">VAT Registration Number is mandatory</p>
                        </div>
                    </div>
                </div>



                <div class="row border mt-2">
                    <div class="col-12 ">

                        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                            <div class="row">
                                <div class="col-12">
                                    <mat-tab label="Financial Data">
                                        <div class="col-12 d-flex justify-content-end py-2">
                                            <button type="button" class="btn btn-primary" (click)="addPlant()"
                                                style="color: white;background-color: #00acff;">Add Financial</button>
                                        </div>


                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th *ngIf="detail.controls.length > 1">Actions</th>
                                                        <th>Currency</th>
                                                        <th>Terms Of Payment</th>
                                                        <th>Company Code</th>
                                                        <th>Reconciliation acct</th>
                                                        <th>Tax classification- Tax 1</th>
                                                        <th>Tax classification- Tax 2</th>
                                                        <th>Tax classification- Tax 3</th>
                                                        <th>Tax classification- Tax 4</th>
                                                        <th>Tax classification- Tax 5</th>
                                                    </tr>
                                                </thead>

                                                <tbody formArrayName="plantData">
                                                    <tr *ngFor="let financial of detail.controls; let i = index;"
                                                        [formGroupName]="i">
                                                        <td *ngIf="detail.controls.length > 1">
                                                            <mat-icon style="cursor:pointer"
                                                                (click)="deleterow(i)">delete</mat-icon>
                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="currency">
                                                                <option [selected]="general.value.currency === ''"
                                                                    value="" hidden>Select Currency</option>

                                                                <option *ngFor="let list of currencyDetails"
                                                                    [value]="list._id">{{list.code}}</option>

                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="termsPayment">
                                                                <option [selected]="general.value.termsPayment === ''"
                                                                    value="" hidden>Select Term Of Payment</option>

                                                                <option *ngFor="let list of paymentTermDetail"
                                                                    [value]="list._id">{{list.paymentTerm}}</option>

                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-select " formControlName="companyCode">
                                                                <option [selected]="general.value.companyCode === ''"
                                                                    value="" hidden>Select Company</option>
                                                                <option *ngFor="let list of companyDetails;"
                                                                    [value]="list._id">{{list.companyCode}}

                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="reconciliationAcct">
                                                                <option
                                                                    [selected]="general.value.reconciliationAcct === ''"
                                                                    value="" hidden>Select Reconciliation</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="tax1">
                                                                <option [selected]="general.value.tax1 === ''" value=""
                                                                    hidden>Select Tax</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="tax2">
                                                                <option [selected]="general.value.tax2 === ''" value=""
                                                                    hidden>Select Tax2</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="tax3">
                                                                <option [selected]="general.value.tax3 === ''" value=""
                                                                    hidden>Select Tax3</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="tax4">
                                                                <option [selected]="general.value.tax4 === ''" value=""
                                                                    hidden>Select Tax4</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="tax5">
                                                                <option [selected]="general.value.tax5 === ''" value=""
                                                                    hidden>Select Tax5</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>

                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </mat-tab>

                                    <mat-tab label="Sales Data">
                                        <div class="col-12 d-flex justify-content-end py-2">
                                            <button type="button" class="btn btn-primary" (click)="addSec()"
                                                style="color: white;background-color: #00acff;">Add Sales</button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th *ngIf="salesDetail.controls.length > 1">Actions</th>
                                                        <th>Billing Block</th>
                                                        <th>Working Time</th>
                                                        <th>Account Group</th>
                                                        <th>Deletion Flag</th>
                                                        <th>Delievery Block</th>
                                                        <th>Sales Organization</th>
                                                        <th>Distribution Channel</th>
                                                        <th>Division</th>
                                                        <th>Customer group</th>
                                                        <th>Mode of transport</th>
                                                        <th>Acct Assmt Grp Cust.</th>
                                                        <th>Delivery Plant</th>
                                                        <th>Partial Delivery allowed</th>
                                                    </tr>
                                                </thead>

                                                <tbody formArrayName="salesData">
                                                    <tr *ngFor="let financial of salesDetail.controls; let j = index;"
                                                        [formGroupName]="j">
                                                        <td *ngIf="salesDetail.controls.length > 1">
                                                            <mat-icon style="cursor:pointer"
                                                                (click)="deleteSalesrow(j)">delete</mat-icon>
                                                        </td>
                                                        <td>
                                                            <select class="form-select"
                                                                aria-label="Default select example"
                                                                formControlName="billingBlock">
                                                                <option [selected]="general.value.billingBlock === ''"
                                                                    value="" hidden>Select billing Block</option>
                                                                <option *ngFor="let list of billingBlockDetail"
                                                                    [value]="list._id">{{list.billingBlock}}</option>

                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="workingTimes">
                                                                <option [selected]="general.value.workingTimes === ''"
                                                                    value="" hidden>Select working Time</option>

                                                                <option value="One">One</option>
                                                                <option value="Two">Two</option>
                                                                <option value="Three">Three</option>
                                                            </select>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="accountGroup">
                                                                <option [selected]="general.value.accountGroup === ''"
                                                                    value="" hidden>Select account Group</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <input type="checkbox" formControlName="deletionFlag">
                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="deliveryBlock">
                                                                <option [selected]="general.value.deliveryBlock === ''"
                                                                    value="" hidden>Select delivery Block</option>
                                                                <option *ngFor="let list of deliveryBlockDetail"
                                                                    [value]="list._id">{{list.deliveryBlockId}}</option>

                                                            </select>


                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="salesOrganization">
                                                                <option
                                                                    [selected]="general.value.salesOrganization === ''"
                                                                    value="" hidden>Select sales Org</option>
                                                                <option *ngFor="let list of salesData"
                                                                    [value]="list._id">
                                                                    {{list.salesOrg}}</option>
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="distributionChannel">
                                                                <option
                                                                    [selected]="general.value.distributionChannel === ''"
                                                                    value="" hidden>Select distribution Channel</option>
                                                                <option *ngFor="let list of distributionDetail"
                                                                    [value]="list._id">{{list.distributionChannel}}
                                                                </option>
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="division">
                                                                <option [selected]="general.value.division === ''"
                                                                    value="" hidden>Select division</option>
                                                                <option *ngFor="let list of divisionDetail"
                                                                    [value]="list._id">{{list.divion}}</option>

                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="customerGroup">
                                                                <option [selected]="general.value.customerGroup === ''"
                                                                    value="" hidden>Select customerGroup</option>
                                                                <option *ngFor="let list of customerGroupDetail"
                                                                    [value]="list._id">{{list.customerGroupId}}</option>
                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="modeOfTransport">
                                                                <option
                                                                    [selected]="general.value.modeOfTransport === ''"
                                                                    value="" hidden>Select modeOfTransport</option>
                                                                <option *ngFor="let list of motDetails"
                                                                    [value]="list._id">{{list.modeOfTransport}}</option>

                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="acctAssGrpCustomer">
                                                                <option
                                                                    [selected]="general.value.acctAssGrpCustomer === ''"
                                                                    value="" hidden>Select acctAsmt</option>
                                                                <option *ngFor="let list of acctAssignmentDetail"
                                                                    [value]="list._id">{{list.customerAccountAG}}
                                                                </option>

                                                            </select>

                                                        </td>
                                                        <td>
                                                            <select class="form-select "
                                                                aria-label="Default select example"
                                                                formControlName="deliveryPlant">
                                                                <option [selected]="general.value.deliveryPlant === ''"
                                                                    value="" hidden>Select delivery Plant</option>
                                                                <option *ngFor="let list of plantDetail"
                                                                    [value]="list._id">{{list.plantCode}}</option>

                                                            </select>

                                                        </td>
                                                        <td>
                                                            <input type="checkbox" formControlName="partialDeliveryAllowed">

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </mat-tab>
                                </div>
                            </div>
                        </mat-tab-group>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-end py-2">
                        <button type="submit" class="btn btn-primary"
                            style="background-color: #00acff;color: white;">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>