<div class="container-fluid">
  <form [formGroup]="salesOrg" (ngSubmit)="addCode()">
    <h2>
      <mat-icon class="back" routerLink="/settings/sales-org-list">arrow_back</mat-icon>Sales Org
    </h2>
    <div class="row">
      <div class="col-6">
        <label for="" class="">Sales Org</label>
        <input type="text" class="form-control " placeholder=" Enter Sales Org" formControlName="salesOrg" />
        <div
          *ngIf="salesOrg.controls['salesOrg'].touched && salesOrg.controls['salesOrg'].dirty && salesOrg.controls['salesOrg'].hasError('required') && !isSubmitted">
          <p class="error-message">Sales Org is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['salesOrg'].hasError('required')">
          <p class="error-message">Sales Org is required</p>
        </div>
      </div>
      <div class="col-6">
        <label for="" class="">Sales Org Description</label>
        <input type="text" class="form-control " placeholder=" Enter Sales Org Description"
          formControlName="description" />
        <div
          *ngIf="salesOrg.controls['description'].touched && salesOrg.controls['description'].dirty && salesOrg.controls['description'].hasError('required') && !isSubmitted">
          <p class="error-message">Sales Org Description is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['description'].hasError('required')">
          <p class="error-message">Sales Org Description is required</p>
        </div>
      </div>
      <div class="col-6">
        <label for="" class="">Address</label>
        <input type="text" class="form-control " placeholder="Enter Address " formControlName="address" />
        <div
          *ngIf="salesOrg.controls['address'].touched && salesOrg.controls['address'].dirty && salesOrg.controls['address'].hasError('required') && !isSubmitted">
          <p class="error-message">Address is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['address'].hasError('required')">
          <p class="error-message">Address is required</p>
        </div>
      </div>
      <div class="col-6">
        <label for="">Search Term</label>
        <input type="text" class="form-control " placeholder="Enter Search Term  " formControlName="searchTerm" />
        <div
          *ngIf="salesOrg.controls['searchTerm'].touched && salesOrg.controls['searchTerm'].dirty && salesOrg.controls['searchTerm'].hasError('required') && !isSubmitted">
          <p class="error-message">search Term is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['searchTerm'].hasError('required')">
          <p class="error-message">search Term is required</p>
        </div>
      </div>

      <div class="col-6">
        <label for="">Country</label>
        <select class="form-select" formControlName="countryId" aria-label="Default select example" (change)="selectCountry($event)">
          <option [selected]="salesOrg.value.countryId === ''" value="" hidden>Select Country</option>
          <option *ngFor="let list of countryDetials;" [value]="list._id"> {{list.countryName}} </option>

        </select>
        <div
          *ngIf="salesOrg.controls['countryId'].touched && salesOrg.controls['countryId'].dirty && salesOrg.controls['countryId'].hasError('required') && !isSubmitted">
          <p class="error-message">country is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['countryId'].hasError('required')">
          <p class="error-message">country is required</p>
        </div>
      </div>
      <div class="col-6">
        <label for="">Region</label>
        <select class="form-select" formControlName="regionId" aria-label="Default select example" >
          <option [selected]="salesOrg.value.regionName=== ''" value="" hidden>Select Region</option>
          <option *ngFor="let list of regionDetail" [value]="list._id">{{list.description}}</option>
          <!-- <option [value]="details.countryId">{{regionDetail}}</option> -->
        </select>
        <!-- <div
          *ngIf="salesOrg.controls['regionName'].touched && salesOrg.controls['regionName'].dirty && salesOrg.controls['regionName'].hasError('required') && !isSubmitted">
          <p class="error-message">region is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['regionName'].hasError('required')">
          <p class="error-message">region is required</p>
        </div> -->
      </div>
      <div class="col-6">
        <label for="">Time Zone</label>
        <select class="form-select" formControlName="timeZoneId" aria-label="Default select example" (change)="handleTimeZone($event)">
          <option [selected]="salesOrg.value.timeZoneId=== ''" value="" hidden>Select Time Zone</option>
          <option *ngFor="let list of timeZone" [value]="list._id">{{list.timeZoneType}}</option>


        </select>
        <div
          *ngIf="salesOrg.controls['timeZoneId'].touched && salesOrg.controls['timeZoneId'].dirty && salesOrg.controls['timeZoneId'].hasError('required') && !isSubmitted">
          <p class="error-message">time Zone is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['timeZoneId'].hasError('required')">
          <p class="error-message">time Zone is required</p>
        </div>
      </div>
      <div class="col-6">
        <label for="" class="">Contact Person</label>
        <input type="text" class="form-control " placeholder="Enter Contact Person" formControlName="contactPerson" />
        <div
          *ngIf="salesOrg.controls['contactPerson'].touched && salesOrg.controls['contactPerson'].dirty && salesOrg.controls['contactPerson'].hasError('required') && !isSubmitted">
          <p class="error-message">contact Person is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['contactPerson'].hasError('required')">
          <p class="error-message">contact Person is required</p>
        </div>
      </div>

      <div class="col-2 py-2">
        <button type="submit" class="btn btn-primary" >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>