<!-- <p>add-sales-org works!</p> -->

<!-- <p>add-sales-org works!</p> -->
<div class="container-fluid">
  <form [formGroup]="salesOrg" (ngSubmit)="addCode()">
    <h2>
      <mat-icon class="back" routerLink="/settings/sales-org-list">arrow_back</mat-icon>Sales Org
    </h2>
    <div class="row">
      <div class="col-6">
        <label for="" class="">Sales Org</label>
        <input type="text" class="form-control mb-3" placeholder=" " formControlName="salesOrg" />
        <div
          *ngIf="salesOrg.controls['salesOrg'].touched && salesOrg.controls['salesOrg'].touched && salesOrg.controls['salesOrg'].hasError('required') && !isSubmitted">
          <p class="error-message">Sales Org is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['salesOrg'].hasError('required')">
          <p class="error-message">Sales Org is required</p>
        </div>
      </div>
      <div class="col-6">
        <label for="" class="">Sales Org Description</label>
        <input type="text" class="form-control mb-3" placeholder=" " formControlName="salesOrgDescription" />
        <div
          *ngIf="salesOrg.controls['salesOrgDescription'].touched && salesOrg.controls['salesOrgDescription'].touched && salesOrg.controls['salesOrgDescription'].hasError('required') && !isSubmitted">
          <p class="error-message">Sales Org Description is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['salesOrgDescription'].hasError('required')">
          <p class="error-message">Sales Org Description is required</p>
        </div>
      </div>
      <div class="col-6">
        <label for="" class="">Address</label>
        <input type="text" class="form-control mb-3" placeholder=" " formControlName="address" />
        <div
          *ngIf="salesOrg.controls['address'].touched && salesOrg.controls['address'].touched && salesOrg.controls['address'].hasError('required') && !isSubmitted">
          <p class="error-message">Address is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['address'].hasError('required')">
          <p class="error-message">Address is required</p>
        </div>
      </div>
      <div class="col-6">
        <label for="">Search Term</label>
        <input type="text" class="form-control mb-3" placeholder=" " formControlName="searchTerm" />
        <div
          *ngIf="salesOrg.controls['searchTerm'].touched && salesOrg.controls['searchTerm'].touched && salesOrg.controls['searchTerm'].hasError('required') && !isSubmitted">
          <p class="error-message">search Term is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['searchTerm'].hasError('required')">
          <p class="error-message">search Term is required</p>
        </div>
      </div>

      <div class="col-6">
        <label for="">Country</label>
        <select class="form-select" formControlName="country" aria-label="Default select example">
          <option>1</option>
        </select>
        <div
          *ngIf="salesOrg.controls['country'].touched && salesOrg.controls['country'].touched && salesOrg.controls['country'].hasError('required') && !isSubmitted">
          <p class="error-message">country is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['country'].hasError('required')">
          <p class="error-message">country is required</p>
        </div>
      </div>
      <div class="col-6">
        <label for="">Region</label>
        <select class="form-select" formControlName="region" aria-label="Default select example">
          <option>1</option>
        </select>
        <div
          *ngIf="salesOrg.controls['region'].touched && salesOrg.controls['region'].touched && salesOrg.controls['region'].hasError('required') && !isSubmitted">
          <p class="error-message">region is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['region'].hasError('required')">
          <p class="error-message">region is required</p>
        </div>
      </div>
      <div class="col-6">
        <label for="">Time Zone</label>
        <select class="form-select" formControlName="timeZone" aria-label="Default select example">
          <option>1</option>
        </select>
        <div
          *ngIf="salesOrg.controls['timeZone'].touched && salesOrg.controls['timeZone'].touched && salesOrg.controls['timeZone'].hasError('required') && !isSubmitted">
          <p class="error-message">time Zone is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['timeZone'].hasError('required')">
          <p class="error-message">time Zone is required</p>
        </div>
      </div>
      <div class="col-6">
        <label for="" class="">Contact Person</label>
        <input type="text" class="form-control mb-3" placeholder="Enter Contact Person"
          formControlName="contactPerson" />
          <div
          *ngIf="salesOrg.controls['contactPerson'].touched && salesOrg.controls['contactPerson'].touched && salesOrg.controls['contactPerson'].hasError('required') && !isSubmitted">
          <p class="error-message">contact Person is required</p>
        </div>
        <div *ngIf="isSubmitted && salesOrg.controls['contactPerson'].hasError('required')">
          <p class="error-message">contact Person is required</p>
        </div>
      </div>

      <div class="col-2">
        <button type="submit" class="btn btn-primary" style="background-color: #00acff">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>