<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/settings/purchase-org-list">arrow_back</mat-icon>Purchase Org</h2>

    <form [formGroup]="purchOrg" (ngSubmit)="submitData()">
        <div class="row">
            <div class="col-6 py-2">
                <label>Purchase Org</label>
                <input type="text" class="form-control" formControlName="purchase_org" placeholder="Enter Purchase Org" readonly>
                <div
                    *ngIf="purchOrg.controls['purchase_org'].touched && purchOrg.controls['purchase_org'].dirty && purchOrg.controls['purchase_org'].hasError('required') && !isSubmitted">
                    <p class="error-message">Purchase Org. is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && purchOrg.controls['purchase_org'].hasError('required')">
                    <p class="error-message">Purchase Org. is mandatory</p>
                </div>
            </div>

            <div class="col-6 py-2 ">
                <label>Purchase Org Description</label>
                <input type="text" class="form-control" formControlName="purchase_org_Description"
                    placeholder="Purchase Org Description">
                <div
                    *ngIf="purchOrg.controls['purchase_org_Description'].touched && purchOrg.controls['purchase_org_Description'].dirty && purchOrg.controls['purchase_org_Description'].hasError('required') && !isSubmitted">
                    <p class="error-message">Purchase Org Description is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && purchOrg.controls['purchase_org_Description'].hasError('required')">
                    <p class="error-message">Purchase Org Description is mandatory</p>
                </div>
            </div>

            <div class="col-6 py-2">
                <label for="">Company Code</label>
                <select class="form-select" formControlName="companyId" aria-label="Default select example" (change)="handleCompany($event)">
                    <option [selected]="purchOrg.value.companyId === ''" value="" hidden>Select Company</option>

                    <option *ngFor="let list of companyDetails;" [value]="list._id">{{list.companyCode}}
                    </option>
                </select>
                <div
                    *ngIf="purchOrg.controls['companyId'].touched && purchOrg.controls['companyId'].dirty && purchOrg.controls['companyId'].hasError('required') && !isSubmitted">
                    <p class="error-message">Company Code is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && purchOrg.controls['companyId'].hasError('required')">
                    <p class="error-message">Company Code is mandatory</p>
                </div>
            </div>
        </div>
        <div class="col-2 py-2">
            <button type="submit" class="btn btn-primary "> Update </button>
        </div>

    </form>
</div>