<div class="container-fluid">
    <h2><mat-icon class="back" routerLink="/settings/purchase-org-list">arrow_back</mat-icon>Purchase Org</h2>

    <form [formGroup]="purchOrg" (ngSubmit)="submitData()">
        <div class="row ms-3">
            <div class="col-6 mt-4">
                <span>Purchase Org</span>
                <input type="text" class="form-control" formControlName="purchase_org" name="purchase_org">
            </div>
            <div class="col-6 mt-4">
                <span>Purchase Org Description</span>
                <input type="text" class="form-control" formControlName="purchase_org_Description"
                    name="purchase_org_Description">
            </div>
        </div>

        <div class="row ms-3">
            <div class="col-6">
                <span for="">Company Code</span>
                <select class="form-select" formControlName="companycode" aria-label="Default select example">
                    <option *ngFor="let list of companyDetails;" [value]="list.companyCode">{{list.companyCode}}
                    </option>
                </select>
            </div>
            <div class="col-12 py-2">
                <button type="submit" class="btn btn-primary"> Update </button>

            </div>
        </div>


    </form>



</div>