<div class="container-fluid">
  <form [formGroup]="billing" (ngSubmit)="addCustomerAcc()">
    <h2><mat-icon class="back" routerLink="/settings/billing-block-list">arrow_back</mat-icon>Billing Block </h2>

    <div class="row">
      <div class="col-6 py-1">
        <label for="" class="">Billing Block </label>
        <input type="text" class="form-control mb-3" placeholder="Enter Billing Block " formControlName="billingBlock">
        <div
          *ngIf="billing.controls['billingBlock'].touched && billing.controls['billingBlock'].touched && billing.controls['billingBlock'].hasError('required') && !isSubmitted">
          <p class="error-message">Billing Block is required</p>
        </div>
        <div *ngIf="isSubmitted && billing.controls['billingBlock'].hasError('required')">
          <p class="error-message">Billing Block is required</p>
        </div>
      </div>
      <div class="col-6 py-1">
        <label for="" class="">Description</label>
        <input type="text" class="form-control mb-3" placeholder="Enter Description " formControlName="description">
        <div
          *ngIf="billing.controls['description'].touched && billing.controls['description'].touched && billing.controls['description'].hasError('required') && !isSubmitted">
          <p class="error-message">Description is required</p>
        </div>
        <div *ngIf="isSubmitted && billing.controls['description'].hasError('required')">
          <p class="error-message">Description is required</p>
        </div>
      </div>
      <div>
        <button class="btn btn-primary" type="submit" style="background-color: #00acff;color: white;">Submit</button>
      </div>
    </div>
  </form>
</div>