<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <form [formGroup]="channel" (ngSubmit)="submitData()">
        <h2><mat-icon class="back" routerLink="/settings/distribution-channel-list">arrow_back</mat-icon>Distribution
            Channel</h2>
 
        <div class="row">
         <div class="col-6 py-2">
                <label for="" class="">Distibution Channel<sup>*</sup></label>
                <input type="text" class="form-control " placeholder="Enter Distribution Channel"
                    formControlName="distributionChannel">
                <div
                    *ngIf="channel.controls['distributionChannel'].touched && channel.controls['distributionChannel'].dirty && channel.controls['distributionChannel'].hasError('required') && !isSubmitted">
                    <p class="error-message">Distribution Channel is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && channel.controls['distributionChannel'].hasError('required')">
                    <p class="error-message">Distribution Channel is mandatory</p>
                </div>
            </div>
            <div class="col-6 py-2">
                <label for="" class="">Description<sup>*</sup></label>
                <input type="text" class="form-control " placeholder="Enter Description "
                    formControlName="distributionDescription">
                    <div
                    *ngIf="channel.controls['distributionDescription'].touched && channel.controls['distributionDescription'].dirty && channel.controls['distributionDescription'].hasError('required') && !isSubmitted">
                    <p class="error-message">Description is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && channel.controls['distributionDescription'].hasError('required')">
                    <p class="error-message">Description is mandatory</p>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end py-2">
                <button class="btn btn-primary" type="submit"
                    style="background-color: #00acff;color: white;">Save</button>
            </div>
        </div>
    </form>
</div>