<div class="container-fluid">
    <form [formGroup]="channel" (ngSubmit)="submitData()">
        <h2><mat-icon class="back" routerLink="/settings/distribution-channel-list">arrow_back</mat-icon>Distribution
            Channel</h2>
 
        <div class="row">
         <div class="col-6 py-1">
                <label for="" class="">Distibution Channel<sup>*</sup></label>
                <input type="text" class="form-control " placeholder="Enter Distribution Channel"
                    formControlName="distributionChannel">
                <div
                    *ngIf="channel.controls['distributionChannel'].touched && channel.controls['distributionChannel'].touched && channel.controls['distributionChannel'].hasError('required') && !isSubmitted">
                    <p class="error-message">Distribution Channel is required</p>
                </div>
                <div *ngIf="isSubmitted && channel.controls['distributionChannel'].hasError('required')">
                    <p class="error-message">Distribution Channel is required</p>
                </div>
            </div>
            <div class="col-6 py-1">
                <label for="" class="">Description<sup>*</sup></label>
                <input type="text" class="form-control " placeholder="Enter Description "
                    formControlName="distributionDescription">
                    <div
                    *ngIf="channel.controls['distributionDescription'].touched && channel.controls['distributionDescription'].touched && channel.controls['distributionDescription'].hasError('required') && !isSubmitted">
                    <p class="error-message">Description is required</p>
                </div>
                <div *ngIf="isSubmitted && channel.controls['distributionDescription'].hasError('required')">
                    <p class="error-message">Description is required</p>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" type="submit"
                    style="background-color: #00acff;color: white;">Submit</button>
            </div>
        </div>
    </form>
</div>