<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <div class="row">
        <div class="col-12">
            <h2><mat-icon class="back" routerLink="/master/agent-list">arrow_back</mat-icon>POSP
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <form [formGroup]="agentFormData">
                <div class="row border">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <div class="row">
                            <div class="col-12 py-2">
                                <label for="" class="">POSP Id <sup>*</sup></label>
                                <input type="text" class="form-control " placeholder="Enter POSP Id"
                                    formControlName="agentId" readonly>
                                <div
                                    *ngIf="agentFormData.controls['agentId'].touched && agentFormData.controls['agentId'].dirty && agentFormData.controls['agentId'].hasError('required') && !isSubmitted">
                                    <p class="error-message">POSP Id is mandatory</p>
                                </div>
                                <div *ngIf="isSubmitted && agentFormData.controls['agentId'].hasError('required')">
                                    <p class="error-message">POSP Id is mandatory</p>
                                </div>
                            </div>
                            <div class="col-12 py-2">
                                <label for="" class="">POSP Name <sup>*</sup></label>
                                <input type="text" class="form-control " placeholder="Enter POSP Name"
                                    formControlName="agentName">
                                <div
                                    *ngIf="agentFormData.controls['agentName'].touched && agentFormData.controls['agentName'].dirty && agentFormData.controls['agentName'].hasError('required') && !isSubmitted">
                                    <p class="error-message">POSP Name is mandatory</p>
                                </div>
                                <div *ngIf="isSubmitted && agentFormData.controls['agentName'].hasError('required')">
                                    <p class="error-message">POSP Name is mandatory</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="col-12 py-2">
                                <section class="file-border">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-center py-1"
                                            style="position: relative;">
                                            <img *ngIf="!isImageShow" class="img-ava"
                                                [src]="imageSrc?imageSrc:'/assets/logs/profile.png'"><sup
                                                class="delete_img" (click)="deletePerview()"
                                                *ngIf="imageSrc && !filePath"><mat-icon>delete</mat-icon></sup>
                                            <img *ngIf="isImageShow" class="img-ava" [src]="filePath"><sup
                                                class="delete_img" (click)="deleteImage()"
                                                *ngIf="!imageSrc && filePath"><mat-icon
                                                    style="font-size: 20px;display: flex;align-items: center;justify-content: center;">delete</mat-icon></sup>

                                        </div>
                                        <div class="col-12 d-flex justify-content-center py-1">
                                            <span (click)="uploadFile(inputFile, 'log')" class="upload_text">
                                                Choose POSP Logo</span>
                                            <input type="file" #inputFile class="d-none"
                                                (change)="handleUploadFile($event)">
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">DOB</label>
                        <input type="date" class="form-control " formControlName="dob">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">Address</label>
                        <input type="text" class="form-control " placeholder="Enter Address" formControlName="address">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">Country <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example" formControlName="countryId"
                            (change)="selectCountryName($event)">
                            <option [selected]="agentFormData.value.countryId === ''" value="" hidden>Select
                                Country</option>
                            <option *ngFor="let list of countryDetials " [value]="list._id">
                                {{list.countryName}}</option>
                        </select>
                        <div
                            *ngIf="agentFormData.controls['countryId'].touched && agentFormData.controls['countryId'].dirty && agentFormData.controls['countryId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Country Name is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && agentFormData.controls['countryId'].hasError('required')">
                            <p class="error-message">Country Name is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">State/Province <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example" formControlName="stateId"
                            (change)="handleState($event)"
                            [ngStyle]="{'pointer-events': !agentFormData.value.countryId ? 'none' :  'all','background-color': !agentFormData.value.countryId ? '#f6f6f6' :  'white'} ">
                            <option [selected]="agentFormData.value.state === ''" value="" hidden>Select
                                State/Province</option>
                            <option *ngFor="let list of stateDetails?.states " [value]="list._id">
                                {{list.states}}</option>

                        </select>
                        <div
                            *ngIf="agentFormData.controls['stateId'].touched && agentFormData.controls['stateId'].dirty && agentFormData.controls['stateId'].hasError('required') && !isSubmitted">
                            <p class="error-message">State/Province is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && agentFormData.controls['stateId'].hasError('required')">
                            <p class="error-message">State/Province is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">City <sup>*</sup></label>
                        <input formControlName="city" [readOnly]="!agentFormData.value.stateId "
                            placeholder="Enter City" (input)="isLookValue = false" (focusout)="handleEvent($event);"
                            (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="citiesDetails?.cities"
                            class="form-control">
                        <!-- <select class="form-select " aria-label="Default select example" formControlName="city"
                            [ngStyle]="{'pointer-events': !agentFormData.value.countryId ? 'none' :  'all'}">
                            <option [selected]="agentFormData.value.city===''" value="" hidden>Select City</option>
                            <option *ngFor="let list of (citiesDetails?.cities)?.sort()" [value]="list">{{list}}</option>
                        </select> -->
                        <div
                            *ngIf="agentFormData.controls['city'].touched && agentFormData.controls['city'].dirty && agentFormData.controls['city'].hasError('required') && !isSubmitted">
                            <p class="error-message"> City is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && agentFormData.controls['city'].hasError('required')">
                            <p class="error-message"> City is mandatory</p>
                        </div>
                        <div *ngIf="agentFormData.controls['city'].hasError('customError')">
                            <p class="error-message"> City is Not in a List</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Pin Code </label>
                        <input type="text" class="form-control " placeholder="Enter Pin Code" formControlName="pinCode">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Mobile <sup>*</sup></label>
                        <input maxlength="10" min="0" class="form-control " placeholder="Enter Mobile Number"
                            formControlName="mobile"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                        <div
                            *ngIf="agentFormData.controls['mobile'].touched && agentFormData.controls['mobile'].dirty && agentFormData.controls['mobile'].hasError('required') && !isSubmitted">
                            <p class="error-message">Mobile Number is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && agentFormData.controls['mobile'].hasError('required')">
                            <p class="error-message">Mobile Number is mandatory</p>
                        </div>
                        <div *ngIf="agentFormData.controls['mobile'].hasError('minlength')">
                            <p class="error-message">Mobile Number is not Valid</p>
                        </div>
                        <div *ngIf="agentFormData.controls['mobile'].hasError('maxlength')">
                            <p class="error-message">Mobile Number is not Valid</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">Alternate Mobile No</label>
                        <input type="text" class="form-control " placeholder="Enter Alternate Mobile No">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Mail Id <sup>*</sup></label>
                        <input type="email" class="form-control " placeholder="Enter Mail Id" formControlName="mailId">
                        <div
                            *ngIf="agentFormData.controls['mailId'].touched && agentFormData.controls['mailId'].dirty && agentFormData.controls['mailId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Mail Id is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && agentFormData.controls['mailId'].hasError('required')">
                            <p class="error-message">Mail Id is mandatory</p>
                        </div>
                        <div *ngIf="agentFormData.get('mailId').hasError('pattern')">
                            <p class="error-message">Please enter a valid email address.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">Gender </label>
                        <select class="form-select " aria-label="Default select example" formControlName="gender">
                            <option [selected]="agentFormData.value.gender === ''" value="" hidden>
                                Select
                                Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">Highest Qualification </label>
                        <select class="form-select " aria-label="Default select example" formControlName="highestQualification">
                            <option [selected]="agentFormData.value.highestQualification === ''" value="" hidden>
                                Select
                                Highest Qualification</option>
                            <option value="Senior Secondary">Senior Secondary</option>
                            <option value="Bachelor">Bachelor</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">Role </label>
                        <select class="form-select " aria-label="Default select example" formControlName="role">
                            <option [selected]="agentFormData.value.role === ''" value="" hidden>
                                Select
                                Role</option>
                            <option value="Admin">Admin</option>
                            <option value="Agent">Agent</option>
                        </select>
                    </div>
                </div>
                <div class="row border mt-2">
                    <!-- <h2 class="">KYC</h2> -->
                    <mat-tab-group animationDuration="0ms">
                        <mat-tab label="Documents">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Aadhar Number</th>
                                        <th>Upload Aadhar</th>
                                        <th>PAN No</th>
                                        <th>Upload PAN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control w-50"
                                                placeholder="Enter Aadhar Card Number" formControlName="aadharNumber">
                                        </td>
                                        <td>
                                            <span (click)="uploadFile(inputFile, 'aadhar_no')" class="upload_text">
                                                {{agentFormData.value.aadharFilePath ?
                                                agentFormData.value.aadharFilePath
                                                : 'Upload Aadhar'}}</span>
                                            <input type="file" #inputFile class="d-none"
                                                (change)="handleUploadFile($event)">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control w-50" placeholder="Enter PAN No"
                                                formControlName="panNumber" appDirective>
                                        </td>
                                        <td>
                                            <span (click)="uploadFile(inputFile, 'pan_no')" class="upload_text">
                                                {{agentFormData.value.panFilePath ? agentFormData.value.panFilePath
                                                : 'Upload PAN'}}</span>
                                            <input type="file" #inputFile class="d-none"
                                                (change)="handleUploadFile($event)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </mat-tab>
                        <mat-tab label="Bank Detail">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Account Number</th>
                                        <th>Bank Name</th>
                                        <th>Bank Branch</th>
                                        <th>IFSC Code</th>
                                        <th>Account Type</th>
                                        <th style="width: 200px!important;">Upload Signature</th>
                                        <th style="width: 200px!important;">Upload Cheque</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="number" min="0" class="form-control "
                                                placeholder="Enter Account Number" formControlName="accountNumber">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder="Enter Bank Name"
                                                formControlName="bankName">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder="Enter Bank Branch"
                                                formControlName="bankBranch">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder="Enter IFSC Code"
                                                formControlName="ifscCode">
                                        </td>
                                        <td>
                                            <select class="form-select " aria-label="Default select example" formControlName="accountType">
                                                <option [selected]="agentFormData.value.accountType === ''" value="" hidden>
                                                    Select
                                                    Account Type</option>
                                                <option value="Saving">Saving</option>
                                                <option value="Current">Current</option>
                                            </select>
                                        </td>
                                        <td>
                                            <span (click)="uploadFile(inputFile, 'signature')" class="upload_text">
                                                {{agentFormData.value.signatureFilePath ?
                                                agentFormData.value.signatureFilePath
                                                : 'Upload Signature'}}</span>
                                            <input type="file" #inputFile class="d-none"
                                                (change)="handleUploadFile($event)">
                                        </td>
                                        <td>
                                            <span (click)="uploadFile(inputFile, 'cheque')" class="upload_text">
                                                {{agentFormData.value.chequeFilePath ? agentFormData.value.chequeFilePath
                                                : 'Upload Cheque'}}</span>
                                            <input type="file" #inputFile class="d-none"
                                                (change)="handleUploadFile($event)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="button" class="btn btn-primary" (click)="fileUpload()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>