<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <div class="row">
        <div class="col-12">
            <h2><mat-icon class="back" routerLink="/setting/company-code-list">arrow_back</mat-icon>Company code
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <form [formGroup]="companyCodeFormData">
                <div class="row border">

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <div class="row">
                            <div class="col-12 py-2">
                                <label for="" class="">Company Code <sup>*</sup></label>
                                <input type="text" class="form-control " placeholder="Enter Company Code"
                                    formControlName="companyCode" maxlength="6" readonly>
                                <div
                                    *ngIf="companyCodeFormData.controls['companyCode'].touched && companyCodeFormData.controls['companyCode'].dirty && companyCodeFormData.controls['companyCode'].hasError('required') && !isSubmitted">
                                    <p class="error-message">Company Code is mandatory</p>
                                </div>
                                <div
                                    *ngIf="isSubmitted && companyCodeFormData.controls['companyCode'].hasError('required')">
                                    <p class="error-message">Company Code is mandatory</p>
                                </div>
                            </div>
                            <div class="col-12 py-2">
                                <label for="" class="">Company Name <sup>*</sup></label>
                                <input type="text" class="form-control " placeholder="Enter Company Name"
                                    formControlName="companyName">
                                <div
                                    *ngIf="companyCodeFormData.controls['companyName'].touched && companyCodeFormData.controls['companyName'].dirty && companyCodeFormData.controls['companyName'].hasError('required') && !isSubmitted">
                                    <p class="error-message">Company Name is mandatory</p>
                                </div>
                                <div
                                    *ngIf="isSubmitted && companyCodeFormData.controls['companyName'].hasError('required')">
                                    <p class="error-message">Company Name is mandatory</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="row">
                            <div class="col-12 py-2">
                                <section class="file-border">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-center py-1" style="position: relative;">
                                            <img *ngIf="!isImageShow" class="img-ava"
                                                [src]="imageSrc?imageSrc:'/assets/logs/profile.png'"><sup class="delete_img"
                                                (click)="deletePerview()"
                                                *ngIf="imageSrc && !filePath"><mat-icon>delete</mat-icon></sup>
                                            <img *ngIf="isImageShow" class="img-ava" [src]="filePath"><sup class="delete_img"
                                                (click)="deleteImage()" *ngIf="!imageSrc && filePath"><mat-icon
                                                    style="font-size: 20px;display: flex;align-items: center;justify-content: center;">delete</mat-icon></sup>
        
                                        </div>
                                        <div class="col-12 d-flex justify-content-center py-1">
                                            <span (click)="uploadFile(inputFile, 'log')" class="upload_text">
                                                Choose Company Logo</span>
                                            <input type="file" #inputFile class="d-none" (change)="handleUploadFile($event)">
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">Address</label>
                        <input type="text" class="form-control " placeholder="Enter Address" formControlName="address">

                    </div>
                    <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">

                        <label for="" class="">Country </label>
                        <select class="form-select " aria-label="Default select example" formControlName="country">
                            <option [selected]="companyCodeFormData.value.country === ''" value="" hidden>
                                Select
                                Country</option>
                            <option value="India">India</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">State </label>
                        <select class="form-select " aria-label="Default select example" formControlName="state">
                            <option [selected]="companyCodeFormData.value.state === ''" value="" hidden> Select State
                            </option>
                            <option *ngFor="let state of states" [value]="state">{{ state }}</option>


                        </select>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">

                        <label for="">City </label>
                        <select class="form-select " aria-label="Default select example" formControlName="city">
                            <option [selected]="companyCodeFormData.value.city === ''" value="" hidden> Select City
                            </option>
                            <option *ngFor="let city of cities[companyCodeFormData.get('state').value]" [value]="city">
                                {{ city }}</option>


                        </select>
                    </div> -->

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">Country <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example" formControlName="countryId"
                            (change)="selectCountryName($event)">
                            <option [selected]="companyCodeFormData.value.countryId === ''" value="" hidden>Select
                                Country</option>
                            <option *ngFor="let list of countryDetials " [value]="list._id">
                                {{list.countryName}}</option>
                        </select>
                        <div
                            *ngIf="companyCodeFormData.controls['countryId'].touched && companyCodeFormData.controls['countryId'].dirty && companyCodeFormData.controls['countryId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Country Name is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && companyCodeFormData.controls['countryId'].hasError('required')">
                            <p class="error-message">Country Name is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">State/Province <sup>*</sup></label>
                        <select class="form-select " aria-label="Default select example" formControlName="stateId"
                            (change)="handleState($event)"
                            [ngStyle]="{'pointer-events': !companyCodeFormData.value.countryId ? 'none' :  'all','background-color': !companyCodeFormData.value.countryId ? '#f6f6f6' :  'white'} ">
                            <option [selected]="companyCodeFormData.value.state === ''" value="" hidden>Select
                                State/Province</option>
                            <option *ngFor="let list of stateDetails?.states " [value]="list._id">
                                {{list.states}}</option>

                        </select>
                        <div
                            *ngIf="companyCodeFormData.controls['stateId'].touched && companyCodeFormData.controls['stateId'].dirty && companyCodeFormData.controls['stateId'].hasError('required') && !isSubmitted">
                            <p class="error-message">State/Province is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && companyCodeFormData.controls['stateId'].hasError('required')">
                            <p class="error-message">State/Province is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="" class="">City <sup>*</sup></label>
                        <input formControlName="city" [readOnly]="!companyCodeFormData.value.stateId "
                            placeholder="Enter City" (input)="isLookValue = false" (focusout)="handleEvent($event);"
                            (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeahead]="citiesDetails?.cities"
                            class="form-control">
                        <!-- <select class="form-select " aria-label="Default select example" formControlName="city"
                            [ngStyle]="{'pointer-events': !companyCodeFormData.value.countryId ? 'none' :  'all'}">
                            <option [selected]="companyCodeFormData.value.city===''" value="" hidden>Select City</option>
                            <option *ngFor="let list of (citiesDetails?.cities)?.sort()" [value]="list">{{list}}</option>
                        </select> -->
                        <div
                            *ngIf="companyCodeFormData.controls['city'].touched && companyCodeFormData.controls['city'].dirty && companyCodeFormData.controls['city'].hasError('required') && !isSubmitted">
                            <p class="error-message"> City is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && companyCodeFormData.controls['city'].hasError('required')">
                            <p class="error-message"> City is mandatory</p>
                        </div>
                        <div *ngIf="companyCodeFormData.controls['city'].hasError('customError')">
                            <p class="error-message"> City is Not in a List</p>
                        </div>
                    </div>


                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">

                        <label for="">Pin Code </label>
                        <input type="text" class="form-control " placeholder="Enter Pin Code" formControlName="pinCode">


                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Mobile <sup>*</sup></label>
                        <input maxlength="10" min="0" class="form-control " placeholder="Enter Mobile Number"
                            formControlName="mobile"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">

                        <div
                            *ngIf="companyCodeFormData.controls['mobile'].touched && companyCodeFormData.controls['mobile'].dirty && companyCodeFormData.controls['mobile'].hasError('required') && !isSubmitted">
                            <p class="error-message">Mobile Number is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && companyCodeFormData.controls['mobile'].hasError('required')">
                            <p class="error-message">Mobile Number is mandatory</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                        <label for="">Mail Id</label>
                        <input type="email" class="form-control " placeholder="Enter Mail Id" formControlName="mailId">
                      
                        <div *ngIf="companyCodeFormData.get('mailId').hasError('pattern')">
                            <p class="error-message">Please enter a valid email address.</p>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                            <label for="">Company Registration No </label>
                            <div class="d-flex d-grid gap-2">
                                <input type="text" class="form-control w-50" formControlName="companyRegistrationNo"
                                    placeholder="Enter Company Registration No"> <span
                                    (click)="uploadFile(inputFile, 'company_no')" class="upload_text">
                                    {{companyCodeFormData.value.companyRegistrationFilePath ?
                                    companyCodeFormData.value.companyRegistrationFilePath
                                    : 'Upload Company Registration No'}}</span>
                                <input type="file" #inputFile class="d-none" (change)="handleUploadFile($event)">
                            </div>

                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
                            <label for="">PAN Number </label>
                            <div class="d-flex d-grid gap-2">
                                <input type="text" class="form-control w-50" formControlName="panNumber"
                                    placeholder="Enter PAN Number"> <span (click)="uploadFile(inputFile, 'tax_no')"
                                    class="upload_text">
                                    {{companyCodeFormData.value.panFilePath ? companyCodeFormData.value.panFilePath :
                                    'Upload PAN Number'}}</span>
                                <input type="file" #inputFile class="d-none" (change)="handleUploadFile($event)">
                            </div>


                        </div>
                    </div>

                </div>


                <div class="col-12 d-flex justify-content-end py-2">
                    <button type="button" class="btn btn-primary" (click)="fileUpload()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>