<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <div class="row">
        <div class="col-12">
            <h3 class="mt-2">
                <mat-icon class="back" routerLink="/sales/delivery-list">arrow_back</mat-icon> Delivery Maintenance
            </h3>
            <form [formGroup]="deliveryFormGroup" (ngSubmit)="submitData()">

                <div class="row border">

                    <div class="col-6 mt-2">
                        <label for="">Order Type <sup>*</sup> </label>
                        <select class="form-select" formControlName="orderType">
                            <option [selected]="deliveryFormGroup.value.orderType=== ''" value="" hidden>Select Order Type</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <!-- <div *ngIf="deliveryFormGroup.controls['orderType'].touched && deliveryFormGroup.controls['orderType'].touched && deliveryFormGroup.controls['orderType'].hasError('required') && !isSubmitted">
                            <p class="error-message">Order Type is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && deliveryFormGroup.controls['orderType'].hasError('required')">
                            <p class="error-message">Order Type is mandatory</p>
                        </div> -->

                    </div>
                    <div class="col-6 mt-2">
                        <label for="">Plant<sup>*</sup> </label>
                        <select class="form-select" formControlName="plant">
                            <option [selected]="deliveryFormGroup.value.plant=== ''" value="" hidden>Select plant</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-6 mt-2">
                        <label for="delivery">Delivery #</label>
                        <input type="text" class="form-control" formControlName="delivery"
                            placeholder="Enter delivery">
                    </div>

                    <div class="col-6 mt-2 ">
                        <label for="">Delivery Date<sup>*</sup></label>
                        <input type="date" class="form-control" formControlName="deliveryDate"
                            placeholder="Enter delivery date">

                            <!-- <div *ngIf="deliveryFormGroup.controls['customerId'].touched && deliveryFormGroup.controls['customerId'].touched && deliveryFormGroup.controls['customerId'].hasError('required') && !isSubmitted">
                                <p class="error-message">Customer Id is mandatory</p>
                            </div>
                            <div *ngIf="isSubmitted && deliveryFormGroup.controls['customerId'].hasError('required')">
                                <p class="error-message">Customer Id is mandatory</p>
                            </div> -->

                    </div>
                    <div class="col-6 mt-2">
                        <label for="">Customer Id</label>
                        <input type="text" class="form-control" formControlName="customerId" placeholder="Enter Customer Id">

                        <!-- <div *ngIf="deliveryFormGroup.controls['netValue'].touched && deliveryFormGroup.controls['netValue'].touched && deliveryFormGroup.controls['netValue'].hasError('required') && !isSubmitted">
                            <p class="error-message">Net Value is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && deliveryFormGroup.controls['netValue'].hasError('required')">
                            <p class="error-message">Net Value is mandatory</p>
                        </div> -->

                    </div>

                    <div class="col-6 mt-2 mb-2">
                        <label for="TaxAmount">Delivery Address</label>
                        <input type="number" class="form-control" formControlName="deliveryAddress" placeholder="Enter Delivery Address">

                        <!-- <div *ngIf="deliveryFormGroup.controls['taxAmount'].touched && deliveryFormGroup.controls['taxAmount'].touched && deliveryFormGroup.controls['taxAmount'].hasError('required') && !isSubmitted">
                            <p class="error-message">Tax Amount is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && deliveryFormGroup.controls['taxAmount'].hasError('required')">
                            <p class="error-message">Tax Amount is mandatory</p>
                        </div> -->

                    </div>
                    
                   
                   
                                       
                    <div class="col-6 py-2  mb-2">
                        <label for="">Delivery Partner <sup>*</sup></label>
                        <select class="form-select" formControlName="deliveryPartner">
                            <option [selected]="deliveryFormGroup.value.deliveryPartner=== ''" value="" hidden>Select delivery Partner</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <!-- <div *ngIf="deliveryFormGroup.controls['modeOfTransport'].touched && deliveryFormGroup.controls['modeOfTransport'].touched && deliveryFormGroup.controls['modeOfTransport'].hasError('required') && !isSubmitted">
                            <p class="error-message">Mode Of Transport is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && deliveryFormGroup.controls['modeOfTransport'].hasError('required')">
                            <p class="error-message">Mode Of Transport is mandatory</p>
                        </div> -->

                    </div>
                

                </div>



                <div class="row py-2">
                    <div class="col-12 border">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <h3 class="mt-2 ">
                                    Item Data
                                </h3>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-end">
                                <button class="btn btn-primary" type="button" (click)="adddelivery()">Add</button>

                            </div>
                        </div>



                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th *ngIf="deliveryListArray.controls.length > 1">Actions</th>
                                        <th>Delivery Item</th>
                                        <th>Product Id</th>
                                        <th>Delivery QTY</th>
                                        <th>UoM</th>
                                        <th>Open Qty</th>
                                        <th>Storage Location</th>
                                        <th>Reference sales order #</th>
                                        <th>Reference sales order item #</th>
                                    </tr>
                                </thead>

                                <tbody formArrayName="deliveryList">
                                    <tr *ngFor="let delivery of deliveryListArray.controls; let i = index;"
                                        [formGroupName]="i">
                                        <td *ngIf="deliveryListArray.controls.length > 1">
                                            <mat-icon style="cursor:pointer"
                                                (click)="deletedelivery(i)">delete</mat-icon>
                                        </td>
                                         <td>
                                            <input type="number" class="form-control " placeholder="Enter delivery item" formControlName="deliveryItem">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder="Enter product id"
                                            formControlName="productId">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder="Enter delivery qty"
                                            formControlName="deliveryQty">
                                          
                                        </td>
                                        <td>                                       
                                            <select class="form-select" formControlName="uom">
                
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                          
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="openQty">
                
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>    
                                            <select class="form-select" formControlName="storageLocation">
                
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" formControlName="referenceSalesOrder" class="form-control"
                                                placeholder="Enter Reference Sales Order">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="referenceSalesOrderItem" class="form-control"
                                                placeholder="Enter Reference Sales Order Item">
                                     
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
