<app-side-nav (isShowNav)="handleSideBar($event)" [logoutAction]="idleState"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <div class="row">
        <div class="col-12">
            <h3 class="mt-2">
                <mat-icon class="back" routerLink="/sales/delivery-list">arrow_back</mat-icon> Delivery Maintenance
            </h3>
            <form [formGroup]="deliveryFormGroup" (ngSubmit)="submitData()">

                <div class="row border">

                    <div class="col-6 mt-2">
                        <label for="">Delivery Type <sup>*</sup> </label>
                        <select class="form-select" formControlName="deliveryType">
                            <option [selected]="deliveryFormGroup.value.deliveryType=== ''" value="" hidden>Select Delivery Type</option>
                            <option *ngFor="let list of deliveryTypeDetails" [value]="list.code">{{list.code}}</option>
                        </select>

                        <div *ngIf="deliveryFormGroup.controls['deliveryType'].touched && deliveryFormGroup.controls['deliveryType'].touched && deliveryFormGroup.controls['deliveryType'].hasError('required') && !isSubmitted">
                            <p class="error-message">Delivery Type is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && deliveryFormGroup.controls['deliveryType'].hasError('required')">
                            <p class="error-message">Delivery Type is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 mt-2">
                        <label for="">Plant<sup>*</sup> </label>
                        <select class="form-select" formControlName="plantName">
                            <option [selected]="deliveryFormGroup.value.plant=== ''" value="" hidden>Select plant</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="deliveryFormGroup.controls['plantName'].touched && deliveryFormGroup.controls['plantName'].touched && deliveryFormGroup.controls['plantName'].hasError('required') && !isSubmitted">
                            <p class="error-message">Plant is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && deliveryFormGroup.controls['plantName'].hasError('required')">
                            <p class="error-message">Plant is mandatory</p>
                        </div>

                    </div>
                    <div class="col-6 mt-2">
                        <label for="delivery">Delivery #<sup>*</sup></label>
                        <input type="text" class="form-control" formControlName="deliveryId"
                            placeholder="Enter delivery">

                            <div *ngIf="deliveryFormGroup.controls['deliveryId'].touched && deliveryFormGroup.controls['deliveryId'].touched && deliveryFormGroup.controls['deliveryId'].hasError('required') && !isSubmitted">
                                <p class="error-message">Delivery is mandatory</p>
                            </div>
                            <div *ngIf="isSubmitted && deliveryFormGroup.controls['deliveryId'].hasError('required')">
                                <p class="error-message">Delivery is mandatory</p>
                            </div>

                    </div>

                    <div class="col-6 mt-2 ">
                        <label for="">Delivery Date<sup>*</sup></label>
                        <input type="date" class="form-control" formControlName="deliveryDate"
                            placeholder="Enter delivery date">

                            <div *ngIf="deliveryFormGroup.controls['deliveryDate'].touched && deliveryFormGroup.controls['deliveryDate'].touched && deliveryFormGroup.controls['deliveryDate'].hasError('required') && !isSubmitted">
                                <p class="error-message">Delivery Date is mandatory</p>
                            </div>
                            <div *ngIf="isSubmitted && deliveryFormGroup.controls['deliveryDate'].hasError('required')">
                                <p class="error-message">Delivery Date is mandatory</p>
                            </div>

                    </div>
                    <div class="col-6 mt-2">
                        <label for="">Customer Id <sup>*</sup></label>
                        <!-- <input type="text" class="form-control" formControlName="customerId" placeholder="Enter Customer Id"> -->
                        <select class="form-select " aria-label="Default select example" formControlName="customerId">
                            <option [selected]="deliveryFormGroup.value.customerId=== ''" value="" hidden>Select Customer
                                Id
                            </option>
                            <option *ngFor="let list of customerMasterDetail" [value]="list.customerId">{{list.customerId}}</option>
                            
                        </select>

                        <div *ngIf="deliveryFormGroup.controls['customerId'].touched && deliveryFormGroup.controls['customerId'].touched && deliveryFormGroup.controls['customerId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Customer Id Value is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && deliveryFormGroup.controls['customerId'].hasError('required')">
                            <p class="error-message">Customer Id Value is mandatory</p>
                        </div>

                    </div>

                    <div class="col-6 mt-2 mb-2">
                        <label for="TaxAmount">Delivery Address <sup>*</sup></label>
                        <input type="text" class="form-control" formControlName="deliveryAddress" placeholder="Enter Delivery Address">

                        <div *ngIf="deliveryFormGroup.controls['deliveryAddress'].touched && deliveryFormGroup.controls['deliveryAddress'].touched && deliveryFormGroup.controls['deliveryAddress'].hasError('required') && !isSubmitted">
                            <p class="error-message">Delivery Address is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && deliveryFormGroup.controls['deliveryAddress'].hasError('required')">
                            <p class="error-message">Delivery Address is mandatory</p>
                        </div>

                    </div>
                    
                   
                   
                                       
                    <div class="col-6 py-2  mb-2">
                        <label for="">Delivery Partner <sup>*</sup></label>
                        <select class="form-select" formControlName="deliveryPartner">
                            <option [selected]="deliveryFormGroup.value.deliveryPartner=== ''" value="" hidden>Select delivery Partner</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div *ngIf="deliveryFormGroup.controls['deliveryPartner'].touched && deliveryFormGroup.controls['deliveryPartner'].touched && deliveryFormGroup.controls['deliveryPartner'].hasError('required') && !isSubmitted">
                            <p class="error-message">Delivery Partner is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && deliveryFormGroup.controls['deliveryPartner'].hasError('required')">
                            <p class="error-message">Delivery Partner is mandatory</p>
                        </div>

                    </div>
                

                </div>



                <div class="row mt-2">
                    <div class="col-12 border">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <h3 class="py-2 ">
                                    Item Data
                                </h3>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-end align-items-center">

                                <button class="btn btn-primary" type="button" (click)="adddelivery()">Add</button>

                            </div>
                        </div>



                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th *ngIf="deliveryListArray.controls.length > 1">Actions</th>
                                        <th>Plant</th>
                                        <th>Delivery Item</th>
                                        <th>Delivery Date</th>
                                        <th>Product Id</th>
                                        <th>Delivery QTY</th>
                                        <th>UoM</th>
                                        <th>Open Qty</th>
                                        <th>Storage Location</th>
                                        <th>Reference sales order #</th>
                                        <th>Reference sales order item #</th>
                                    </tr>
                                </thead>

                                <tbody formArrayName="itemList">
                                    <tr *ngFor="let delivery of deliveryListArray.controls; let i = index;"
                                        [formGroupName]="i">
                                        <td *ngIf="deliveryListArray.controls.length > 1">
                                            <mat-icon style="cursor:pointer"
                                                (click)="deletedelivery(i)">delete</mat-icon>
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="plantName">
                                                <option [selected]="deliveryFormGroup.value.plant=== ''" value="" hidden>Select plant</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                         <td>
                                            <input type="number" class="form-control " placeholder="Enter delivery item" formControlName="deliveryItem">
                                        </td>
                                        <td>
                                            <input type="date" class="form-control" formControlName="deliveryDate"
                                            placeholder="Enter delivery date">
                                        </td>
                                        <td>
                                            <select class="form-select " aria-label="Default select example"
                                            formControlName="materialId" >
                                            <option [selected]="deliveryFormGroup.value.materialId === ''" value=""
                                                hidden>
                                                Select
                                                Product Id</option>
                                                <option *ngFor="let list of productDetails" [value]="list.materialId">{{list.materialId}}</option>

                                        </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control " placeholder="Enter delivery qty"
                                            formControlName="deliveryQty">
                                          
                                        </td>
                                        <td>                                       
                                            <select class="form-select" formControlName="uomName">
                                                <option [selected]="deliveryFormGroup.value.uomName=== ''" value="" hidden>Select UOM</option>

                                                <option *ngFor="let list of uomDetail" [value]="list._id">{{list.code}}</option>
                                               
                                            </select>
                                          
                                        </td>
                                        <td>
                                            <select class="form-select" formControlName="openQty">
                
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </td>
                                        <td>    
                                            <select class="form-select" formControlName="storageLocationName">
                                                <option [selected]="deliveryFormGroup.value.storageLocationName=== ''" value="" hidden>Select Storage Location</option>

                                                <option *ngFor="let list of storageLocationDetail" [value]="list._id">{{list.description}}</option>
                                               
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" formControlName="referenceSalesOrder" class="form-control"
                                                placeholder="Enter Reference Sales Order">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="referenceSalesOrderItem" class="form-control"
                                                placeholder="Enter Reference Sales Order Item">
                                     
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
