<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/setting/make-list">arrow_back</mat-icon>Make</h2>
    <form [formGroup]="makeDetailFormGroup" (ngSubmit)="submitData()">
        <div class="row border mx-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                <label for="">Make Id <sup>*</sup></label>
                <input type="text" formControlName="makeId" class="form-control" placeholder="Enter Make Id"
                    maxlength="10" readonly>
                <div
                    *ngIf="makeDetailFormGroup.controls['makeId'].touched && makeDetailFormGroup.controls['makeId'].dirty && makeDetailFormGroup.controls['makeId'].hasError('required') && !isSubmitted">
                    <p class="error-message">Make Id is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && makeDetailFormGroup.controls['makeId'].hasError('required')">
                    <p class="error-message">Make Id is mandatory</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                <label for="">Description<sup>*</sup></label>
                <input type="text" formControlName="description" class="form-control" placeholder="Enter Description" />
                <div
                    *ngIf="makeDetailFormGroup.controls['description'].touched && makeDetailFormGroup.controls['description'].dirty && makeDetailFormGroup.controls['description'].hasError('required') && !isSubmitted">
                    <p class="error-message">Description is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && makeDetailFormGroup.controls['description'].hasError('required')">
                    <p class="error-message">Description is mandatory</p>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-end py-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>