<app-side-nav (isShowNav)="handleSideBar($event)" [logoutAction]="idleState"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
  <div class="row mt-3 ">
    <div class="col-12">
      
      <div class="row mt-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-2">

            <select class="form-select" aria-label="Default select example">
              <option selected>Select Billing Type</option>
              <option value="1">Mark</option>
              <option value="2">Jack</option>
              <option value="3">Larry</option>
            </select>
          
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
            <button (click)="nextPage('/sales/add-billing')" class="btn btn-primary " type="button"
              style="color: white;background: #00acff;">Add Billing</button>
              <button class="btn btn-danger">
              <mat-icon  style="line-height: 34px;">delete</mat-icon>
              Delete Selected Billing</button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <span>Import Billing</span>
              </button>
              <button mat-menu-item (click)="exportExcel()">
                <span>Export Billing</span>
              </button>
              <button mat-menu-item (click)="downloadExcel()">
                <span>Sample Billing Sheet</span>
              </button>
            </mat-menu>
      
      
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>SN</th>
                  <th>Billing Type</th>
                  <th>Billing Date</th>
                  <th>Customer Id</th>
                  <th scope="col">Action</th>
                  <th scope="col"><input type="checkbox"> Select All</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>mdo</td>
                  <td>
                    <div class="d-flex">
                  <div>
                    <mat-icon >edit</mat-icon>
                  </div>
                  <div>
                    <mat-icon >delete</mat-icon>
                  </div>
                </div>
                  </td>
                  <td><input type="checkbox"></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>fat</td>
                  <td>
                    <div class="d-flex">
                  <div>
                    <mat-icon >edit</mat-icon>
                  </div>
                  <div>
                    <mat-icon >delete</mat-icon>
                  </div>
                </div>
                  </td>
                  <td><input type="checkbox"></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>twitter</td>
                  <td>
                    <div class="d-flex">
                  <div>
                    <mat-icon >edit</mat-icon>
                  </div>
                  <div>
                    <mat-icon >delete</mat-icon>
                  </div>
                </div>
                  </td>
                  <td><input type="checkbox"></td>
      
                </tr>
              </tbody>
      
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

