<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid border py-2" [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <form [formGroup]="customer">
        <h2><mat-icon class="back mb-1" routerLink="/master/customer-list">arrow_back</mat-icon>Customer</h2>
        <div class="row border py-2">
            <div class="row">
                <div class="col-6">
                    <div class="col-12 py-2 ">
                        <label for="NumberRange">Customer Type <sup>*</sup></label>
                        <div class="d-flex mt-2 d-grid gap-2">
                            <div class="form-check mx-3">
                                <input class="form-check-input" type="radio" formControlName="customerType"
                                    id="flexRadioDefault1" value="Corporate">
                                <label class="form-check-label"
                                    style="font-weight: 500; font-size: 13px; position: relative; bottom: 3px;"
                                    for="flexRadioDefault1">
                                    Corporate
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="customerType"
                                    id="flexRadioDefault2" value="Individual">
                                <label class="form-check-label"
                                    style="font-weight: 500; font-size: 13px; position: relative; bottom: 3px;"
                                    for="flexRadioDefault2">
                                    Individual
                                </label>
                            </div>
                            <div
                                *ngIf="customer.controls['customerType'].touched && customer.controls['customerType'].dirty && customer.controls['customerType'].hasError('required') && !isSubmitted">
                                <p class="error-message">Customer Type is mandatory</p>
                            </div>
                            <div *ngIf="isSubmitted && customer.controls['customerType'].hasError('required')">
                                <p class="error-message">Customer Type is mandatory</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 py-2">
                        <label for="">Customer ID <sup>*</sup></label>
                        <input type="text" class="form-control " placeholder="Enter customer id"
                            formControlName="customerId" >
                            <div
                            *ngIf="customer.controls['customerId'].touched && customer.controls['customerId'].dirty && customer.controls['customerId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Customer Id is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && customer.controls['customerId'].hasError('required')">
                            <p class="error-message">Customer Id is mandatory</p>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="col-12 ">
                        <div class="col-12 py-2">
                            <section class="file-border">
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center py-1" style="position: relative;">
                                        <img class="img-ava" [src]="imageSrc?imageSrc:'/assets/logs/profile.png'"><sup
                                            class="delete_img" (click)="deletePerview()" *ngIf="imageSrc"><mat-icon
                                                style="font-size: 20px;display: flex;align-items: center;justify-content: center;">delete</mat-icon></sup>

                                    </div>
                                    <div class="col-12 d-flex justify-content-center py-1">
                                        <span (click)="uploadFile(inputFile,'log')" class="upload_text">
                                            Choose Customer Photo</span>
                                        <input type="file" #inputFile class="d-none"
                                            (change)="handleUploadFile($event)">
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">

                <div class="col-6 py-2">
                    <label for="">Customer Name</label>
                    <input type="text" class="form-control " placeholder="Enter customer name"
                        formControlName="customerName">
                </div>

                <div class="col-6 py-2">
                    <label for="">DOB</label>
                    <input type="date" class="form-control " placeholder="Enter dob" formControlName="dob">
                </div>

                <div class="col-6 py-2">
                    <label for="">Address</label>
                    <input type="text" class="form-control " placeholder="Enter address" formControlName="address">
                </div>
                <div class="col-6 py-2">
                    <label for="">Country</label>
                    <select class="form-select " aria-label="Default select example" formControlName="country">
                        <option [selected]="customer.value.country === ''" value="" hidden>Select
                            country</option>
                        <option value="1">India</option>

                    </select>
                </div>
                <div class="col-6 py-2">
                    <label for="">State </label>
                    <select class="form-select " aria-label="Default select example" formControlName="state">
                        <option [selected]="customer.value.state === ''" value="" hidden> Select State</option>
                        <option *ngFor="let state of states" [value]="state">{{ state }}</option>
                    </select>
                </div>
                <div class="col-6 py-2">
                    <label for="">City </label>
                    <select class="form-select " aria-label="Default select example" formControlName="city">
                        <option [selected]="customer.value.city === ''" value="" hidden> Select City</option>
                        <option *ngFor="let city of cities[customer.get('state').value]" [value]="city">{{ city }}
                        </option>
                    </select>
                </div>

                <div class="col-6 py-2">
                    <label for="">Pin code</label>
                    <input type="text" class="form-control " placeholder="Enter pin code" formControlName="pinCode">
                </div>

                <div class="col-6 py-2">
                    <label for="">Mobile<sup>*</sup></label>
                    <input maxlength="10" min="0" class="form-control " placeholder="Enter Mobile Number"
                        formControlName="mobile"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57">
                    <div
                        *ngIf="customer.controls['mobile'].touched && customer.controls['mobile'].dirty && customer.controls['mobile'].hasError('required') && !isSubmitted">
                        <p class="error-message">Mobile Number is mandatory</p>
                    </div>
                    <div *ngIf="isSubmitted && customer.controls['mobile'].hasError('required')">
                        <p class="error-message">Mobile Number is mandatory</p>
                    </div>
                    <div *ngIf="customer.controls['mobile'].hasError('minlength')">
                        <p class="error-message">Mobile Number is not Valid</p>
                    </div>
                    <div *ngIf="customer.controls['mobile'].hasError('maxlength')">
                        <p class="error-message">Mobile Number is not Valid</p>
                    </div>
                </div>

                <div class="col-6 py-2">
                    <label for="">Mail Id<sup>*</sup></label>
                    <input type="text" class="form-control " placeholder="Enter mail id" formControlName="mailId">
                    <div
                        *ngIf="customer.controls['mailId'].touched && customer.controls['mailId'].dirty && customer.controls['mailId'].hasError('required') && !isSubmitted">
                        <p class="error-message">Mail Id is mandatory</p>
                    </div>
                    <div *ngIf="isSubmitted && customer.controls['mailId'].hasError('required')">
                        <p class="error-message">Mail Id is mandatory</p>
                    </div>
                    <div *ngIf="customer.get('mailId').hasError('pattern')">
                        <p class="error-message">Please enter a valid email address.</p>
                    </div>
                </div>


            </div>

            <div class="row border mt-2">
                <div class="col-12">

                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                        <div class="row">
                            <div class="col-12">
                                <mat-tab label="Vehicle Details">
                                    <div class="col-12 d-flex justify-content-end ">
                                        <button type="button" class="btn btn-primary mb-2" (click)="addVehicles()"
                                            style="color: white;background-color: #00acff;">Add </button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th *ngIf="vehicleDetail.controls.length > 1">Actions</th>
                                                    <th>Registration_no</th>
                                                    <th>Vehicle_registration date</th>
                                                    <th>Make</th>
                                                    <th>Variant</th>
                                                    <th>Model</th>
                                                    <th>Mfg Year</th>
                                                    <th>Engine No</th>
                                                    <th>Chassis No</th>
                                                    <th>Vehicle Usage</th>
                                                    <th>RTO State Code</th>

                                                    <th>Seating capacity</th>
                                                    <th>Fuel Type</th>
                                                    <th>Body Type</th>
                                                    <th>Trailer Reg No</th>
                                                </tr>
                                            </thead>

                                            <tbody formArrayName="vechicleDetails">
                                                <tr *ngFor="let financial of customer.get('vechicleDetails')['controls']; let i = index;"
                                                    [formGroupName]="i">
                                                    <td *ngIf="vehicleDetail.controls.length > 1">
                                                        <mat-icon style="cursor:pointer"
                                                            (click)="deleterow(i)">delete</mat-icon>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control "
                                                            placeholder="Enter Registration_no"
                                                            formControlName="registrationNo" style="width: 10rem;">
                                                    </td>
                                                    <td>
                                                        <input type="date" class="form-control "
                                                            formControlName="vechicleRegistrationDate"
                                                            style="width: 10rem;">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control "
                                                            placeholder="Enter Make" formControlName="make"
                                                            style="width: 10rem;">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control "
                                                            placeholder="Enter Variant" formControlName="variant"
                                                            style="width: 10rem;">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control "
                                                            placeholder="Enter Model" formControlName="model"
                                                            style="width: 10rem;">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control "
                                                            placeholder="Enter Mfg year" formControlName="mfgYear"
                                                            style="width: 10rem;">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control "
                                                            placeholder="Enter Engine no" formControlName="engineNo"
                                                            style="width: 10rem;">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control "
                                                            placeholder="Enter Chassis no" formControlName="chassisNo"
                                                            style="width: 10rem;">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control "
                                                            placeholder="Enter Vehicle usage"
                                                            formControlName="vehicleUsage" style="width: 10rem;">
                                                    </td>
                                                    <td>
                                                        <select class="form-select " aria-label="Default select example"
                                                            formControlName="rtoStateCode" style="width: 10rem;">
                                                            <option [selected]="customer.value.category === ''" value=""
                                                                hidden>Select RTO State Code</option>
                                                            <option value="1">Rto</option>

                                                        </select>

                                                    </td>

                                                    <td>
                                                        <input type="text" class="form-control "
                                                            placeholder="Enter seating capacity"
                                                            formControlName="seatingCapacity" style="width: 10rem;"
                                                            min="0" maxlength="2" (keypress)="onlyNumberKey($event)">
                                                    </td>
                                                    <td>
                                                        <select class="form-select " aria-label="Default select example"
                                                            formControlName="fuelType" style="width: 10rem;">
                                                            <option [selected]="customer.value.fuelType === ''" value=""
                                                                hidden>Select fuel type</option>
                                                            <option value="1">CNG</option>
                                                            <option value="2">Desiel</option>
                                                            <option value="3">Petrol</option>

                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-select " aria-label="Default select example"
                                                            formControlName="bodyType" style="width: 10rem;">
                                                            <option [selected]="customer.value.bodyType === ''" value=""
                                                                hidden>Select body type</option>
                                                            <option value="1">Hatch back</option>
                                                            <option value="2">4X4</option>
                                                            <option value="3">Sadan</option>

                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control "
                                                            placeholder="Enter Trailer Reg No"
                                                            formControlName="trailerRegNo" style="width: 10rem;">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </mat-tab>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <mat-tab label="Nominee Details">
                                    <div class="col-12 d-flex justify-content-end py-2">
                                        <button type="button" class="btn btn-primary" (click)="addNominees()"
                                            style="color: white;background-color: #00acff;">Add </button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th *ngIf="nomineeDetail.controls.length > 1">Actions</th>
                                                    <th>Nominee Name</th>
                                                    <th>Relationship</th>
                                                    <th>DOB</th>
                                                    <th>% of share</th>
                                                </tr>
                                            </thead>

                                            <tbody formArrayName="nomineeDetails">
                                                <tr *ngFor="let financial of customer.get('nomineeDetails')['controls']; let i = index;"
                                                    [formGroupName]="i">
                                                    <td *ngIf="nomineeDetail.controls.length > 1">
                                                        <mat-icon style="cursor:pointer"
                                                            (click)="deleteNomineerow(i)">delete</mat-icon>
                                                    </td>

                                                    <td>
                                                        <input type="text" class="form-control "
                                                            placeholder="Enter nominee name"
                                                            formControlName="nomineeName">
                                                    </td>
                                                    <td>
                                                        <select class="form-select w-100 border-none "
                                                            aria-label="Default select example"
                                                            formControlName="relationship" style="width: 10rem;">
                                                            <option [selected]="customer.value.relationship === ''"
                                                                value="" hidden>Select Relationship</option>
                                                            <option value="Brother">Brother</option>
                                                            <option value="Daughter">Daughter</option>
                                                            <option value="Father">Father</option>
                                                            <option value="Mother">Mother</option>
                                                            <option value="Sistem">Sistem</option>
                                                            <option value="Son">Son</option>
                                                            <option value="Spouse">Spouse</option>

                                                        </select>

                                                    </td>
                                                    <td>
                                                        <input type="date" class="form-control "
                                                            placeholder="Enter date" formControlName="dob">
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control "
                                                            placeholder="Enter % of share" formControlName="ofShare"
                                                            min="0">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </mat-tab>

                            </div>
                        </div>

                    </mat-tab-group>
                    <div class="col-12 d-flex justify-content-end py-2">
                        <button type="button" (click)="fileUpload()" class="btn btn-primary">Save</button>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>