<div class="container-fluid">
    <div class="imageL">

        <div class="row">
            <section class="wrapper">
                <form>
                    <div class=" col-4 mb-3  ">
                        <img src="assets/hatch.jpg" alt="im">
                    </div>

                    <div class="form-group col-12 mb-3">
                        <!-- <label for="name">Name <sup>*</sup></label> -->
                        <input type="text" class="form-control" id="name" formControlName="userName"
                            placeholder="Enter Your Name" />
                        <div
                            *ngIf="registerFormGroup.controls['userName'].touched && registerFormGroup.controls['userName'].dirty && registerFormGroup.controls['userName'].hasError('required') && !isSubmitted">
                            <p class="error-message">Name is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && registerFormGroup.controls['userName'].hasError('required')">
                            <p class="error-message">Name is mandatory</p>
                        </div>
                    </div>
                    <div class="form-group col-12 mb-3">
                        <!-- <label for="email">Email address <sup>*</sup></label> -->
                        <input type="email" class="form-control" id="email" formControlName="emailId"
                            placeholder="Enter Your Email" />
                        <div
                            *ngIf="registerFormGroup.controls['emailId'].touched && registerFormGroup.controls['emailId'].dirty && registerFormGroup.controls['emailId'].hasError('required') && !isSubmitted">
                            <p class="error-message">Email Id is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && registerFormGroup.controls['emailId'].hasError('required')">
                            <p class="error-message">Email Id is mandatory</p>
                        </div>
                    </div>
                    <div class="form-group col-12 mb-3">
                        <!-- <label for="password">Password <sup>*</sup></label> -->
                        <input type="password" class="form-control" id="password" formControlName="password"
                            placeholder="Enter Your Password" />
                        <div
                            *ngIf="registerFormGroup.controls['password'].touched && registerFormGroup.controls['password'].dirty && registerFormGroup.controls['password'].hasError('required') && !isSubmitted">
                            <p class="error-message">Password is mandatory</p>
                        </div>
                        <div *ngIf="isSubmitted && registerFormGroup.controls['password'].hasError('required')">
                            <p class="error-message">Password is mandatory</p>
                        </div>
                    </div>
                    <div class="form-group form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label  style="font-size: small;">I have accept terms and Condition</label>
                    </div>
                    <div class=" col-12 d-flex justify-content-center mb-3">
                        <button type="submit" class="btn btn-primary h-100 w-100" style="background-color: #00acff !important;">Sign
                            Up</button>
                    </div>


                    <div class="form-group col-12 mb-0">
                        <p style="margin-left: 20%; font-size: 14px;">Already have an account <span class="text-primary"><a>Sign
                                    In</a></span></p>
                    </div>
                    <div class="form-group col-12 mb-0 ">
                        <p style="font-size: 14px;">© 2023-24 Hatchlong I Privacy Police I Terms and Conditions</p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>