<app-side-nav (isShowNav)="handleSideBar($event)" [logoutAction]="idleState"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <form [formGroup]="poType" (ngSubmit)="addCode()">
        <h2><mat-icon class="back" routerLink="/settings/po-type-list">arrow_back</mat-icon>PO Type</h2>
        <div class="row border mx-0">
            <div class="col-6 py-2">
                <label for="" class="">PO Type <sup>*</sup></label>
                <input type="text" class="form-control " placeholder="Enter PO Type" formControlName="poType" appDirective>
                <div
                    *ngIf="poType.controls['poType'].touched && poType.controls['poType'].dirty && poType.controls['poType'].hasError('required') && !isSubmitted">
                    <p class="error-message">PO Type must have 6 Characters</p>
                </div>
                <div *ngIf="isSubmitted && poType.controls['poType'].hasError('required')">
                    <p class="error-message">PO Type must have 6 Characters</p>
                </div>
                <div *ngIf="poType.controls['poType'].hasError('minlength')">
                    <p class="error-message">PO Type must have 6 Characters</p>
                  </div>
                <div *ngIf="poType.controls['poType'].hasError('maxlength')">
                    <p class="error-message">PO Type must have 6 Characters</p>
                </div>
            </div>
            <div class="col-6 py-2">
                <label for="" class="">PO Type Description <sup>*</sup></label>
                <input type="text" class="form-control " placeholder="Enter PO Type Description"
                    formControlName="poTypeDescription">
                <div
                    *ngIf="poType.controls['poTypeDescription'].touched && poType.controls['poTypeDescription'].dirty && poType.controls['poTypeDescription'].hasError('required') && !isSubmitted">
                    <p class="error-message">PO Type Description is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && poType.controls['poTypeDescription'].hasError('required')">
                    <p class="error-message">PO Type Description is mandatory</p>
                </div>
            </div>
            <div class="col-6 py-2">
                <label for="" class="">Item Number Interval <sup>*</sup></label>
                <input type="text" class="form-control " placeholder="Enter Item Number Interval"
                    formControlName="itemNumberInterval">
                <div
                    *ngIf="poType.controls['itemNumberInterval'].touched && poType.controls['itemNumberInterval'].dirty && poType.controls['itemNumberInterval'].hasError('required') && !isSubmitted">
                    <p class="error-message">Item Number is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && poType.controls['itemNumberInterval'].hasError('required')">
                    <p class="error-message">Item Number is mandatory</p>
                </div>
            </div>
            <div class="col-6 py-2">
                <div class="row">
                    <div class="col-5">
                        <label for="" class="">Number Range Assignment</label>
                    </div>
                    <div class="col-7">
                        <div class="form-check">
                            <input class="form-check-input" type="radio"  id="flexRadioDefault2" formControlName="internalNumberRangeAssignment" value="internal" (change)="onRadioButtonChange($event)"  >
                            <label class="form-check-label" for="flexRadioDefault2">
                                Internal
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio"  id="flexRadioDefault1" formControlName="internalNumberRangeAssignment" value="external" (change)="onRadioButtonChange($event)" >
                            <label class="form-check-label" for="flexRadioDefault1">
                                External
                            </label>
                          </div>
                    </div>
                </div>
                
                 
            </div>
            <div class="col-6 py-2" >
                <label for="" class="">Number Range <sup>*</sup></label>
                <input type="text" class="form-control " placeholder="Enter Number Range"
                    formControlName="numberRange" id="numberRange" >
                    <div
                    *ngIf="poType.controls['numberRange'].touched && poType.controls['numberRange'].dirty && poType.controls['numberRange'].hasError('required') && !isSubmitted">
                    <p class="error-message">Number range is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && poType.controls['numberRange'].hasError('required')">
                    <p class="error-message">Number range is mandatory</p>
                </div>
                
            </div>
            <div class="col-6 py-2" >
                <label for="" class="">From <sup>*</sup></label>
                <input type="number" class="form-control " placeholder="Enter from"
                    formControlName="from" id="from" >
                    <div
                    *ngIf="poType.controls['from'].touched && poType.controls['from'].dirty && poType.controls['from'].hasError('required') && !isSubmitted">
                    <p class="error-message">From is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && poType.controls['from'].hasError('required')">
                    <p class="error-message">From is mandatory</p>
                </div>
                
            </div>
            <div class="col-6 py-2" >
                <label for="" class="">To <sup>*</sup></label>
                <input type="number" class="form-control " placeholder="Enter to"
                    formControlName="to" id="to" >
                    <div
                    *ngIf="poType.controls['to'].touched && poType.controls['to'].dirty && poType.controls['to'].hasError('required') && !isSubmitted">
                    <p class="error-message">To is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && poType.controls['to'].hasError('required')">
                    <p class="error-message">To is mandatory</p>
                </div>
                
            </div>
            <div class="col-12 d-flex justify-content-end py-2 mb-2">
                <button type="submit" class="btn btn-primary" >Update</button>
            </div>
        </div>
        
    </form>
</div>