<div class="container-fluid">
    <form [formGroup]="poType" (ngSubmit)="addCode()">
        <h2><mat-icon class="back" routerLink="/settings/po-type-list">arrow_back</mat-icon>PO Type</h2>
        <div class="row">
            <div class="col-6">
                <label for="" class="">PO Type</label>
                <input type="text" class="form-control mb-3" placeholder="Enter PO" formControlName="poType">
            </div>
            <div class="col-6">
                <label for="" class="">PO Type Description</label>
                <input type="text" class="form-control mb-3" placeholder="Enter Description" formControlName="poTypeDescription">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="" class="">Item Number</label>
                <input type="text" class="form-control mb-3" placeholder="Enter Item Number" formControlName="itemNumberInterval">
            </div>
            <div class="col-6">
                <label for="" class="">Internal Number</label>
                <input type="text" class="form-control mb-3" placeholder="Enter Internal Number" formControlName="internalNumberRangeAssignment">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="" class="">External Number</label>
                <input type="text" class="form-control mb-3" placeholder="Enter External Number" formControlName="externalNumberRangeAssignment">
            </div>
        </div>
           
        <div class="col-2">
            <button type="submit" class="btn btn-primary" style="background-color: #00acff;">Update</button>
        </div>
    </form>
</div>