<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <div class="row mt-3 ">
        <div class="col-12">
            <fieldset class="border p-2">
                <legend class="float-none w-auto"><b>Search Filter</b></legend>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 py-1 filterText">
                        <input type="text" #searchDataInput id="search-data" placeholder="Model Id / Description"
                            class="form-control " (input)="handleFilter($event)">
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 py-1">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-select" (change)="handleFilterList($event)">
                                <option [selected]="selectedFilter === ''" value="">All</option>
                                <option [selected]="selectedFilter === 'O'" value="O">Active</option>
                                <option [selected]="selectedFilter === 'C'" value="C">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div
                        class="col-12 col-sm-12 col-md-12 col-lg-12 d-grid gap-2 col-xl-12 py-2 d-flex justify-content-end">
                        <div class="py-1">
                            <button class="btn btn-primary " (click)="handleFilterDetails()"
                                type="button">Search</button>
                        </div>
                        <div class="py-1">
                            <button class="btn btn-primary " (click)="searchDataInput.value = ''; filterText = ''"
                                type="button">Reset</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                    <button class="btn btn-primary " (click)="nextPage('/setting/add-model')" type="button"
                        style="color: white;background: #00acff;">Add Model</button>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Model Id</th>
                                <th>Description</th>
                                <th scope="col">Action</th>
                                <th>InActive / Active</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="makeDetails.length === 0">
                            <tr>
                                <td colspan="6" class="text-center">No Records</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr *ngFor="let list of makeDetails; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{list.modelId}}</td>
                                <td>{{list.description}}</td>
                                <td>
                                    <div class="d-flex">
                                        <div>
                                            <mat-icon [routerLink]="'/setting/edit-model/'+list._id">edit</mat-icon>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" [checked]="list.isActive === 'O'"
                                            (change)="deleteRecords(list)">
                                        <span class="slider"></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>