<div class="container-fluid">
    <form [formGroup]="customerAcc" (ngSubmit)="submitData()">
        <h2><mat-icon class="back" routerLink="/settings/customer-account-list">arrow_back</mat-icon>Customer Account
            Asst Grp</h2>

        <div class="row">
            <div class="col-6 py-2 py-1">
                <label for="" class="">Customer Account <sup>*</sup></label>
                <input type="text" class="form-control " placeholder="Enter Customer Account "
                    formControlName="customerAccountAG">
                <div
                    *ngIf="customerAcc.controls['customerAccountAG'].touched && customerAcc.controls['customerAccountAG'].dirty && customerAcc.controls['customerAccountAG'].hasError('required') && !isSubmitted">
                    <p class="error-message">Customer Account is required</p>
                </div>
                <div *ngIf="isSubmitted && customerAcc.controls['customerAccountAG'].hasError('required')">
                    <p class="error-message">Customer Account is required</p>
                </div>
            </div>
            <div class="col-6 py-2 py-1">
                <label for="" class="">Description <sup>*</sup></label>
                <input type="text" class="form-control " placeholder="Enter Description "
                    formControlName="descriptionCAAG">
                <div
                    *ngIf="customerAcc.controls['descriptionCAAG'].touched && customerAcc.controls['descriptionCAAG'].dirty && customerAcc.controls['descriptionCAAG'].hasError('required') && !isSubmitted">
                    <p class="error-message">Description is required</p>
                </div>
                <div *ngIf="isSubmitted && customerAcc.controls['descriptionCAAG'].hasError('required')">
                    <p class="error-message">Description is required</p>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end py-2">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>