.imgbg{
    background-image: url("/assets/login_bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-size: 100% 100%;
    
}

.wrapper {
    position: relative;
    width: 500px;
    height: fit-content;
    padding: 20px 20px 20px;
    background: white;
    box-shadow: 0 5px 10px rgba(  0, 0, 0, 0.1);
    overflow: hidden;
    margin: auto;
    top: 150px;
    border-radius: 10px;
  }
  img{
    width: 15rem;
    /* background-position: fixed; */
    background-attachment: fixed;
    background-position: center;
  }
  
  .contain {object-fit: contain;}

  