<div class="container-fluid" (click)="$event.stopPropagation()"  (keydown.Tab)="$event.stopPropagation()">

    <div class="row">
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-12" style="position: relative; padding: 0px 10px 0px 30px;">
                    <h2><mat-icon class="back" (click)="back();$event.stopPropagation()">arrow_back</mat-icon>Reset Password</h2>
                </div>
                <form [formGroup]="loginFormGroup" (ngSubmit)="loginHandle()">
                    <div class="form-group col-12 py-2 " style="position: relative;">
    
                        <label for="login_password">Old Password <sup>*</sup></label>
                        <input [type]="text2 ? 'text':'password'" class="form-control" id="login_password"
                            formControlName="oldPassword" placeholder="Old Password" (click)="$event.stopPropagation()" (focusout)="handleOldPassword($event)" />
                        <div class="eye-icon" style="position: absolute;">
                            <!-- <mat-icon *ngIf="!text2" style="display: flex;position: relative; top: 5px; cursor: pointer; font-size: 20px;"
                                (click)="$event.stopPropagation();text2=!text2">visibility</mat-icon> -->
                                <img src="/assets/logs/view.png" *ngIf="!text2" style="cursor: pointer;width: 25px; object-fit: contain;"
                                (click)="$event.stopPropagation();text2=!text2">
                            <mat-icon *ngIf="text2" style="display: flex;position: relative; top: 5px; cursor: pointer; font-size: 20px;"
                                (click)="$event.stopPropagation();text2=!text2">visibility_off</mat-icon>
                        </div>
    
    
                    </div>
                    <div
                    *ngIf="loginFormGroup.controls['oldPassword'].touched && loginFormGroup.controls['oldPassword'].dirty && loginFormGroup.controls['oldPassword'].hasError('required') && !isSubmitted">
                    <p class="error-message">New Password is mandatory</p>
                </div>
                <div class="text-red-400 text-sm"
                    *ngIf="this.loginFormGroup.get('oldPassword')?.dirty && loginFormGroup.controls['oldPassword'].hasError('pattern')">
                    <p class="block mb-0 py-1"
                        [ngStyle]="{'color': this.loginFormGroup.get('oldPassword')?.value?.match('^(?=.*[A-Z])') ? 'green':'red'}">
                        At least one uppercase
                        letter.</p>
                    <p class="block mb-0 py-1"
                        [ngStyle]="{'color': this.loginFormGroup.get('oldPassword')?.value?.match('(?=.*[a-z])') ? 'green':'red'}">
                        At least one lowercase
                        letter.</p>
                    <p class="block mb-0 py-1"
                        [ngStyle]="{'color': this.loginFormGroup.get('oldPassword')?.value?.match('(.*[0-9].*)') ? 'green':'red'}">
                        At least one
                        digit.</p>
                    <p class="block mb-0 py-1"
                        [ngStyle]="{'color': this.loginFormGroup.get('oldPassword')?.value?.match('(?=.*[!@#$%^&*])') ? 'green':'red'}">
                        At least one
                        special
                        character.</p>
                    <p class="block mb-0 py-1"
                        [ngStyle]="{'color': this.loginFormGroup.get('oldPassword')?.value?.match('.{8,}') ? 'green':'red'}">
                        At least 8 characters
                        long.</p>

                </div>
                    <div class="form-group col-12 py-2 " style="position: relative;">
    
                        <label for="login_password">New Password <sup>*</sup></label>
                        <input [type]="text ? 'text':'password'" class="form-control" (click)="$event.stopPropagation()" id="login_password"
                            formControlName="newPassword" placeholder="New Password" (focusout)="handleNewPassword($event)"/>
                        <div class="eye-icon" style="position: absolute;">
                            <!-- <mat-icon *ngIf="!text" style="display: flex;position: relative; top: 5px; cursor: pointer; font-size: 20px;"
                                (click)="$event.stopPropagation();text=!text">visibility</mat-icon> -->
                                <img src="/assets/logs/view.png" *ngIf="!text" style="cursor: pointer;width: 25px; object-fit: contain;"
                                (click)="$event.stopPropagation();text=!text">
                            <mat-icon *ngIf="text" style="display: flex;position: relative; top: 5px; cursor: pointer; font-size: 20px;"
                                (click)="$event.stopPropagation();text=!text">visibility_off</mat-icon>
                        </div>
    
    
                    </div>
                    <div
                        *ngIf="loginFormGroup.controls['newPassword'].touched && loginFormGroup.controls['newPassword'].dirty && loginFormGroup.controls['newPassword'].hasError('required') && !isSubmitted">
                        <p class="error-message">New Password is mandatory</p>
                    </div>
                    <div *ngIf="loginFormGroup.controls['newPassword'].hasError('customError')">
                        <p class="error-message">New password cannot be the same as old password</p>
                    </div>
                    <div class="text-red-400 text-sm"
                        *ngIf="this.loginFormGroup.get('newPassword')?.dirty && loginFormGroup.controls['newPassword'].hasError('pattern')">
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('newPassword')?.value?.match('^(?=.*[A-Z])') ? 'green':'red'}">
                            At least one uppercase
                            letter.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('newPassword')?.value?.match('(?=.*[a-z])') ? 'green':'red'}">
                            At least one lowercase
                            letter.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('newPassword')?.value?.match('(.*[0-9].*)') ? 'green':'red'}">
                            At least one
                            digit.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('newPassword')?.value?.match('(?=.*[!@#$%^&*])') ? 'green':'red'}">
                            At least one
                            special
                            character.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('newPassword')?.value?.match('.{8,}') ? 'green':'red'}">
                            At least 8 characters
                            long.</p>
    
                    </div>
    
                    <div class="form-group col-12 py-2 " style="position: relative;">
    
                        <label for="login_password">Confirm Password <sup>*</sup></label>
                        <input [type]="text1 ? 'text':'password'" class="form-control" id="login_password" (click)="$event.stopPropagation()"
                            [ngStyle]="{'color': loginFormGroup.controls['confirmPassword'].hasError('customError') ? 'red' : 'black'}"
                            formControlName="confirmPassword" placeholder="Confirm Password"
                            (focusout)="handlePassword($event)" />
                        <div class="eye-icon" style="position: absolute;">
                            <!-- <mat-icon *ngIf="!text1" style="display: flex;position: relative; top: 5px; cursor: pointer; font-size: 20px;"
                                (click)="$event.stopPropagation();text1=!text1">visibility</mat-icon> -->
                                <img src="/assets/logs/view.png" *ngIf="!text1" style="cursor: pointer;width: 25px; object-fit: contain;"
                                (click)="$event.stopPropagation();text1=!text1">
                            <mat-icon *ngIf="text1" style="display: flex;position: relative; top: 5px; cursor: pointer; font-size: 20px;"
                                (click)="$event.stopPropagation();text1=!text1">visibility_off</mat-icon>
                        </div>
    
    
                    </div>
                    <div
                        *ngIf="loginFormGroup.controls['confirmPassword'].touched && loginFormGroup.controls['confirmPassword'].dirty && loginFormGroup.controls['confirmPassword'].hasError('required') && !isSubmitted">
                        <p class="error-message">Confirm Password is mandatory</p>
                    </div>
                    <div *ngIf="isSubmitted && loginFormGroup.controls['confirmPassword'].hasError('required')">
                        <p class="error-message">Confirm Password is mandatory</p>
                    </div>
                    <div *ngIf="loginFormGroup.controls['confirmPassword'].hasError('customError')">
                        <p class="error-message">Confirm Password is not matched New Password</p>
                    </div>
    
    
                    <div class="text-red-400 text-sm"
                        *ngIf="this.loginFormGroup.get('confirmPassword')?.dirty && loginFormGroup.controls['confirmPassword'].hasError('pattern')">
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('confirmPassword')?.value?.match('^(?=.*[A-Z])') ? 'green':'red'}">
                            At least one uppercase
                            letter.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('confirmPassword')?.value?.match('(?=.*[a-z])') ? 'green':'red'}">
                            At least one lowercase
                            letter.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('confirmPassword')?.value?.match('(.*[0-9].*)') ? 'green':'red'}">
                            At least one
                            digit.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('confirmPassword')?.value?.match('(?=.*[!@#$%^&*])') ? 'green':'red'}">
                            At least one
                            special
                            character.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('confirmPassword')?.value?.match('.{8,}') ? 'green':'red'}">
                            At least 8 characters
                            long.</p>
    
                    </div>
    
    
                    <div class=" col-12 d-flex justify-content-center py-2">
                        <button type="submit" class="btn btn-primary h-100 w-100"
                            style="background-color: #00acff !important;"(click)="$event.stopPropagation()">Save</button>
                    </div>
                   
    
                </form>
            </div>
        </div>
    </div>
</div>