<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/setting/year-of-manufacture-list">arrow_back</mat-icon>Year Of Manufacture
    </h2>
    <form [formGroup]="yearOfManufactureFormGroup" (ngSubmit)="submitData()">
        <div class="row border mx-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                <label for="">Year Of Manufactue<sup>*</sup></label>
                <input type="number" min="0" formControlName="year" class="form-control" placeholder="Enter Year Of Manufactue"
                    maxlength="4">
                <div
                    *ngIf="yearOfManufactureFormGroup.controls['year'].touched && yearOfManufactureFormGroup.controls['year'].dirty && yearOfManufactureFormGroup.controls['year'].hasError('required') && !isSubmitted">
                    <p class="error-message">Year is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && yearOfManufactureFormGroup.controls['year'].hasError('required')">
                    <p class="error-message">Year is mandatory</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                <label for="">Description<sup>*</sup></label>
                <input type="text" formControlName="description" class="form-control" placeholder="Enter Description" />
                <div
                    *ngIf="yearOfManufactureFormGroup.controls['description'].touched && yearOfManufactureFormGroup.controls['description'].dirty && yearOfManufactureFormGroup.controls['description'].hasError('required') && !isSubmitted">
                    <p class="error-message">Description is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && yearOfManufactureFormGroup.controls['description'].hasError('required')">
                    <p class="error-message">Description is mandatory</p>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-end py-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>