<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <form [formGroup]="purchase" (ngSubmit)="addCode()">
        <h2><mat-icon class="back" routerLink="/purchase/purchase-order-list">arrow_back</mat-icon>Purchase Order
            Maintainence</h2>
        <div class="row">
            <div class="col-6 py-2">
                <span for="" class="">PO Type</span>
                <select class="form-select " aria-label="Default select example" formControlName="poType">
                    <option [selected]="purchase.value.poType === ''" value="" hidden>Select
                        PO Type</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span for="" class="">PO Number</span>
                <input type="text" class="form-control " placeholder="Enter PO Number" formControlName="poNumber">
                <span for="" class="">PO Date</span>
                <input type="date" class="form-control " placeholder="Enter Description" formControlName="poDate">
                <span for="" class="">Company Code</span>
                <select class="form-select " aria-label="Default select example" formControlName="companyCode">
                    <option [selected]="purchase.value.companyCode === ''" value="" hidden>Select
                        Company Code</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select><span for="" class="">Purchase Org</span>
                <select class="form-select " aria-label="Default select example" formControlName="purchaseOrg">
                    <option [selected]="purchase.value.purchaseOrg === ''" value="" hidden>Select
                        Purchase Org</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span for="" class="">Payment Term</span>
                <select class="form-select " aria-label="Default select example" formControlName="paymentTerm">
                    <option [selected]="purchase.value.paymentTerm === ''" value="" hidden>Select
                        Payment Term</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select><span for="" class="">Vendor</span>
                <select class="form-select " aria-label="Default select example" formControlName="vendor">
                    <option [selected]="purchase.value.vendor === ''" value="" hidden>Select Vendor</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

                <div *ngIf="purchase.controls['vendor'].touched && purchase.controls['vendor'].dirty && purchase.controls['vendor'].hasError('required') && !isSubmitted">
                    <p class="error-message">vendor is required</p>
                </div>
                <div *ngIf="isSubmitted && purchase.controls['vendor'].hasError('required')">
                    <p class="error-message">vendor is required</p>
                </div>

            </div>
               

            <div class="col-6 py-2">
                <span for="" class="">Net Tax</span>
                <input type="text" class="form-control " placeholder="Enter Net Tax" formControlName="netTax">
                <span for="" class="">Transaction Currency</span>
                <select class="form-select " aria-label="Default select example" formControlName="transactionCurrency">
                    <option [selected]="purchase.value.transactionCurrency === ''" value="" hidden>Select Transaction Currency</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span for="" class="">Exchange Rate</span>
                <input type="text" class="form-control " placeholder="Enter Exchange Rate" formControlName="exchangeRate">
                <span for="" class="">Company Currency</span>
                <input type="text" class="form-control " placeholder="Enter Company Currency"
                    formControlName="companyCurrency">
                <span for="" class="">Remark</span>
                <input type="text" class="form-control " placeholder="Enter Remark" formControlName="remark">
                <span for="" class="">Net Price</span>
                <input type="text" class="form-control " placeholder="Enter Net Price" formControlName="netPrice">

            </div>
        </div>
        <h2>Item Data</h2>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button type="button" class="btn btn-primary m-1" (click)="addItem()"
                    style="color: white;background-color: #00acff;">Add Item</button>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th *ngIf="detail.controls.length > 1">Actions</th>
                            <th>Delievery Address <sup>*</sup></th>
                            <th>Product Code</th>
                            <th>Product Description</th>
                            <th>PO Qty</th>
                            <th>UOM</th>
                            <th>Per Unit Price</th>
                            <th>Pricing Unit</th>
                            <th>Pricing UOM</th>
                            <th>Pricing Amount</th>
                        </tr>
                    </thead>

                    <tbody formArrayName="itemList">
                        <tr *ngFor="let pruchaseOrder of detail.controls; let i = index;" [formGroupName]="i">
                            <td *ngIf="detail.controls.length > 1">
                                <mat-icon style="cursor:pointer" (click)="deleterow(i)">delete</mat-icon>
                            </td>
                            <td>
                                <select class="form-select " aria-label="Default select example"
                                    formControlName="deliveryAddress">
                                    <option [selected]="purchase.value.deliveryAddress === ''" value="" hidden>Select Default Delievery Address</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                        
                            </td>
                            <td>
                                <select class="form-select " aria-label="Default select example"
                                    formControlName="productCode">
                                    <option [selected]="purchase.value.productCode === ''" value="" hidden>Select Product Code</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder="Enter Product Description"
                                    formControlName="productDescription">
                            </td>
                            <td>
                                <input type="number" class="form-control " placeholder="Enter PO Qty"
                                    formControlName="poQty">
                            </td>
                            <td>
                                <select class="form-select " aria-label="Default select example"
                                    formControlName="uom">
                                    <option [selected]="purchase.value.uom === ''" value="" hidden>Select UOM</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder="Enter Per Unit Price"
                                    formControlName="perUnitPrice">
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder="Enter Pricing Unit"
                                    formControlName="priceUnit">
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder="Enter Pricing UOM"
                                    formControlName="priceUom">
                            </td>
                            <td>
                                <input type="text" class="form-control " placeholder="Enter Pricing Amount"
                                    formControlName="priceAmount">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary" >Save</button>
        </div>
    </form>
</div>