<div class="container-fluid">
    <form [formGroup]="purchase" (ngSubmit)="addCode()">
        <h2><mat-icon class="back" routerLink="/purchase/purchase-order-list">arrow_back</mat-icon>Purchase Order
            Maintainence</h2>
        <div class="row">
            <div class="col-6">
                <span for="" class="mt-4">PO Type</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="poType">
                    <option selected>PO Type</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span for="" class="">PO Number</span>
                <input type="text" class="form-control mb-3" placeholder="Enter PO Number" formControlName="poNum">
                <span for="" class="">PO Date</span>
                <input type="date" class="form-control mb-3" placeholder="Enter Description" formControlName="poDate">
                <span for="" class="mt-4">Company Code</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="comCode">
                    <option selected>Company Code</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select><span for="" class="mt-4">Purchase Org</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="purOrg">
                    <option selected>Purchase Org</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select><span for="" class="mt-4">Payment Term</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="payTerm">
                    <option selected>Payment Term</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select><span for="" class="mt-4">Vendor</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="vendor">
                    <option selected>Vendor</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

            </div>
            <div class="col-6">
                <span for="" class="">Net Tax</span>
                <input type="text" class="form-control mb-3" placeholder="Enter Net Tax" formControlName="netTax">
                <span for="" class="mt-4">Transaction Currency</span>
                <select class="form-select mb-3" aria-label="Default select example" formControlName="tranCurr">
                    <option selected>Transaction Currency</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <span for="" class="">Exchange Rate</span>
                <input type="text" class="form-control mb-3" placeholder="Enter Exchange Rate" formControlName="exRate">
                <span for="" class="">Company Currency</span>
                <input type="text" class="form-control mb-3" placeholder="Enter Company Currency"
                    formControlName="comCurr">
                <span for="" class="">Remark</span>
                <input type="text" class="form-control mb-3" placeholder="Enter Remark" formControlName="remark">
                <span for="" class="">Net Price</span>
                <input type="text" class="form-control mb-3" placeholder="Enter Net Price" formControlName="netprice">

            </div>
        </div>
        <h2>Item Data</h2>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button type="button" class="btn btn-primary m-1" (click)="addItem()"
                    style="color: white;background-color: #00acff;">Add Item</button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th *ngIf="detail.controls.length > 1">Actions</th>
                            <th>Delievery Address</th>
                            <th>Product Code</th>
                            <th>Product Description</th>
                            <th>PO Qty</th>
                            <th>UOM</th>
                            <th>Per Unit Price</th>
                            <th>Pricing Unit</th>
                            <th>Pricing UOM</th>
                            <th>Pricing Amount</th>
                        </tr>
                    </thead>

                    <tbody formArrayName="itemList">
                        <tr *ngFor="let pruchaseOrder of detail.controls; let i = index;" [formGroupName]="i">
                            <td *ngIf="detail.controls.length > 1">
                                <mat-icon style="cursor:pointer" (click)="deleterow(i)">delete</mat-icon>
                            </td>
                            <td>
                                <select class="form-select mb-3" aria-label="Default select example"
                                    formControlName="defalut">
                                    <option selected>Default Delievery Address</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select mb-3" aria-label="Default select example"
                                    formControlName="proCode">
                                    <option selected>Product Code</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control mb-3" placeholder="Enter Product Description"
                                    formControlName="proDes">
                            </td>
                            <td>
                                <input type="number" class="form-control mb-3" placeholder="Enter PO Qty"
                                    formControlName="poQty">
                            </td>
                            <td>
                                <select class="form-select mb-3" aria-label="Default select example"
                                    formControlName="uom">
                                    <option selected>UOM</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control mb-3" placeholder="Enter Per Unit Price"
                                    formControlName="unit">
                            </td>
                            <td>
                                <input type="text" class="form-control mb-3" placeholder="Enter Pricing Unit"
                                    formControlName="pricing">
                            </td>
                            <td>
                                <input type="text" class="form-control mb-3" placeholder="Enter Pricing UOM"
                                    formControlName="priuom">
                            </td>
                            <td>
                                <input type="text" class="form-control mb-3" placeholder="Enter Pricing Amount"
                                    formControlName="priceamount">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary" style="background-color: #00acff;">Submit</button>
        </div>
    </form>
</div>