<app-side-nav (isShowNav)="handleSideBar($event)"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">
    <h2><mat-icon class="back" routerLink="/setting/policy-type-list">arrow_back</mat-icon>Policy Type</h2>
    <form [formGroup]="policyTypeFormGroup" (ngSubmit)="submitData()">
        <div class="row border mx-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                <label for="">Policy Type <sup>*</sup></label>
                <input type="text" formControlName="policyType" class="form-control" placeholder="Enter Policy Type"
                    maxlength="10">
                <div
                    *ngIf="policyTypeFormGroup.controls['policyType'].touched && policyTypeFormGroup.controls['policyType'].dirty && policyTypeFormGroup.controls['policyType'].hasError('required') && !isSubmitted">
                    <p class="error-message">Policy Type is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && policyTypeFormGroup.controls['policyType'].hasError('required')">
                    <p class="error-message">Policy Type is mandatory</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2">
                <label for="">Description<sup>*</sup></label>
                <input type="text" formControlName="description" class="form-control" placeholder="Enter Description" />
                <div
                    *ngIf="policyTypeFormGroup.controls['description'].touched && policyTypeFormGroup.controls['description'].dirty && policyTypeFormGroup.controls['description'].hasError('required') && !isSubmitted">
                    <p class="error-message">Description is mandatory</p>
                </div>
                <div *ngIf="isSubmitted && policyTypeFormGroup.controls['description'].hasError('required')">
                    <p class="error-message">Description is mandatory</p>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-end py-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>