<!-- <p>new-login works!</p> -->
<div class="imgbg h-100" >
    <div class="container-fluid">
        <!-- <app-loader *ngIf="isLoader"></app-loader> -->

        <div class="row">
            <section class="wrapper">
                <form [formGroup]="loginFormGroup" (ngSubmit)="loginHandle()">
                    <div class=" col-12 py-1 text-center contain">
                        <img src="assets/logo.jpeg" class="logo" alt="im">
                    </div>

                    <div class="form-group col-12 py-2 " style="position: relative;">

                        <label for="login_password">New Password <sup>*</sup></label>
                        <input [type]="text ? 'text':'password'" class="form-control" id="login_password"
                            formControlName="newPassword" placeholder="New Password" />
                        <div class="eye-icon" style="position: absolute;">
                            <!-- <mat-icon *ngIf="!text" style="display: flex;position: relative; top: 5px; cursor: pointer;"
                                (click)="text=!text">visibility</mat-icon> -->
                                <img src="/assets/logs/view.png" *ngIf="!text" style="cursor: pointer;width: 25px; object-fit: contain;"
                                (click)="text=!text">
                            <mat-icon *ngIf="text" style="display: flex;position: relative; top: 5px; cursor: pointer;font-size: 20px"
                                (click)="text=!text">visibility_off</mat-icon>
                        </div>


                    </div>
                    <div
                        *ngIf="loginFormGroup.controls['newPassword'].touched && loginFormGroup.controls['newPassword'].dirty && loginFormGroup.controls['newPassword'].hasError('required') && !isSubmitted">
                        <p class="error-message">New Password is mandatory</p>
                    </div>
                    <div class="text-red-400 text-sm"
                        *ngIf="this.loginFormGroup.get('newPassword')?.dirty && loginFormGroup.controls['newPassword'].hasError('pattern')">
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('newPassword')?.value?.match('^(?=.*[A-Z])') ? 'green':'red'}">
                            At least one uppercase
                            letter.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('newPassword')?.value?.match('(?=.*[a-z])') ? 'green':'red'}">
                            At least one lowercase
                            letter.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('newPassword')?.value?.match('(.*[0-9].*)') ? 'green':'red'}">
                            At least one
                            digit.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('newPassword')?.value?.match('(?=.*[!@#$%^&*])') ? 'green':'red'}">
                            At least one
                            special
                            character.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('newPassword')?.value?.match('.{8,}') ? 'green':'red'}">
                            At least 8 characters
                            long.</p>

                    </div>

                    <div class="form-group col-12 py-2 " style="position: relative;">

                        <label for="login_password">Confirm Password <sup>*</sup></label>
                        <input [type]="text1 ? 'text':'password'" class="form-control" id="login_password"
                            [ngStyle]="{'color': loginFormGroup.controls['confirmPassword'].hasError('customError') ? 'red' : 'black'}"
                            formControlName="confirmPassword" placeholder="Confirm Password"
                            (focusout)="handlePassword($event)" />
                        <div class="eye-icon" style="position: absolute;">
                            <!-- <mat-icon *ngIf="!text1"
                                style="display: flex;position: relative; top: 5px; cursor: pointer;"
                                (click)="text1=!text1">visibility</mat-icon> -->
                                <img src="/assets/logs/view.png" *ngIf="!text1" style="cursor: pointer;width: 25px; object-fit: contain;"
                                (click)="text1=!text1">
                            <mat-icon *ngIf="text1" style="display: flex;position: relative; top: 5px; cursor: pointer;font-size: 20px"
                                (click)="text1=!text1">visibility_off</mat-icon>
                        </div>


                    </div>
                    <div
                        *ngIf="loginFormGroup.controls['confirmPassword'].touched && loginFormGroup.controls['confirmPassword'].dirty && loginFormGroup.controls['confirmPassword'].hasError('required') && !isSubmitted">
                        <p class="error-message">Confirm Password is mandatory</p>
                    </div>
                    <div *ngIf="isSubmitted && loginFormGroup.controls['confirmPassword'].hasError('required')">
                        <p class="error-message">Confirm Password is mandatory</p>
                    </div>
                    <div *ngIf="loginFormGroup.controls['confirmPassword'].hasError('customError')">
                        <p class="error-message">Confirm Password is not matched New Password</p>
                    </div>
                  

                    <div class="text-red-400 text-sm"
                        *ngIf="this.loginFormGroup.get('confirmPassword')?.dirty && loginFormGroup.controls['confirmPassword'].hasError('pattern')">
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('confirmPassword')?.value?.match('^(?=.*[A-Z])') ? 'green':'red'}">
                            At least one uppercase
                            letter.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('confirmPassword')?.value?.match('(?=.*[a-z])') ? 'green':'red'}">
                            At least one lowercase
                            letter.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('confirmPassword')?.value?.match('(.*[0-9].*)') ? 'green':'red'}">
                            At least one
                            digit.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('confirmPassword')?.value?.match('(?=.*[!@#$%^&*])') ? 'green':'red'}">
                            At least one
                            special
                            character.</p>
                        <p class="block mb-0 py-1"
                            [ngStyle]="{'color': this.loginFormGroup.get('confirmPassword')?.value?.match('.{8,}') ? 'green':'red'}">
                            At least 8 characters
                            long.</p>

                    </div>


                    <div class=" col-12 d-flex justify-content-center py-2">
                        <button type="submit" class="btn btn-primary h-100 w-100"
                            style="background-color: #00acff !important;">Send</button>
                    </div>
                    <div class="form-group col-12  text-center py-2">
                        <!-- <p>Don't have a account? <span class="text-primary" style="cursor: pointer;"
                                routerLink="/authr/register">Sign up</span></p> -->
                        <p style="font-size: 14px;">© 2024-25 Hatchlong I Privacy Police I Terms and Conditions</p>
                    </div>

                </form>

            </section>
        </div>
    </div>
</div>