<div class="container-fluid">
  <h2><mat-icon class="back" routerLink="/settings/plant-data-list">arrow_back</mat-icon>Plant Data</h2>

  <form class="border" [formGroup]="plantFormData" (ngSubmit)="submitData()">
    <div class="row ms-3">
      <div class="col-6 mt-4">
        <span for="">Plant Code </span>
        <input type="text" formControlName="plantCode" class="form-control" />
      </div>

      <div class="col-6 mt-4">
        <span for="">Name 1</span>
        <input type="text" formControlName="name1" class="form-control">
      </div>
    </div>

    <div class="row ms-3">
      <div class="col-6 mt-4">
        <span for="">Name 2</span>
        <input type="text" formControlName="name2" class="form-control">

      </div>

      <div class="col-6 mt-4">
        <span for="">Address</span>
        <input type="text" formControlName="address" class="form-control">

      </div>


    </div>

    <div class="row ms-3">
      <div class="col-6 mt-4">
        <span for="">Language</span>
        <select class="form-select" formControlName="languageId" [ngStyle]="{'pointer-events': !plantFormData.value.countryId ? 'none' :  'all'}">
          <option [selected]="plantFormData.value.languageId === ''" value="" hidden>Select Language</option>
          
          <option [value]="citiesDetails.languageName">{{languageName}}</option>

        </select>
      </div>

      <div class="col-6 mt-4">
        <span for="">Country</span>
        <select class="form-select" formControlName="countryId" 
          (change)="selectCountryName($event)">
          <option [selected]="plantFormData.value.countryId === ''" value="" hidden>Select Country</option>
          <option *ngFor="let list of countryDetials;" [value]="list._id"> {{list.countryName}} </option>
        </select>
      </div>
    </div>

    <div class="row ms-3 mb-4">
      <div class="col-6 mt-4">
        <span for="">City</span>
        <select class="form-select" formControlName="cityId"   [ngStyle]="{'pointer-events': !plantFormData.value.countryId ? 'none' :  'all'}">
          <option [selected]="plantFormData.value.cityId === ''" value="" hidden>Select cities</option>
          <option *ngFor="let list of citiesDetails?.cities?.cities" [value]="list">{{list}}</option>

        </select>
      </div>

      <div class="col-6 mt-4">
        <span for="">Contact Person Name</span>
        <input type="text" formControlName="contactPersonName" class="form-control">
      </div>
    </div>


    <div class="row ms-3 mb-4">
      <div class="col-6 mt-0">
        <span for="">Contact Number </span>
        <input type="number" formControlName="contactNumber" class="form-control">

      </div>

      <div class="col-6 mt-0">
        <span for=""> Time Zone</span>
        <select class="form-select" formControlName="timeZone" >
          <option selected></option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>


    <div class="row ms-3 mb-4">
      <div class="col-6 mt-0">
        <span for="">Search term </span>
        <input type="text" formControlName="searchTerm" class="form-control">

      </div>

      <div class="col-6 mt-0">
        <span for=""> Customer no.-plant </span>
        <input type="text" formControlName="customerNo_plant" class="form-control">
      </div>
    </div>


    <div class="row ms-3 mb-4">
      <div class="col-6 mt-0">
        <span for="">Vendor no.-plant</span>
        <input type="text" formControlName="vendorNumberPlant" class="form-control">

      </div>

      <div class="col-6 mt-0">
        <span for=""> Purch. Organization </span>
        <select class="form-select" formControlName="purchaseOrganizationId" (change)="handlePurchaseOrg($event)">
          <option [selected]="plantFormData.value.purchaseOrganizationId === ''" value="" hidden>Select Purchase Org</option>
          <option *ngFor="let pur of purDetails" [value]="pur._id">{{pur.purchase_org}}</option>
        </select>
      </div>
    </div>


    <div class="row ms-3 mb-4">
      <div class="col-6 mt-0">
        <span for="">Sales Organization</span>
        <select class="form-select" formControlName="salesOrganizationId" >
          <option selected value="">Select Sales Organization</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>


      </div>

      <div class="col-6 mt-0">
        <span for=""> Tax Indicator: Plant </span>
        <select class="form-select" formControlName="taxIndicatorId" (change)="handleTax($event)">
          <option [selected]="plantFormData.value.taxIndicatorId === ''" value="" hidden>Select Tax</option>
          <option *ngFor="let list of taxDetails" [value]="list.tax_ind_code">{{list.description}}</option>
        </select>
      </div>
    </div>

    <div class="row ms-3 mb-4">
      <div class="col-6 mt-0">
        <span for="">Storage Location</span>
        <select class="form-select" formControlName="stoargeLocationId" (change)="handleStorageLocation($event)">
          <option [selected]="plantFormData.value.stoargeLocationId === ''" value="" hidden>Select Storage Location</option>
          <option *ngFor="let list of storgaeLocationDetails" [value]="list.stor_loc_id">{{list.description}}</option>
        </select>


      </div>

    </div>

    <button type="submit" class="btn btn-primary">
      submit
    </button>

  </form>
</div>