<app-side-nav (isShowNav)="handleSideBar($event)" [logoutAction]="idleState"></app-side-nav>
<div class="container-fluid " [ngStyle]="{'padding-left' : isShowPadding ? '280px' : '100px'}">

  <form [formGroup]="plantFormData" (ngSubmit)="submitData()">
    <div class="row">
      <div class="col-12">
        <h2><mat-icon class="back" routerLink="/settings/plant-data-list">arrow_back</mat-icon>Plant</h2>
      </div>
    </div>
    <div class="row border">
      
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">Plant Code<sup>*</sup> </label>
        <input type="text" formControlName="plantCode" class="form-control" placeholder="Enter Plant Code" appDirective/>
        <div
          *ngIf="plantFormData.controls['plantCode'].touched && plantFormData.controls['plantCode'].dirty && plantFormData.controls['plantCode'].hasError('required') && !isSubmitted">
          <p class="error-message">Plant code is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['plantCode'].hasError('required')">
          <p class="error-message">Plant code is mandatory</p>
        </div>
        <div *ngIf="plantFormData.controls['plantCode'].hasError('minlength')">
          <p class="error-message">Must have 6 character</p>
        </div>
        <div *ngIf="plantFormData.controls['plantCode'].hasError('maxlength')">
          <p class="error-message">Must have 6 character</p>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">Plant Name <sup>*</sup></label>
        <input type="text" formControlName="plantName" class="form-control" placeholder="Enter Plant Name">
        <div
          *ngIf="plantFormData.controls['plantName'].touched && plantFormData.controls['plantName'].dirty && plantFormData.controls['plantName'].hasError('required') && !isSubmitted">
          <p class="error-message">Plant Name is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['plantName'].hasError('required')">
          <p class="error-message">Plant Name is mandatory</p>
        </div>
      </div>


      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">Address <sup>*</sup></label>
        <input type="text" formControlName="address" class="form-control" placeholder="Enter Address">
        <div
          *ngIf="plantFormData.controls['address'].touched && plantFormData.controls['address'].dirty && plantFormData.controls['address'].hasError('required') && !isSubmitted">
          <p class="error-message">Address is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['address'].hasError('required')">
          <p class="error-message">Address is mandatory</p>
        </div>

      </div>



      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">Country <sup>*</sup></label>
        <select class="form-select" formControlName="countryId" (change)="selectCountryName($event)">
          <option [selected]="plantFormData.value.countryId === ''" value="" hidden>Select Country</option>
          <option *ngFor="let list of countryDetials| filterPipes:'countryName';" [value]="list._id">
            {{list.countryName}} </option>
        </select>
        <div
          *ngIf="plantFormData.controls['countryId'].touched && plantFormData.controls['countryId'].dirty && plantFormData.controls['countryId'].hasError('required') && !isSubmitted">
          <p class="error-message">Country is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['countryId'].hasError('required')">
          <p class="error-message">Country is mandatory</p>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">State/Province <sup>*</sup></label>
        <select class="form-select" formControlName="stateId"
          [ngStyle]="{'pointer-events': !plantFormData.value.countryId ? 'none' :  'all'}">
          <option [selected]="plantFormData.value.stateId === ''" value="" hidden>Select State/Province</option>
        </select>
        <div
          *ngIf="plantFormData.controls['stateId'].touched && plantFormData.controls['stateId'].dirty && plantFormData.controls['stateId'].hasError('required') && !isSubmitted">
          <p class="error-message">State/Province is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['stateId'].hasError('required')">
          <p class="error-message">State/Province is mandatory</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">City <sup>*</sup></label>
        <select class="form-select" formControlName="cityId"
          [ngStyle]="{'pointer-events': !plantFormData.value.countryId ? 'none' :  'all'}">
          <option [selected]="plantFormData.value.cityId === ''" value="" hidden>Select cities</option>
          <option *ngFor="let list of (citiesDetails?.cities?.cities).sort()" [value]="list">{{list}}</option>
        </select>
        <div
          *ngIf="plantFormData.controls['cityId'].touched && plantFormData.controls['cityId'].dirty && plantFormData.controls['cityId'].hasError('required') && !isSubmitted">
          <p class="error-message">City is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['cityId'].hasError('required')">
          <p class="error-message">City is mandatory</p>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">Language <sup>*</sup></label>
        <select class="form-select " aria-label="Default select example" formControlName="languageId">
          <option [selected]="plantFormData.value.languageId===''" value="" hidden>Select Language</option>
          <option *ngFor="let list of languageDetails | filterPipes:'languageCode';" [value]="list._id">
            {{list.languageCode}}</option>
        </select>
        <div
          *ngIf="plantFormData.controls['languageId'].touched && plantFormData.controls['languageId'].dirty && plantFormData.controls['languageId'].hasError('required') && !isSubmitted">
          <p class="error-message">Language is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['languageId'].hasError('required')">
          <p class="error-message">Language is mandatory</p>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">Contact Person Name </label>
        <input type="text" formControlName="contactPersonName" class="form-control" placeholder="Enter Contact Person ">
        <div
          *ngIf="plantFormData.controls['contactPersonName'].touched && plantFormData.controls['contactPersonName'].dirty && plantFormData.controls['contactPersonName'].hasError('required') && !isSubmitted">
          <p class="error-message">Person Name is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['contactPersonName'].hasError('required')">
          <p class="error-message">Person Name is mandatory</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">Contact Number </label>
        <input type="number" formControlName="contactNumber" class="form-control" placeholder="Enter Contact Number">
        <div
          *ngIf="plantFormData.controls['contactNumber'].touched && plantFormData.controls['contactNumber'].dirty && plantFormData.controls['contactNumber'].hasError('required') && !isSubmitted">
          <p class="error-message">Contact Number is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['contactNumber'].hasError('required')">
          <p class="error-message">Contact Number is mandatory</p>
        </div>

      </div>




      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">Search term </label>
        <input type="text" formControlName="searchTerm" class="form-control" placeholder="Enter Search Term">
        <div
          *ngIf="plantFormData.controls['searchTerm'].touched && plantFormData.controls['searchTerm'].dirty && plantFormData.controls['searchTerm'].hasError('required') && !isSubmitted">
          <p class="error-message">Search Term is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['searchTerm'].hasError('required')">
          <p class="error-message">Search Term is mandatory</p>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">Plant Customer no</label>
        <input type="text" formControlName="customerNo_plant" class="form-control"
          placeholder="Enter Plant Customer No">
        <div
          *ngIf="plantFormData.controls['customerNo_plant'].touched && plantFormData.controls['customerNo_plant'].dirty && plantFormData.controls['customerNo_plant'].hasError('required') && !isSubmitted">
          <p class="error-message">Plant Customer No is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['customerNo_plant'].hasError('required')">
          <p class="error-message">Plant Customer No is mandatory</p>
        </div>
      </div>


      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">Plant Vendor No<sup>*</sup></label>
        <input type="text" formControlName="vendorNumberPlant" class="form-control" placeholder="Enter Plant Vendor No">
        <div
          *ngIf="plantFormData.controls['vendorNumberPlant'].touched && plantFormData.controls['vendorNumberPlant'].dirty && plantFormData.controls['vendorNumberPlant'].hasError('required') && !isSubmitted">
          <p class="error-message">Plant Vendor No is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['vendorNumberPlant'].hasError('required')">
          <p class="error-message">Plant Vendor No is mandatory</p>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for=""> Purchase Organization <sup>*</sup></label>
        <select class="form-select" formControlName="purchaseOrganizationId" (change)="handlePurchaseOrg($event)">
          <option [selected]="plantFormData.value.purchaseOrganizationId === ''" value="" hidden>Select Purchase Organization
          </option>
          <option *ngFor="let pur of purDetails | filterPipes:'purchase_org'" [value]="pur._id">{{pur.purchase_org}}
          </option>
        </select>
        <div
          *ngIf="plantFormData.controls['purchaseOrganizationId'].touched && plantFormData.controls['purchaseOrganizationId'].dirty && plantFormData.controls['purchaseOrganizationId'].hasError('required') && !isSubmitted">
          <p class="error-message">Purchase Organization is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['purchaseOrganizationId'].hasError('required')">
          <p class="error-message">Purchase Organization is mandatory</p>
        </div>
      </div>



      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">Sales Organization <sup>*</sup></label>
        <select class="form-select" formControlName="salesOrganizationId" (change)="handleSalesOrg($event)">
          <option [selected]="plantFormData.value.salesOrganizationId === ''" value="" hidden>Select Sales Organization</option>
          <option *ngFor="let list of salesDetail | filterPipes:'salesOrg'" [value]="list._id">{{list.salesOrg}}
          </option>
        </select>
        <div
          *ngIf="plantFormData.controls['salesOrganizationId'].touched && plantFormData.controls['salesOrganizationId'].dirty && plantFormData.controls['salesOrganizationId'].hasError('required') && !isSubmitted">
          <p class="error-message">Sales Org. is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['salesOrganizationId'].hasError('required')">
          <p class="error-message">Sales Org. is mandatory</p>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for=""> Time Zone <sup>*</sup></label>
        <select class="form-select" formControlName="timeZoneId" (change)="handleTimeZone($event)">
          <option [selected]="plantFormData.value.timeZoneId === ''" value="" hidden>Select Time Zone
          </option>
          <option *ngFor="let list of timeZone | filterPipes:'timeZoneType'" [value]="list._id">{{list.timeZoneType}}
          </option>
        </select>
        <div
          *ngIf="plantFormData.controls['timeZoneId'].touched && plantFormData.controls['timeZoneId'].dirty && plantFormData.controls['timeZoneId'].hasError('required') && !isSubmitted">
          <p class="error-message">Time Zone is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['timeZoneId'].hasError('required')">
          <p class="error-message">Time Zone is mandatory</p>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">  Plant Tax Indicator<sup>*</sup></label>
        <select class="form-select" formControlName="taxIndicatorId" (change)="handleTax($event)">
          <option [selected]="plantFormData.value.taxIndicatorId === ''" value="" hidden>Select Plant Tax Indicator</option>
          <option *ngFor="let list of taxDetails | filterPipes:'description'" [value]="list.tax_ind_code">
            {{list.description}}</option>
        </select>
        <div
          *ngIf="plantFormData.controls['taxIndicatorId'].touched && plantFormData.controls['taxIndicatorId'].dirty && plantFormData.controls['taxIndicatorId'].hasError('required') && !isSubmitted">
          <p class="error-message">Plant Tax Indicator is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['taxIndicatorId'].hasError('required')">
          <p class="error-message">Plant Tax Indicator is mandatory</p>
        </div>
      </div>


      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 ">
        <label for="">Default Storage Location </label>
        <select class="form-select" formControlName="stoargeLocationId" (change)="handleStorageLocation($event)">
          <option [selected]="plantFormData.value.stoargeLocationId === ''" value="" hidden>Select Default Storage Location
          </option>
          <option *ngFor="let list of storgaeLocationDetails | filterPipes:'description'" [value]="list.stor_loc_id">
            {{list.description}}</option>
        </select>
        <div
          *ngIf="plantFormData.controls['stoargeLocationId'].touched && plantFormData.controls['stoargeLocationId'].dirty && plantFormData.controls['stoargeLocationId'].hasError('required') && !isSubmitted">
          <p class="error-message">Storage Location is mandatory</p>
        </div>
        <div *ngIf="isSubmitted && plantFormData.controls['stoargeLocationId'].hasError('required')">
          <p class="error-message">Storage Location is mandatory</p>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 py-2 border">
        <div class="d-flex d-grid gap-3">
         <fieldset>
          <legend>Working Hours</legend>
         </fieldset>
          <div> 
            <label>Start Time</label>
            <timepicker [showMeridian]="false" formControlName="fromTimer"></timepicker>
            <div *ngIf="isSubmitted && plantFormData.controls['fromTimer'].hasError('required')">
              <p class="error-message">Start Time is mandatory</p>
             
            </div>
          
          </div>
          <div>
            <label>End Time</label>
             <timepicker [showMeridian]="false" formControlName="toTimer" [min]="plantFormData.value.fromTimer">
            </timepicker>
            <div *ngIf="isSubmitted && plantFormData.controls['toTimer'].hasError('required')">
              <p class="error-message">End Time is mandatory</p>
            </div>
          </div>
       
        
        </div>
      </div>
      
      
      <div class="col-12 py-2 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">
          Save
        </button>
      </div>
    </div>
  </form>
</div>