
<div class="container-fluid ">
    <div class="row mt-3 ">
      <div class="col-12 ms-0">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mx-2 ">
    
          <!-- <input type="search" name="" id="" placeholder="Search.." class=" mx-2 form-control w-50"> -->
  
        </div>
      </div>
  
  
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
          <button (click)="nextPage('/settings/add-order-status')" class="btn btn-primary" type="button">Add Order Status</button>
  
          <button class="btn btn-danger" type="button">
            <mat-icon style="width: 15px; height: 15px;">delete</mat-icon>
            Delete Selected Order Status</button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Import Order Status</span>
            </button>
            <button mat-menu-item>
              <span>Export Order Status</span>
            </button>
            <button mat-menu-item>
              <span>Sample Order Status Sheet</span>
            </button>
          </mat-menu>
  
        </div>
      </div>
    </div>
    <div class="row mt-4 ms-2">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
               <th scope="col"> SLNo</th>
               <th scope="col"> Order Status</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
                <th scope="col"><input type="checkbox" id="selectAll" [checked]="selectAll" (change)="selectdata($event)"> Select All</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of orderStatusDetail;let i=index">
                <td>{{i+1}}</td>
                <td>{{list.orderStatus}}</td>
                <td>{{list.description}}</td>
                <td>
                  <div class="d-flex">
                    <div>
                      <mat-icon [routerLink]="'/settings/edit-order-status/'+list._id">edit</mat-icon>
                    </div>
                    <div>
                      <mat-icon>delete</mat-icon>
                    </div>
                  </div>
                </td>
                <td><input type="checkbox" class="checkbox" [checked]="list.check" (change)="particularcheck($event,i)"></td>
              </tr>
              
            </tbody>
  
          </table>
        </div>
      </div>
    </div>
  </div>